<div id="mainHolder">
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main">
        <div id="cover-photo" class="">
            <div id="tagline-div" class="row valign-wrapper remove-bottom">
                <span id="tagline" class="valign center-block white-text rockwell">&#8220; MalICSi: Sumaksi, sumali, magkumbinsi! &#8221;</span>
            </div>
            <div id="shortcuts-div" class="row remove-bottom section">
                <div class="col l2 m2 s2 offset-l1 offset-m1 offset-s1">
                    <a href="#about" class="shortcuts tiny btn-floating  palette-1"><i class="tiny material-icons left">description</i></a>&nbsp;<span href="#about" class="telegrafico team-name">About</span>
                </div>
                <div class="col l2 m2 s2">
                    <a href="#lennon" class="shortcuts tiny btn-floating  palette-2"><i class="tiny material-icons left">code</i></a>&nbsp;<span class="telegrafico team-name">Lennon</span>
                </div>
                <div class="col l2 m2 s2">
                    <a href="stuart" class="shortcuts tiny btn-floating  palette-3"><i class="tiny material-icons left">settings</i></a>&nbsp;<span class="telegrafico team-name">Stuart</span>
                </div>
                <div class="col l2 m2 s2">
                    <a href="#ringo" class="shortcuts tiny btn-floating  palette-4"><i class="tiny material-icons left">settings</i></a>&nbsp;<span class="telegrafico team-name">Ringo</span>
                </div>
                <div class="col l2 m2 s2">
                    <a href="mccartney" class="shortcuts tiny btn-floating  palette-5"><i class="tiny material-icons left">settings</i></a>&nbsp;<span class="telegrafico team-name">McCartney</span>
                </div>
            </div>
        </div>
        <br>
        <div id="about" class="container valign-wrapper center">
            <div id="about-content" class="valign center container">
                <h3 class=" rockwell palette-text-3">About</h3>
                <hr class="container">
                <p class="century-gothic">A Game Management System made by 20 junior students of the Institute of Computer Science with the goal of organizing efficiently the yearly sport event of Computer Science undergrduates together with the instructors and the professors.</p>
                <div class="row dev-member-card center bordered-div">
                    <div class="col l5 m5 s5">
                        <img src="../assets/avatars/female_avatar_1.png" class="responsive-img">
                    </div>
                    <div class="col l7 m7 s7">
                        <h5 class="telegrafico">Claizel Coubeili Cepe</h5>
                        <p class="century-gothic">Project Manager</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="lennon" class="container grey center lighten-2">
            <h3 class=" rockwell palette-text-3">Team Lennon</h3>
        </div>

    </div>
</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script>
    $(document).ready(function(){
      $('.scrollspy').scrollSpy();
    });
</script>