<div id="mainHolder" ng-controller="competitorController">
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main" class="parallax-container">
        <!-- competitor Basic Info -->
        <div class="parallax">
            <img src="assets/images/4.jpg">
        </div>
        <div class="row container center">
           <!--  <div id="about-us-img-1" class="cover-photo row hide-on-small-only">&nbsp;</div>
            <div id="about-us-img-1s" class="cover-photo row container hide-on-med-and-up">&nbsp;</div> -->
            <div class="row"><h3 class="rockwell center"><a href="#about-us" class="scrollspy black-text">About Us</a></h3></div>
            <div id="about-us" class="row">
                <div class="row">
                    <h1 class="sansation">
                        &#8220; MalICSi: Sumaksi, sumali, magkumbinsi! &#8221;
                    </h1>
                </div>
                <div id="details-div" class="row">
                    <div class="col l4 m4 s12">
                        <h5 class="telegrafico">Header</h5>
                        <p class="century-gothic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col l4 m4 s12">
                        <h5 class="telegrafico">MALICSI</h5>
                        <p class="century-gothic">A Game Management System made by 20 junior students of the Institute of Computer Science with the goal of organizing efficiently the yearly sport event of Computer Science undergrduates together with the instructors and the professors.</p>
                    </div>
                    <div class="col l4 m4 s12">
                        <h5 class="telegrafico">Header</h5>
                        <p class="century-gothic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row"><h3 class="rockwell">Meet the Developers</h3></div>
                <div class="row center">
                    <div class="col l4 m4 s12 offset-l4 offset-m4">
                         <div class="dev-member-card center bordered-div">
                            <h5 class="telegrafico">Claizel Coubeili Cepe</h5>
                            <p class="century-gothic">Project Manager</p>
                        </div>
                    </div>
                </div>
                <div id="dev-team" class="row center">
                    <div class="col l3 m3 s12 ">
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Blessy Salvania</h5>
                            <p class="century-gothic">Team Leader<br>Front-end Developer</p>
                            <p class="century-gothic"></p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Jourish Abasolo</h5>
                            <p class="century-gothic">Front-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Kenichii Ana</h5>
                            <p class="century-gothic">Front-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Meika Lei Dane</h5>
                            <p class="century-gothic">Front-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Carol Tolentino</h5>
                            <p class="century-gothic">Front-end Developer</p>
                        </div><br>
                    </div>
                    <div class="col-margin-remove col l3 m3 s12">
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Emy Cabarles</h5>
                            <p class="century-gothic">Team Leader<br>Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Clark Daniel Almazan</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Melbex De Leon</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Brixter John Lumabi</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Aleck Menguito</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                    </div>
                    <div class="col-margin-remove col l3 m3 s12">
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Ralph Reyes</h5>
                            <p class="century-gothic">Team Leader<br>Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Claizel Coubeili Cepe</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Adrian Noel</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">John Carlo Ricablanca</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Paula Tan</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                    </div>
                    <div class="col-margin-remove col l3 m3 s12">
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Anton Rufino</h5>
                            <p class="century-gothic">Team Leader<br>Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Patricia Calata</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Jose Miguel Castillo</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">John Louis Gosgolan</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                        <div class="dev-member-card center bordered-div left-align">
                            <h5 class="telegrafico">Paul Jhon Villaro</h5>
                            <p class="century-gothic">Back-end Developer</p>
                        </div><br>
                    </div>
                </div>
            </div>
        </div>         
    </div>
</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
</script>
<!--script type="text/javascript" src="../js/competitor-profile-page.js"></script-->