<div id="mainHolder" ng-controller="AdminCtrl">
	<div id="main">
		<div class="row">
			<!-- SIDE NAV -->
			<div class="col s3 palette-5 admin-fixed-sidebar z-depth-2">
				<div id="admin-title" class="valign-wrapper">
					<div style="width: 100%; text-align: left;">
						<h4 class="rockwell palette-text-3" style="margin:0;">ADMIN  <!-- <i class="fa fa-legal" style="margin-left: 10px; color: white;"></i> --></h4>
						<h4 class="rockwell palette-text-3" style="margin:0;">PANEL</h4>
					</div>
				</div>
				<!-- TAB BUTTONS -->
				<div id="admin-buttons">
					<button class="ad-btn" id="admin-admins-btn" style="background:#00719c;"><div style="width: 90%; float: left;">ADMINS</div> <i class="fa fa-chevron-right"></i></button>
					<button class="ad-btn" id="admin-organizers-btn"><div style="width: 90%; float: left;">ORGANIZERS</div> <i class="fa fa-chevron-right"></i></button>
					<button class="ad-btn" id="admin-users-btn"><div style="width: 90%; float: left;">USERS</div> <i class="fa fa-chevron-right"></i></button>		
					<button class="ad-btn" id="admin-logs-btn"><div style="width: 90%; float: left;">LOGS</div> <i class="fa fa-chevron-right"></i></button>
					<button class="ad-btn" id="admin-spon-btn"><div style="width: 90%; float: left;">SPONSORS</div> <i class="fa fa-chevron-right"></i></button>
				</div>
			</div>

			<!-- NAV VIEWS -->
			<div id="admin-main" class="col s9 offset-s3 admin-padding-left admin-padding-right">
				<!-- Admins -->
				<div id="admin-adminscrud" class="admin-view" style="display: inline;">

					<h4 class="rockwell margin-down-40">Admins</h4>
					<!-- Search Admin -->
					<div class="row search-admin" style="height: 40px; margin-top: 20px; margin-bottom: 0;">
						<div class="col s6 padding-override-0 margin-override-0 " style="height: 100%;">
							<form>
								<input ng-model="adminSearch" type="search" class="margin-override-0 input-box-style" style="height: 38px; width: 100%!important;">
							</form>
						</div>
						<div class="col s4 padding-override-0 margin-override-0" style="height: 100%;">
							<button style="height: 100%;" ng-click="searchAdmin()" class="waves-effect waves-light search-admin-button"><i class="fa fa-search"></i></button>
						</div>
					</div>

					<!-- View Admins -->
					<table>
		            	<thead>
		            		<tr class="telegrafico">
		            			<th>Username</th>
								<th>Email</th>
								<th>Contact</th>
								<th>Inactive / Active</th>
		            		</tr>
		            	</thead>
		            	<tbody class="century-gothic">
		            		<tr ng-repeat="a in admins">
		            			<td class="match-player">
		            				<input type="text" ng-model="a.username" ng-init="a.username">

		            				<!-- <div ng-show="!view">{{a.username}}</div>
		            				<div ng-hide="!view"><input ng-model="a.newUsername" type="text" name="" placeholder="Enter new first name:"></div> -->
		            			</td>
								<td class="match-player">
		            				<input type="text" ng-model="a.email" ng-init="a.email">

		            				<!-- <div ng-show="!view">{{a.email}}</div>
		            				<div ng-hide="!view"><input ng-model="a.newEmail" type="text" name="" placeholder="Enter new first name:"></div> -->
		            			</td>
								<td class="match-player">
									<input type="text" ng-model="a.contact" ng-init="a.contact">		            				
		            				<!-- <div ng-show="!view">{{a.contact}}</div>
		            				<div ng-hide="!view"><input ng-model="a.newContact" type="text" name="" placeholder="Enter new first name:"></div> -->
		            			</td>
								<td class="match-player">
		            				<div class="switch">
										<label>
											<input class="admin-lever" type="checkbox" ng-init="a.is_active" ng-model="a.is_active">
											<span class="lever" checked="{{ a.is_active }}"></span>
									    </label>
									</div>
		            			</td>
		            			<td>
		            				<div class="match-actions" ng-show="a.is_active == true" ng-click="setIsActive(false, a.id, admins)">
		            					<i class="fa fa-minus-square fa-lg"></i>
		            				</div>
									<div class="match-actions" ng-show="a.is_active == false" ng-click="setIsActive(true, a.id, admins)">
		            					<i class="fa fa-plus-square fa-lg"></i>
		            				</div>
		            				<div class="match-actions" ng-click="view = !view; editAdmin(a);" ng-attr-id="admin-edit-{{a.id}}" data-is-editing="false">
		            					<i class="fa fa-pencil-square-o fa-lg"></i>
		            				</div>
		            			</td>
		            		</tr>
		            	</tbody>
		            </table>

		            <!-- Add Admin -->
					<div class="row padding-override-0">
						<div class="col s6 padding-override-0">
							<h6 class="century-gothic strong">ADD ADMIN:</h6>
							<input ng-model="adminUsername"  placeholder="Username" id="name" type="text" class="validate">
							<input ng-model="adminPassword" placeholder="Password" id="password" type="password" class="validate">
							<input ng-model="adminEmail" placeholder="Email" id="email" type="email" class="validate">
							<input ng-model="adminContact" placeholder="Contact" id="contact" type="text" class="validate">
						</div>
					</div>
					
					<div class="row padding-override-0">
						<div class="col s1 padding-override-0">
							<button ng-click="addAdmin()" class=""> SUBMIT </button>
						</div>
					</div>

				</div>

				<!-- Organizer -->
				<div class="admin-view" id="admin-organizerscrud" style="display: none;">
					<h4 class="rockwell">Organizer</h4>
					<div class="col s6">
						<h6 class="century-gothic strong">ADD ORGANIZER:</h6>
						<input ng-model="organizerUsername" placeholder="Username" id="name" type="text" class="validate">
						<input ng-model="organizerPassword" placeholder="Password" id="password" type="password" class="validate">
						<input ng-model="organizerEmail" placeholder="Email" id="email" type="email" class="validate">
						<input ng-model="organizerContact" placeholder="Contact" id="contact" type="text" class="validate">
						<input ng-model="organizerName" placeholder="Name" id="org-name" type="text" class="validate">
						<input ng-model="organizerDescription" placeholder="Description" id="description" type="text" class="validate">
					</div>
					<div class="col s1">
						<button ng-click="addOrganizer()" class="minimalist-button"> SUBMIT </button>
					</div>
					<div class="row center">
						<div class="col s12">
							<form id="adminpanel-game-search-bar">
								<input ng-model="organizerSearch" type="search" >
							</form>
							<a ng-click="searchOrganizer()" class="waves-effect waves-light btn palette-2">Search</a>
						</div>
						<!--<div class="col s6">

						</div>-->
					</div>
					<table>
		            	<thead>
		            		<tr class="telegrafico">
		            			<th>Name</th>
								<th>Description</th>
								<th>Inactive / Active</th>
		            			<th></th>
		            		</tr>
		            	</thead>
		            	<tbody class="century-gothic">
		            		<tr ng-repeat="o in organizers">
		            			<td class="match-player">
		            				<input type="text" ng-model="o.name" ng-init="o.name">
		            				<!-- <div ng-show="!view">{{o.name}}</div> -->
		            				<!-- <div ng-hide="!view"><input type="text" name="" placeholder="Enter new name"></div> -->
		            			</td>
								<td class="match-player">
									<input type="text" ng-model="o.description" ng-init="o.description">
		            				<!-- <div ng-show="!view">{{o.description}}</div> -->
		            				<!-- <div ng-hide="!view"><input type="text" name="" placeholder="Enter new description"></div> -->
		            			</td>
								<td class="match-player">
		            				<!-- <div ng-show="!view">{{!!o.is_active}}</div> -->
		            				<div class="switch">
										<label>
											<input class="admin-lever" type="checkbox" ng-init="o.is_active" ng-model="o.is_active">
											<span class="lever"></span>
									    </label>
									</div>
		            			</td>
		            			<td>
									<!-- <div class="match-actions" ng-show="o.is_active == true" ng-click="setIsActive(false, o.id, organizers)">
		            					<i class="fa fa-minus-square fa-lg"></i>
		            				</div>
									<div class="match-actions" ng-show="o.is_active == false" ng-click="setIsActive(true, o.id, organizers)">
		            					<i class="fa fa-plus-square fa-lg"></i>
		            				</div> -->
		            				<div class="match-actions" ng-click="view = !view">
		            					<i class="fa fa-pencil-square-o fa-lg"></i>
		            				</div>
		            			</td>
		            		</tr>

		            	</tbody>
		            </table>

				</div>

				<!-- Users -->
				<div class="admin-view" id="admin-userscrud" style="display: none;">
					<h4 class="rockwell">Users</h4>
					<div class="col s6">
						<h6 class="century-gothic strong">ADD USER:</h6>
						<input placeholder="Username" id="name" type="text" class="validate">
						<input placeholder="Password" id="password" type="password" class="validate">
						<input placeholder="Email address" id="email-address" type="email" class="validate">
						<input placeholder="Contact number" id="contact-number" type="text" class="validate">
					</div>
					<div class="col s1">
						<button class="minimalist-button"> SUBMIT </button>
					</div>
					<div class="row center">
						<div class="col s12">
							<form id="adminpanel-game-search-bar">
								<input type="search" >
							</form>
							<a class="waves-effect waves-light btn palette-2">Search</a>
						</div>
						<!--<div class="col s6">

						</div>-->
					</div>
					<table>
		            	<thead>
		            		<tr class="telegrafico">
		            			<th>Username</th>
		            			<th>Password</th>
		            			<th>Email</th>
		            			<th>Contact</th>
		            		</tr>
		            	</thead>
		            	<tbody class="century-gothic">
		            		<tr>
		            			<td class="match-player">
		            				<div ng-show="!view">jdcruz</div>
		            				<div ng-hide="!view"><input type="text" name="" placeholder="Enter new name"></div>
		            			</td>
		            			<td class="match-player">
		            				<div ng-show="!view">hailcaesarcypher</div>
		            				<div ng-hide="!view"><input type="text" name="" placeholder="Enter new description"></div>
		            			</td>
		            			<td class="match-player">
		            				<div ng-show="!view">asdfasdf@yhao.com</div>
		            				<div ng-hide="!view"><input type="text" name="" placeholder="Enter new description"></div>
		            			</td>
		            			<td class="match-player">
		            				<div ng-show="!view">09352452023</div>
		            				<div ng-hide="!view"><input type="text" name="" placeholder="Enter new description"></div>
		            			</td>
		            			<td>
		            				<div class="match-actions">
		            					<i class="fa fa-minus-square fa-lg"></i>
		            				</div>
		            				<div class="match-actions" ng-click="view = !view">
		            					<i class="fa fa-pencil-square-o fa-lg"></i>
		            				</div>
		            			</td>
		            		</tr>

		            		<tr>
		            			<td class="match-player">
		            				<div ng-show="!view1">jdcruz</div>
		            				<div ng-hide="!view1"><input type="text" name="" placeholder="Enter new name"></div>
		            			</td>
		            			<td class="match-player">
		            				<div ng-show="!view1">hailcaesarcypher</div>
		            				<div ng-hide="!view1"><input type="text" name="" placeholder="Enter new description"></div>
		            			</td>
		            			<td class="match-player">
		            				<div ng-show="!view1">asdfasdf@yhao.com</div>
		            				<div ng-hide="!view1"><input type="text" name="" placeholder="Enter new description"></div>
		            			</td>
		            			<td class="match-player">
		            				<div ng-show="!view1">09352452023</div>
		            				<div ng-hide="!view1"><input type="text" name="" placeholder="Enter new description"></div>
		            			</td>
		            			<td>
		            				<div class="match-actions">
		            					<i class="fa fa-minus-square fa-lg"></i>
		            				</div>
		            				<div class="match-actions" ng-click="view1 = !view1">
		            					<i class="fa fa-pencil-square-o fa-lg"></i>
		            				</div>
		            			</td>
		            		</tr>
		            	</tbody>
		            </table>

				</div>

				<!-- Logs -->
				<div class="admin-view" id="admin-logsview" style="display: none;">
					<h4 class="rockwell">Logs</h4>
					<div class="row center">
						<div class="col s12">
							<form id="adminpanel-game-search-bar">
								<input type="search" >
							</form>
							<a class="waves-effect waves-light btn palette-2">Search</a>
						</div>
						<!--<div class="col s6">

						</div>-->
					</div>
					<table>
		            	<thead>
		            		<tr class="telegrafico">
		            			<th>Log Id</th>
		            			<th>Id</th>
		            			<th>Content</th>
		            			<th>Date Created</th>
		            		</tr>
		            	</thead>
		            	<tbody class="century-gothic">
		            		<tr ng-repeat="l in logs">
		            			<td>{{l.log_id}}</td>
		            			<td>{{l.user_id}}</td>
		            			<td>{{l.log_msg}}</td>
		            			<td>{{l.date_created}}</td>
		            		</tr>
		            	</tbody>
		            </table>

				</div>

				<!-- Sponsors -->
				<div class="admin-view" id="admin-sponsview" style="display: none;">
					<h4 class="rockwell">Sponsors</h4>
					<div class="row center">
						<div class="col s12">
							<form id="adminpanel-game-search-bar">
								<input type="search" >
							</form>
							<a class="waves-effect waves-light btn palette-2">Search</a>
						</div>
						<!--<div class="col s6">

						</div>-->
					</div>
					<table>
		            	<thead>
		            		<tr class="telegrafico">
		            			<th>Spon Id</th>
		            			<th>Name</th>
		            			<th>Description</th>
		            			<th>Actions</th>
		            		</tr>
		            	</thead>
		            	<tbody class="century-gothic">
		            		<tr>
		            			<td>1</td>
		            			<td>Maligo Ka Na, Inc.</td>
		            			<td>We are cute sponsoring institution. SO fab you'll trust us forever. We mabango because we ligo</td>
		            			<td></td>
		            		</tr>
		            	</tbody>
		            </table>

				</div>

			</div>
		</div>
	</div>
</div>

<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>
<script src="frontend_modules/js/materialize.js"></script>
<script src="js/admin-panel.js"></script>
