<div id="mainHolder" >
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main" class="">
        <div class="row palette-3 competitor-profile-info">
            <div class="col l3 m5 s12 offset-l1 center">
                <img id="competitor-profile-img" src="assets/avatar.png" class="pallette-3">
            </div>

            <div id="competitor-basic-info" class="col l5 m5 s12 white-text" ng-init="getCompetitor()">
                <h3 class="rockwell">{{ competitor.nickname }}</h3>
                <p class="telegrafico">
                    {{ competitor.first_name }} {{ competitor.last_name}}
                </p>
                <p class="telegrafico">Contact: {{ competitor.contact }} | E-mail: {{ competitor.email }}</p>
                <p class="telegrafico">
                    {{ competitor.bio }}
                </p>        
            </div>        
            <div class="col l2 m2 s12">
                <br><br>
                <button class="minimalist-button-org" id="edit-profile-button" data-target="edit-profile-modal">EDIT PROFILE</button>
            </div>
        </div>

        <div class="container col s12">
            <ul id="competitor-profile-tabs" class="tabs">
                <li class="tab col s3"><a class="blue-text darken-3 telegrafico active" href="#profile-div">Profile</a></li>
                <li class="tab col s3"><a class="blue-text darken-3 telegrafico " href="#teams-managed-div">Teams Managed</a></li>
                <li class="tab col s3"><a class="blue-text darken-3 telegrafico " href="#pending-requests-div">Pending Requests</a></li>
            </ul>
        </div>
        <div id="profile-div" class="col s12">
            <div class="row container">
                <div class="col s12 m5 l4">
                    <!-- Statistics -->
                    <h5 class="rockwell center">Statistics</h5>
                    <div class="row palette-border-5" id="competitor-profile-add-game">
                        <div id="competitor-stats-panel" class="grey lighten-2 col l12 m12 s12">
                            <div class="row">
                                <br>
                                <div id="stats-panel" class="container">
                                    <div id="wins-badge" class="circle container valign-wrapper">
                                        <div class="valign center-block">
                                            <div id="wins-stat" class="center-align">{{rankings.first}}</div>
                                            <div class="telegrafico">FIRST</div>
                                        </div>
                                    </div>
                                    <div class="row center-block margin-bottom-0">
                                        <div class="col l6 m6 s6 center-block">
                                            <div id="draws-badge" class="stats-badge circle container valign-wrapper">
                                                <div class="valign center-block">
                                                    <div class="stats-num center-align">{{rankings.second}}</div>
                                                    <div class="stat-desc telegrafico">SECOND</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col l6 m6 s6 center-block">
                                            <div id="losses-badge" class="stats-badge circle container valign-wrapper">
                                                <div class="valign center-block">
                                                    <div class="stats-num center-align">{{rankings.third}}</div>
                                                    <div class="stat-desc telegrafico">THIRD</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row center">
                                <div class="input-field col l12 m12 s12 ">
                                    <select class="browser-default minimalist-button" ng-click="getTeamRankings()" ng-model="RankingSportID">
                                        <option value="" selected disabled>Sports</option>
                                        <option value="{{sport.sport_id}}" ng-repeat="sport in competitorteams" >{{sport.sport_name}}</option>
                                    </select>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Affiliations -->
                <div class="col s12 m7 l8">
                    <h5 class="rockwell center">Affiliations</h5>
                    
                    <div class="tablewrapper">
                        <table class="bordered highlight" ng-init="getCompetitorTeams()">
                            <thead>
                                <tr class="white-text palette-3 telegrafico">
                                    <th>Team Name</th>
                                    <th class="centered">Sports</th>
                                    <th class="centered">Game</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="century-gothic" ng-repeat="team in competitorteams">
                                    <td>{{team.team_name}}</td>
                                    <td class="centered"><a href="#/sports/{{team.sport_id}}">{{team.sport_name}}</a></td>
                                    <td class="centered"><a href="#/game/{{team.game_id}}">{{team.name}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Sports Played -->

            <div class="divider container"></div><br>

            <!-- Games Participated-->
            <div class="row container" ng-init="">
                <h5 class="rockwell left-align">Games Participated</h5><br>    
                <div class="row">
                    <div class="col s3 m3 l2 push-s9 push-m9 push-l10 center-align recent-games-card see-more">
                        <button href="" data-target="competitor-allgames-modal" class="minimalist-button"> See more </button>
                    </div>
                    <div class="col s3 m3 l3 pull-s3 pull-m3 pull-l2 center-align recent-games-card" ng-repeat="game in competitorgames | limitTo: 3"><a href="#/game/{{game.game_id}}">
                        <h4 class="rockwell strong palette-text-4">{{ game.name }}</h4>
                        <span class="century-gothic secondary-text">{{ game.location }}</span>
                        </a>
                    </div>
                    <!-- <div class="col s3 m3 l3 pull-s3 pull-m3 pull-l2 center-align recent-games-card">
                        <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                        <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
                    </div>
                    <div class="col s3 m3 l3 pull-s3 pull-m3 pull-l2 center-align recent-games-card">
                        <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                        <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
                    </div> -->
                </div>
            </div><br>

            <div class="row competitor-footer black">
                <div class="black">
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#"> Help </a></li>
                        <li><a href="#"> About Us </a></li>
                        <li>All Rights Reserved</li>
                    </ul>
                </div>
            </div>

        </div>

        <div id="teams-managed-div" class="col s12" ng-init="getCoachedTeam()">
            <div class="row container">
                <br>
                <div class="right-align"><button id="create-team-button" data-target="create-team-modal" class="minimalist-button modal-trigger">Create a Team</button></div>

                <ul class="collapsible" data-collapsible="accordion" ng-click="getTeamMembers(cteam.team_id)">
                    <li ng-repeat="cteam in coachedteam" >
                        <div class="collapsible-header active" ng-init="countMembersInTeam(cteam.team_id)">
                            <div class="row remove-bottom century-gothic">
                                <div class="col l3 m3 s3"><b>{{cteam.team_name}}</b></div>
                                <div class="col l5 m5 s5">{{cteam.name}}</div>
                                <div class="col l3 m3 s3">{{cteam.sport_name}}</div>
                                <div class="col l3 m3 s3">{{membercount}}</div>
                                <div class="col l1 m1 s1 center-block">
                                     <div class="competitor-actions" data-target="competitor-delete-team-modal"><i class="fa fa-times fa-lg tooltipped" data-position="top" data-delay="150" data-tooltip="Delete Team" ng-click="team.team_id=cteam.team_id"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <span class="telegrafico">Max Members: {{cteam.max_members}}</span>
                            <div class="chip" ng-repeat="member in teammembers">{{member.first_name}} {{member.last_name}}<i class="close material-icons">close</i></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="pending-requests-div" class="col s12" ng-init="getPendingRequests()">
            <div class="row container">
                <div class="col s12 bottom-margin">
                    <h5 class="rockwell">Applications</h5>
                    <table class="highlight responsive-table">
                        <tbody>
                            <tr class="century-gothic" ng-repeat="pr in pendingRequests">
                                <td class="bold">{{ pr.first_name }} {{ pr.last_name }}</td>
                                <td>{{ pr.sport_name }}</td>
                                <td>{{ pr.team_name }}</td>
                                <td>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Accept Applicant" data-target="competitor-accept-applicant-modal">
                                        <i class="fa fa-check fa-lg" ng-click="pendingRequests.team_id=pr.team_id; pendingRequests.id=pr.id; pendingRequests.first_name=pr.first_name; pendingRequests.team_name=pr.team_name"></i>
                                    </div>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Decline Applicant" data-target="competitor-decline-applicant-modal">
                                        <i class="fa fa-times fa-lg" ng-click="pendingRequests.team_id=pr.team_id; pendingRequests.id=pr.id; pendingRequests.first_name=pr.first_name; pendingRequests.team_name=pr.team_name"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container divider"></div>
                <!-- <div class="col s12">
                    <h5 class="rockwell">Invites</h5>
                    <table class="highlight responsive-table">
                        <tbody>
                            <tr class="century-gothic">
                                <td class="bold">Jane Mare</td>
                                <td>Team-You-Are-Invited-To</td>
                                <td>Basketball</td>
                                <td>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Accept Invitation" data-target="competitor-accept-invitation-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Decline Invitation" data-target="competitor-decline-invitation-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="century-gothic">
                                <td class="bold">Jean Mare</td>
                                <td>Team-You-Are-Invited-To</td>
                                <td>Football</td>
                                <td>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Accept Invitation" data-target="competitor-accept-invitation-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Decline Invitation" data-target="competitor-decline-invitation-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="century-gothic">
                                <td class="bold">Joan Mare</td>
                                <td>Team-You-Are-Invited-To</td>
                                <td>Hockey</td>
   
                                <td>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Accept Invitation" data-target="competitor-accept-invitation-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Decline Invitation" data-target="competitor-decline-invitation-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>

    </div>

<!-- Edit Profile Modal -->
<div id="edit-profile-modal" class="modal modal-fixed-footer">
    <div class="modal-content competitor-header-fill century-gothic">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Edit Profile</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container  competitor-add-modal-content">
            <div class="input-field col s6 competitor-input-color-change">
                <input placeholder=" " id="first-name" type="text" class="validate" ng-model="competitor.first_name">
                <label for="first-name">First Name</label>
            </div>
            <div class="input-field col s6 competitor-input-color-change">
                <input placeholder=" " id="last-name" type="text" class="validate" ng-model="competitor.last_name">
                <label for="last-name">Last Name</label>
            </div>
            <div class="input-field col s4 competitor-input-color-change">
                <input placeholder=" " id="nickname" type="text" class="validate" ng-model="competitor.nickname">
                <label for="nickname">Nickname</label>
            </div>
            <div class="input-field col s4 competitor-input-color-change">
                <input id="birthdate" type="date" class="validate" ng-model="bday">
                <label for="birthdate" class="competitor-adjust-label">Birthdate</label>
            </div>
            <div class="input-field col s4">
                <label class="competitor-adjust-label">Sex</label><br>
                <span><input id="male" type="radio" name="gender" value="M" class="with-gap" ng-model="competitor.sex">
                <label class="competitor-adjust-label" for="male">Male</label></span>
                <span><input id="female" type="radio" name="gender" value="F" class="with-gap"  ng-model="competitor.sex">
                <label class="competitor-adjust-label" for="female">Female</label></span>
            </div>
            <div class="input-field col s6 competitor-input-color-change" >
                <input placeholder=" " id="contact" type="text" class="validate" ng-model="competitor.contact">
                <label for="contact">Contact</label>
            </div>
            <div class="input-field col s6 competitor-input-color-change">
                <input placeholder=" " id="email" type="email" class="validate" ng-model="competitor.email">
                <label for="email">Email</label>
            </div>
            <div class="input-field col s12 competitor-input-color-change">
                <textarea placeholder=" " id="bio" class="materialize-textarea" data-length="140" ng-model="competitor.bio"></textarea>
                <label for="Bio" class="competitor-textarea-label-color-change">Bio</label>
            </div>
            <div class="input-field col s6 competitor-input-color-change">
                <input placeholder=" " id="first-name" type="text" class="validate" ng-model="competitor.username">
                <label for="first-name">Username</label>
            </div>
            <div class="input-field col s6 competitor-input-color-change">
                <input placeholder=" " id="last-name" type="password" class="validate" ng-model="competitor.password">
                <label for="last-name">Password</label>
            </div>
            <div class="row">
                <div class="file-title col s12 century-gothic valign-wrapper">
                    <label class="active">Profile Picture</label>
                </div>

                <div class="col s12">
                    <form action="#">
                        <div class="file-field input-field">
                            <div class="btn file-button blue darken-4">
                                <span class="telegrafico">File</span>
                                <input type="file">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="editCompetitor()">UPDATE</button>
    </div>
</div>

<!-- Create Team Modal -->
<div id="create-team-modal" class="modal modal-fixed-footer">
    <div class="modal-content competitor-header-fill century-gothic">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Create a Team</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container  competitor-add-modal-content">
            <div class="input-field col l9 m9 s12 competitor-input-color-change">
                <input placeholder="" id="team_name" type="text" class="validate" ng-model="team.team_name">
                <label for="team-name">Team Name</label>
            </div>
            <div class="input-field col s3 m3 s12 competitor-input-color-change">
                <input placeholder="" id="max_members" type="text" class="validate" ng-model="team.max_members">
                <label for="max-members">Max Members</label>
            </div>
            <div class="input-field col l6 m6 s12" ng-init="listAllGames()">
                <label class="active">Game</label><br>
                <select class="browser-default" ng-model="game" ng-click="listAllSportAndOrganization()" ng-options="game.name for game in listgames">
                </select>
            </div>
            <div class="input-field col l6 m6 s12">
                <label class="active">Sports</label><br>
                <select class="browser-default" ng-model="team.sport_id" ng-options="sport.sport_name for sport in sports">
                    <option selected disabled class="white black-text" value="">&nbsp;</option>
                </select>
            </div><br>
            <div class="input-field col l6 m6 s12">
                <label class="active">Organization</label><br>
                <select class="browser-default" ng-model="team.team_organization" ng-options="organization.name for organization in organizations">
                    <option selected disabled class="white black-text" value="">&nbsp;</option>
                </select>
            </div>
        </div>
    </div>  

    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="createTeam()">CREATE</button>
    </div>
</div>

<!--All games participated modal-->
<div id="competitor-allgames-modal" class="modal modal-fixed-footer">
    <div class="modal-content competitor-header-fill century-gothic">
        <div class="row competitor-remove-bottom">
                <div class="col s12 competitor-padding-left competitor-padding-right">
                    <div class="center palette-5">
                        <br>
                            <div class="card-title white-text center telegrafico" id="thicken">
                                <h4 class="competitor-remove-bottom-modal">Games Participated</h4>
                            </div>
                        <br>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col s4 m4 l4 center-align all-games-card" ng-repeat="game in competitorgames">
                <a href="#/game/{{game.game_id}}">
                    <h4 class="rockwell strong palette-text-4">{{ game.name }}</h4>
                    <span class="century-gothic secondary-text">{{ game.location }}</span>
                </a>
            </div>
            <!-- <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div> -->
        </div>
        <!-- <div class="row">
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
        </div> -->
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button">CLOSE</button>
    </div>
</div>

<!-- Accept Applicant Modal -->
<div id="competitor-accept-applicant-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Accept Applicant</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to accept {{ pendingRequests.first_name}}'s request to join {{ pendingRequests.team_name }}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="acceptMembershipRequest()">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Decline Applicant Modal -->
<div id="competitor-decline-applicant-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Decline Applicant</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to decline {{ pendingRequests.first_name}}'s request to join {{ pendingRequests.team_name }}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="deleteMembershipRequest()">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Accept Invitation Modal -->
<div id="competitor-accept-invitation-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Accept Invitation</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to accept [INVITEE NAME]'s request to join [TEAM NAME]?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" onclick="Materialize.toast('Invitation Accepted', 4000)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Decline Invitation Modal -->
<div id="competitor-decline-invitation-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Decline Invitation</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to decline [INVITEE NAME]'s request to join [TEAM NAME]?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" onclick="Materialize.toast('Invitation Declined', 4000)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Delete Team Modal -->
<div id="competitor-delete-team-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Delete Team</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to delete {{ team.team_name }}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="deleteTeam(team.team_id)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Delete Team Member Modal -->
<div id="competitor-remove-member" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Remove Team Member</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to remove [TEAM MEMBER] from the [TEAM NAME]?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat" onclick="Materialize.toast('Member Removed', 3000)"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/competitor-profile-page.js"></script>