<div id="mainHolder" >
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main" class="">
        <div class="row palette-3 competitor-profile-info" ng-init="getCompetitor()">
            <div id="competitor-profile-img-container" class="col l3 m5 s12 offset-l1 center">
                <br>
                <div id="competitor-profile-img" class="center-block materialboxed" style="background-image:url('uploads/{{competitor.id}}.png');">&nbsp;</div>
            </div>

            <div id="competitor-basic-info" class="col l5 m5 s12 white-text">
                <h3 class="rockwell hide-on-small-only">{{ competitor.nickname }}</h3>
                <div class="row hide-on-med-and-up">
                    <h3 class="rockwell col s7">{{ competitor.nickname }}</h3>
                    <div class="col s5">
                        <br>
                        <button class="minimalist-button-org" id="edit-profile-button" data-target="edit-profile-modal">EDIT PROFILE</button>
                    </div>
                </div>
                <p class="telegrafico">
                    {{ competitor.first_name }} {{ competitor.last_name}}
                </p>
                <p class="telegrafico">Contact: {{ competitor.contact }} | E-mail: {{ competitor.email }}</p>
                <p class="telegrafico">
                    {{ competitor.bio }}
                </p>        
            </div>        
            <div class="col l2 m2 s12 hide-on-small-only">
                <br><br>
                <button class="minimalist-button-org" id="edit-profile-button" data-target="edit-profile-modal">EDIT PROFILE</button>
            </div>
        </div>

        <div class="container col s12">
            <ul id="competitor-profile-tabs" class="tabs">
                <li class="tab col s3">
                    <a class="blue-text darken-3 telegrafico active" href="#profile-div">Profile</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-text darken-3 telegrafico hide-on-small-only" href="#teams-managed-div" ng-click="getCoachedTeam()">Teams Managed</a>
                    <a class="blue-text darken-3 telegrafico hide-on-med-and-up" href="#teams-managed-div" ng-click="getCoachedTeam()">Teams</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-text darken-3 telegrafico hide-on-small-only" href="#pending-requests-div">Pending Requests</a>
                    <a class="blue-text darken-3 telegrafico hide-on-med-and-up" href="#pending-requests-div">Requests</a>
                </li>
            </ul>
        </div>
        <div id="profile-div" class="col s12">
            <div class="row container">
                <div class="col s12 m5 l4">
                    <!-- Statistics -->
                    <h5 class="rockwell center">Statistics</h5>
                    <div class="row palette-border-5" id="competitor-profile-add-game">
                        <div id="competitor-stats-panel" class="grey lighten-2 col l12 m12 s12">
                            <div class="row">
                                <br>
                                <div id="stats-panel" class="container">
                                    <div id="wins-badge" class="circle container valign-wrapper">
                                        <div class="valign center-block">
                                            <div id="wins-stat" class="center-align">{{rankings.first}}</div>
                                            <div class="telegrafico">FIRST</div>
                                        </div>
                                    </div>
                                    <div class="row center-block margin-bottom-0">
                                        <div class="col l6 m6 s6 center-block">
                                            <div id="draws-badge" class="stats-badge circle container valign-wrapper">
                                                <div class="valign center-block">
                                                    <div class="stats-num center-align">{{rankings.second}}</div>
                                                    <div class="stat-desc telegrafico">SECOND</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col l6 m6 s6 center-block">
                                            <div id="losses-badge" class="stats-badge circle container valign-wrapper">
                                                <div class="valign center-block">
                                                    <div class="stats-num center-align">{{rankings.third}}</div>
                                                    <div class="stat-desc telegrafico">THIRD</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row center">
                                <div class="input-field col l12 m12 s12 ">
                                    <select class="browser-default minimalist-button" ng-click="getTeamRankings(competitor.id)" ng-model="RankingSportID">
                                        <option value="" selected disabled>Sports</option>
                                        <option value="{{sport.sport_id}}" ng-repeat="sport in competitorteams" >{{sport.sport_name}}</option>
                                    </select>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Affiliations -->
                <div class="col s12 m7 l8">
                    <h5 class="rockwell center">Affiliations</h5>
                    
                    <div class="tablewrapper">
                        <table class="bordered centered highlight" ng-init="getCompetitorTeams()">
                            <thead>
                                <tr class="white-text palette-3 telegrafico">
                                    <th style="padding-left: 10px;" class="left">Team Name</th>
                                    <th>Sports</th>
                                    <th>Game</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="century-gothic" ng-repeat="team in competitorteams">
                                    <td style="padding-left: 10px;" class="left">{{team.team_name}}</td>
                                    <td><a href="#/sports/{{team.sport_id}}">{{team.sport_name}}</a></td>
                                    <td><a href="#/game/{{team.game_id}}">{{team.name}}</a></td>
                                </tr>
                            </tbody>
                        </table>
                        <h4 class="center telegrafico strong palette-text-4" ng-hide="competitorteams.length != 0"><br><br> No Teams</h4>
                    </div>
                </div>
            </div>

            <!-- Sports Played -->

            <div class="divider container"></div><br>

            <!-- Games Participated-->
            <div class="row container" ng-init="">
                <h5 class="rockwell left-align">Games Participated</h5><br>    
                <div class="row">
                    <div class="col m2 l2 push-m10 push-l10 center-align recent-games-card see-more hide-on-small-only">
                        <button ng-hide="competitorgames.length <= 3" data-target="competitor-allgames-modal" class="minimalist-button"> See more </button>
                    </div>
                    <div class="" ng-hide="competitorgames.length != 0"><a>
                        <h4 class="telegrafico strong palette-text-4">No Games</h4>
                        <span class="century-gothic secondary-text"></span>
                        </a>
                    </div>
                    <div class="col s12 m3 l3 pull-m3 pull-l2 center-align recent-games-card" ng-repeat="game in competitorgames | limitTo: 3"><a href="#/game/{{game.game_id}}">
                        <h4 class="rockwell strong palette-text-4">{{ game.name }}</h4>
                        <span class="century-gothic secondary-text">{{ game.location }}</span>
                        </a>
                    </div>
                    <div class="col s4 offset-s4 center-align recent-games-card see-more hide-on-med-and-up">
                        <button href="" ng-hide="competitorgames.length <= 3" data-target="competitor-allgames-modal" class="minimalist-button"> See more </button>
                    </div>
                </div>
            </div><br>
        </div>

        <div id="teams-managed-div" class="col s12" ng-init="getCoachedTeam()">
            <div class="row container">
                <br>
                <div class="right-align"><button id="create-team-button" data-target="create-team-modal" class="minimalist-button modal-trigger">Create a Team</button></div>
                <ul class="collapsible z-depth-0" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header grey lighten-2 remove-bottom">
                            <div id="teams-managed-header" class="row remove-bottom telegrafico">
                                <div class="col l3 m3 s3 font-pt-18">Team Name</div>
                                <div class="col l5 m5 s5 font-pt-18 center">Organization</div>
                                <div class="col l3 m3 s3 font-pt-18 center">Sports</div>
                                <div class="col l1 m1 s1 center-block">
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="competitor-cteam" ng-repeat="cteam in coachedteam" ng-click="getTeamMembers(cteam.team_id); isFull(cteam.team_id)">
                        <div class="collapsible-header active">
                            <div class="row remove-bottom century-gothic">
                                <div class="col l3 m3 s3">{{cteam.team_name}}</div>
                                <div class="col l5 m5 s5 center">{{cteam.name}}</div>
                                <div class="col l3 m3 s3 center">{{cteam.sport_name}}</div>
                                <div class="col l1 m1 s1 center-block">
                                     <div class="competitor-actions" data-target="competitor-delete-team-modal"><i class="fa fa-times fa-lg tooltipped" data-position="top" data-delay="20" data-tooltip="Delete Team" ng-click="team.team_id=cteam.team_id"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <div class="row remove-bottom">
                                <div class="col l11 m11 s11">
                                    <div class="telegrafico">Members <span class="rockwell">({{membercount}}/{{cteam.max_members}})</span>:</div>
                                    <div class="chip" ng-repeat="member in teammembers" ng-hide="member.is_member == 0"><a class="palette-text-4" href="/#/competitor/profile/{{member.id}}">{{member.first_name}} {{member.last_name}}</a><i class="close material-icons"><a class="palette-text-4" data-target="competitor-remove-member" ng-click = "setKickMember(cteam,member)">close</a></i></div>
                                </div>
                                <div class="col l1 m1 s1" style="padding-left:0px;padding-right:0px;">
                                    <br>
                                    <div class="competitor-actions" data-target="competitor-add-member-modal">
                                        <i class="fa fa-plus fa-lg" ng-click="getRecruitRoaster(cteam);isFull(cteam.team_id)" ng-hide="membercount>=cteam.max_members"></i><span class="telegrafico"> Add</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <h4 class="center telegrafico strong palette-text-4" ng-hide="coachedteam.length != 0">No Teams</h4>
            </div>
        </div>

        <div id="pending-requests-div" class="col s12" ng-init="getPendingRequests()">
            <div class="row container">
                <div class="col s12 bottom-margin">
                    <h5 class="rockwell">Applications</h5>
                    <table class="highlight responsive-table">
                        <tbody>
                            <tr class="century-gothic" ng-repeat="pr in pendingRequests">
                                <td class="bold">{{ pr.first_name }} {{ pr.last_name }}</td>
                                <td>{{ pr.sport_name }}</td>
                                <td>{{ pr.team_name }}</td>
                                <td>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Accept Applicant" data-target="competitor-accept-applicant-modal">
                                        <i class="fa fa-check fa-lg" ng-click="pendingRequests.team_id=pr.team_id; pendingRequests.id=pr.id; pendingRequests.first_name=pr.first_name; pendingRequests.team_name=pr.team_name; isFull(pr.team_id)"></i>
                                    </div>
                                    <div class="competitor-actions tooltipped" data-delay="150" data-position="top" data-tooltip="Decline Applicant" data-target="competitor-decline-applicant-modal">
                                        <i class="fa fa-times fa-lg" ng-click="setPendingRequest(pr)"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container divider"></div>
                <h4 class="center telegrafico strong palette-text-4" ng-hide="pendingRequests.length != 0">No Membership Applications</h4>
            </div>
        </div>

    </div>

<!-- Edit Profile Modal -->
<div id="edit-profile-modal" class="modal modal-fixed-footer">
    <div class="modal-content competitor-header-fill century-gothic">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Edit Profile</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container  competitor-add-modal-content">
            <form>
                <div class="input-field col l6 m6 s12 competitor-input-color-change">
                    <input placeholder=" " id="first-name" type="text" class="validate" ng-model="competitor.first_name">
                    <label for="first-name">First Name <span style="color:red;" ng-hide='((competitor.first_name.localeCompare("")))'>Required</span></label>
                </div>
                <div class="input-field col l6 m6 s12 competitor-input-color-change">
                    <input placeholder=" " id="last-name" type="text" class="validate" ng-model="competitor.last_name">
                    <label for="last-name">Last Name <span style="color:red;" ng-hide='((competitor.last_name.localeCompare("")))'>Required</span></label>
                </div>
                <div class="input-field col l4 m4 s12 competitor-input-color-change">
                    <input placeholder=" " id="nickname" type="text" class="validate" ng-model="competitor.nickname">
                    <label for="nickname">Nickname <span style="color:red;" ng-hide='((competitor.nickname.localeCompare("")))'>Required</span></label>
                </div>
                <div class="input-field col l4 m4 s12 competitor-input-color-change">
                    <input id="birthdate" type="date" class="validate" ng-model="bday">
                    <label for="birthdate" class="competitor-adjust-label">Birthdate</label>
                </div>
                <div class="input-field col l4 m4 s12">
                    <label class="competitor-adjust-label">Sex</label><br>
                    <span><input id="male" type="radio" name="gender" value="M" class="with-gap" ng-model="competitor.sex">
                    <label class="competitor-adjust-label" for="male">Male</label></span>
                    <span><input id="female" type="radio" name="gender" value="F" class="with-gap"  ng-model="competitor.sex">
                    <label class="competitor-adjust-label" for="female">Female</label></span>
                </div>
                <div class="input-field col l6 m6 s12 competitor-input-color-change" >
                    <input placeholder=" " id="contact" type="text" class="validate" ng-model="competitor.contact">
                    <label for="contact">Contact <span style="color:red;" ng-hide='((competitor.contact.localeCompare("")))'>Required</span></label>
                </div>
                <div class="input-field col l6 m6 s12 competitor-input-color-change">
                    <input placeholder=" " id="email" type="email" class="validate" ng-model="competitor.email">
                    <label for="email">Email <span style="color:red;" ng-hide='((competitor.email.localeCompare("")))'>Required</span></label>
                </div>
                <div class="input-field col l12 m12 s12 competitor-input-color-change">
                    <textarea placeholder=" " id="bio" class="materialize-textarea" data-length="140" ng-model="competitor.bio"></textarea>
                    <label for="Bio" class="competitor-textarea-label-color-change">Bio</label>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s12 competitor-input-color-change">
                        <input placeholder=" " id="first-name" type="text" class="validate" ng-model="competitor.username">
                        <label for="first-name">Username <span style="color:red;" ng-hide='((competitor.username.localeCompare("")))'>Required</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="file-title col s12 century-gothic valign-wrapper">
                        <label class="active">Profile Picture</label>
                    </div>

                    <div class="col s12">
                        <form action="#">
                            <div class="file-field input-field">
                                <div class="btn file-button blue darken-4">
                                    <span class="telegrafico">File</span>
                                    <input id="fileItem" type="file" file-model="fileItem.file" accept=".png">
                                </div>
                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">    
                    <div class="input-field col l6 m6 s12 competitor-input-color-change">
                        <input placeholder=" " id="last-name" type="password" class="validate" ng-model="competitor.password">
                        <label for="last-name">Password <span style="color:red;" ng-hide="(!(competitor.password.localeCompare(dup_password)))">Password Mismatched</span></label>
                    </div>
                    <div class="input-field col l6 m6 s12 competitor-input-color-change">
                        <input placeholder=" " type="password" class="validate" ng-model="dup_password">
                        <label for="last-name">Confirm Password <span style="color:red;" ng-hide="(!(competitor.password.localeCompare(dup_password)))">Password Mismatched</span></label>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button ng-disabled='!competitor.first_name.localeCompare("") || !competitor.last_name.localeCompare("") || !competitor.nickname.localeCompare("") || !competitor.sex.localeCompare("") || !competitor.contact.localeCompare("") || !competitor.email.localeCompare("") || !competitor.username.localeCompare("") || (competitor.password.localeCompare(dup_password))' href="" class="modal-action modal-close minimalist-button" ng-click="editCompetitor(); getCompetitor()">UPDATE</button>
    </div>
</div>

<!-- Create Team Modal -->
<div id="create-team-modal" class="modal modal-fixed-footer">
    <div class="modal-content competitor-header-fill century-gothic">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Create a Team</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container  competitor-add-modal-content">
            <div class="input-field col l9 m9 s12 competitor-input-color-change">
                <input placeholder="" id="team_name" type="text" class="validate" ng-model="team.team_name" required>
                <label for="team-name">Team Name</label>
            </div>
            <div class="input-field col s3 m3 s12 competitor-input-color-change">
                <input placeholder="" id="max_members" type="text" class="validate" ng-model="team.max_members" required>
                <label for="max-members">Max Members</label>
            </div>
            <div class="input-field col l6 m6 s12" ng-init="listAllGames()">
                <label class="active">Game</label><br>
                <select class="browser-default" ng-model="game" ng-click="listAllSportAndOrganization()" ng-options="game.name for game in listgames" required>
                </select>
            </div>
            <div class="input-field col l6 m6 s12">
                <label class="active">Sports</label><br>
                <select class="browser-default" ng-model="team.sport_id" ng-options="sport.sport_name for sport in sports" required>
                    <option selected disabled class="white black-text" value="">&nbsp;</option>
                </select>
            </div><br>
            <div class="input-field col l6 m6 s12">
                <label class="active">Organization</label><br>
                <select class="browser-default" ng-model="team.team_organization" ng-options="organization.name for organization in organizations" required>
                    <option selected disabled class="white black-text" value="">&nbsp;</option>
                </select>
            </div>
        </div>
    </div>  

    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="createTeam()">CREATE</button>
    </div>
</div>

<!--All games participated modal-->
<div id="competitor-allgames-modal" class="modal modal-fixed-footer">
    <div class="modal-content competitor-header-fill century-gothic">
        <div class="row competitor-remove-bottom">
                <div class="col s12 competitor-padding-left competitor-padding-right">
                    <div class="center palette-5">
                        <br>
                            <div class="card-title white-text center telegrafico" id="thicken">
                                <h4 class="competitor-remove-bottom-modal">Games Participated</h4>
                            </div>
                        <br>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col s12 m4 l4 center-align all-games-card" ng-repeat="game in competitorgames">
                <a href="#/game/{{game.game_id}}">
                    <h4 class="rockwell strong palette-text-4">{{ game.name }}</h4>
                    <span class="century-gothic secondary-text">{{ game.location }}</span>
                </a>
            </div>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button">CLOSE</button>
    </div>
</div>

<!--Competitor Add Member Modal-->
<div id="competitor-add-member-modal" class="modal modal-fixed-footer">
    <div class="modal-content competitor-header-fill century-gothic">
        <div class="row competitor-remove-bottom">
                <div class="col s12 competitor-padding-left competitor-padding-right">
                    <div class="center palette-5">
                        <br>
                            <div class="card-title white-text center telegrafico" id="thicken">
                                <h4 class="competitor-remove-bottom-modal">Add Members</h4>
                            </div>
                        <br>
                    </div>
                </div>
            </div>
        <div class="row">
            <div class="col s6 m4 l4 center-align all-games-card" data-target="competitor-add-applicant-modal" ng-repeat="competitor in roaster" ng-click="setScoutedApplicant(competitor);isFull(teamAccordion.team_id)">
                    <h6 class="century-gothic palette-text-6 strong">{{ competitor.first_name }} {{ competitor.last_name }}</h6>
                    <span class="secondary-text">({{ competitor.nickname }})</span>
            </div>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button">CLOSE</button>
    </div>
</div>

<!-- Add Applicant Modal -->
<div id="competitor-add-applicant-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Add Applicant</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to add {{ scoutedApplicant.first_name}} to {{ scoutedApplicant.team_name }}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="recruitNewMember()">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>


<!-- Accept Applicant Modal -->
<div id="competitor-accept-applicant-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Accept Applicant</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to accept {{ pendingRequests.first_name}}'s request to join {{ pendingRequests.team_name }}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="acceptMembershipRequest()">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Decline Applicant Modal -->
<div id="competitor-decline-applicant-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Decline Applicant</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to decline {{ pendingRequested.first_name}}'s request to join {{ pendingRequested.team_name }}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="deleteMembershipRequest(pendingRequested.team_id,pendingRequested.id)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Accept Invitation Modal -->
<div id="competitor-accept-invitation-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Accept Invitation</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to accept [INVITEE NAME]'s request to join [TEAM NAME]?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" onclick="Materialize.toast('Invitation Accepted', 4000)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Decline Invitation Modal -->
<div id="competitor-decline-invitation-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Decline Invitation</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to decline [INVITEE NAME]'s request to join [TEAM NAME]?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" onclick="Materialize.toast('Invitation Declined', 4000)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Delete Team Modal -->
<div id="competitor-delete-team-modal" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Delete Team</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to delete {{ team.team_name }}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="deleteTeam(team.team_id)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!-- Delete Team Member Modal -->
<div id="competitor-remove-member" class="modal competitor-prompt">
    <div class="modal-content competitor-header-fill century-gothic   ">
        <div class="row competitor-remove-bottom">
            <div class="col s12 competitor-padding-left competitor-padding-right">
                <div class="center palette-5">
                    <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="competitor-remove-bottom-modal">Kick Team Member</h4>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <div class="row competitor-modal-container">
            <p>Are you sure you want to remove {{kickedMember.first_name}} from the {{kickedMember.team_name}}?</p>
        </div>
    </div>
    <div class="modal-footer palette-5 right-align">
        <button href="" class="modal-action modal-close minimalist-button" ng-click="kickMember(kickedMember.team_id, kickedMember.id)">YES</button>
        <button href="" class="modal-action modal-close minimalist-button">NO</button>
    </div>
</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/competitor-profile-page.js"></script>