<div id="mainHolder" ng-controller="CompetitorController">
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main" class="">
        <!-- competitor Basic Info -->
        <div class="row palette-3 competitor-profile-info">
            <div class="col l3 m5 s12 offset-l2 center">
                <img id="competitor-profile-img" src="assets/avatar.png" class="pallette-3">
            </div>
            <div id="competitor-basic-info" class="col l7 m7 s12 white-text" ng-init="getCompetitor()">
                <h3 class="rockwell">{{ competitor.nickname }}</h3>
                <p class="telegrafico">Name: {{ competitor.first_name }} {{ competitor.last_name }}</p>
                <p class="telegrafico">Contact: {{ competitor.contact }} | E-mail: {{ competitor.email }}</p>
                <p class="telegrafico">
                    {{ competitor.bio }} <a id="update-bio-icon" data-target="update-bio-modal" class="modal-trigger tooltipped" data-position="bottom" data-delay="150" data-tooltip="Update Bio"><i class="tiny material-icons">edit</i></a>
                </p>
            </div>
        </div>

        <div class="container col s12">
            <ul id="competitor-profile-tabs" class="tabs">
                <li class="tab col s3"><a class="blue-text darken-3 telegrafico active" href="#profile-div">Profile</a></li>
                <li class="tab col s3"><a class="blue-text darken-3 telegrafico " href="#teams-managed-div">Teams Managed</a></li>
                <li class="tab col s3"><a class="blue-text darken-3 telegrafico " href="#pending-requests-div">Pending Requests</a></li>
            </ul>
        </div>
        <div id="profile-div" class="col s12">
            <div class="row container">
                <div class="col s12 m5 l4">
                    <!-- Statistics -->
                    <h5 class="rockwell">Statistics</h5>
                    <div class="row palette-border-5" id="competitor-profile-add-game">
                        <div id="competitor-stats-panel" class="grey lighten-2 col l12 m12 s12">
                            <div class="row">
                                <br>
                                <div id="stats-panel" class="container">
                                    <div id="wins-badge" class="circle container valign-wrapper">
                                        <div class="valign center-block">
                                            <div id="wins-stat" class="center-align">9</div>
                                            <div class="telegrafico">FIRST</div>
                                        </div>
                                    </div>
                                    <div class="row center-block margin-bottom-0">
                                        <div class="col l6 m6 s6 center-block">
                                            <div id="draws-badge" class="stats-badge circle container valign-wrapper">
                                                <div class="valign center-block">
                                                    <div class="stats-num center-align">4</div>
                                                    <div class="stat-desc telegrafico">SECOND</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col l6 m6 s6 center-block">
                                            <div id="losses-badge" class="stats-badge circle container valign-wrapper">
                                                <div class="valign center-block">
                                                    <div class="stats-num center-align">4</div>
                                                    <div class="stat-desc telegrafico">THIRD</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="row center">
                                <div class="input-field col l6 m6 s6 offset-l3 offset-m3 offset-s3">
                                    <select class="browser-default minimalist-button">
                                        <option value="" selected disabled>Sports</option>
                                        <option class="white black-text" value="">Basketball</option>
                                        <option class="white black-text" value="">Baseball</option>
                                        <option class="white black-text" value="">Football</option>
                                        <option class="white black-text" value="">Swimming</option>
                                        <option class="white black-text" value="">Hockey</option>
                                    </select>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Affiliations -->
                <div class="col s12 m7 l8" ng-init="getCompetitorTeams()">
                    <h5 class="rockwell">Affiliations</h5>
                    
                    <ul class="tabs tabs-fixed-width tabs-transparent telegrafico" id="competitor-profile-games">
                        <li class="tab col s4"><a class="white-text" href="#competitor-teams">TEAMS</a></li>
                        <li class="tab col s4"><a class="white-text" href="#competitor-organizations">ORGANIZATIONS</a></li>
                        <div class="indicator white" style="z-index: 1"></div>
                    </ul>

                    <div id="competitor-teams" class="col s12" ng-repeat="team in teams">
                        <table class="highlight responsive-table competitor-games-data">
                            <tbody>
                                <tr class="century-gothic">
                                    <td>New York Knicks</td>
                                    <td>Basketball</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>Real Madrid</td>
                                    <td>Football</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>Mighty Ducks</td>
                                    <td>Hockey</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>New York Knicks</td>
                                    <td>Basketball</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>Mighty Ducks</td>
                                    <td>Hockey</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="highlight competitor-showall">
                            <tbody>
                                <tr>
                                    <td class="center-align century-gothic palette-3" id="competitor-past-showall"><a data-target="competitor-past-modal" show-all-past>Show All</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="competitor-organizations" class="col s12" ng-repeat="team in teams">
                        <table class="highlight responsive-table competitor-games-data">
                            <tbody>
                                <tr class="century-gothic">
                                    <td>National Basketball Association</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>International Federation of Association Football</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>Canadian Hockey League</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>National Basketball Association</td>
                                </tr>
                                <tr class="century-gothic">
                                    <td>Canadian Hockey League</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="highlight competitor-showall">
                            <tbody>
                                <tr>
                                    <td class="center-align century-gothic palette-3" id="competitor-past-showall"><a data-target="competitor-past-modal" show-all-past>Show All</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Sports Played -->
            <div class="row container" ng-init="">
                <h5 class="rockwell">Sports Played</h5><br>    
                <div class="chip">Basketball</div>
                <div class="chip">Baseball</div>
                <div class="chip">Football</div>
                <div class="chip">Swimming</div>
                <div class="chip">Hockey</div>
            </div><br>

            <div class="divider container"></div><br>

            <!-- Games Participated-->
            <div class="row container" ng-init="">
                <h5 class="rockwell left-align">Games Participated</h5><br>    
                <div class="row">
                    <div class="col s3 m3 l3 center-align recent-games-card">
                        <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                        <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
                    </div>
                    <div class="col s3 m3 l3 center-align recent-games-card">
                        <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                        <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
                    </div>
                    <div class="col s3 m3 l3 center-align recent-games-card">
                        <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                        <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
                    </div>
                    <div class="col s3 m3 l2 center-align recent-games-card see-more">
                        <button href="" data-target="organization-allgames-modal" class="minimalist-button"> See more </button>
                    </div>
                </div>
            </div><br>

            <div class="row competitor-footer black">
                <div class="black">
                    <ul class="right hide-on-med-and-down">
                        <li><a href="#"> Help </a></li>
                        <li><a href="#"> About Us </a></li>
                        <li>All Rights Reserved</li>
                    </ul>
                </div>
            </div>

        </div>

        <div id="teams-managed-div" class="col s12">
            <div class="row container">
                <br>
                <div class="right-align"><button id="create-team-button" data-target="create-team-modal" class="minimalist-button modal-trigger">Create a Team</button></div>

                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active">
                            <div class="row remove-bottom century-gothic">
                                <div class="col l3 m3 s3"><b>New York Knicks</b></div>
                                <div class="col l5 m5 s5">National Basketball Association</div>
                                <div class="col l3 m3 s3">Basketball</div>
                                <div class="col l1 m1 s1 center-block">
                                    <div class="competitor-actions" data-target="competitor-delete-team-modal"><i class="fa fa-times fa-lg tooltipped" data-position="top" data-delay="150" data-tooltip="Delete Team"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <span class="telegrafico">Members</span>
                            <div class="chips chips-initial"></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">
                            <div class="row remove-bottom century-gothic">
                                <div class="col l3 m3 s3"><b>Real Madrid</b></div>
                                <div class="col l5 m5 s5">International Federation of Association Football</div>
                                <div class="col l3 m3 s3">Football</div>
                                <div class="col l1 m1 s1 center-block">
                                    <div class="competitor-actions" data-target="competitor-delete-team-modal"><i class="fa fa-times fa-lg tooltipped" data-position="top" data-delay="150" data-tooltip="Delete Team"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <span class="telegrafico">Members</span>
                            <div class="chips chips-initial"></div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header active">
                            <div class="row remove-bottom century-gothic">
                                <div class="col l3 m3 s3"><b>Mighty Ducks</b></div>
                                <div class="col l5 m5 s5">Canadian Hockey League</div>
                                <div class="col l3 m3 s3">Hockey</div>
                                <div class="col l1 m1 s1 center-block">
                                    <div class="competitor-actions" data-target="competitor-delete-team-modal"><i class="fa fa-times fa-lg tooltipped" data-position="top" data-delay="150" data-tooltip="Delete Team"></i></div>
                                </div>
                            </div>
                        </div>
                        <div class="collapsible-body">
                            <span class="telegrafico">Members</span>
                            <div class="chips chips-initial"></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div id="pending-requests-div" class="col s12">
            <div class="row container">
                <div class="col s12 bottom-margin">
                    <h5 class="rockwell">Applications</h5>
                    <table class="highlight responsive-table">
                        <tbody>
                            <tr class="century-gothic">
                                <td class="bold">Jane Doe</td>
                                <td>Team-You-Created</td>
                                <td>Basketball</td>
                                <td>
                                    <div class="competitor-actions" data-target="competitor-accept-applicant-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions" data-target="competitor-decline-applicant-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="century-gothic">
                                <td class="bold">Jean Doe</td>
                                <td>Team-You-Created</td>
                                <td>Football</td>
                                <td>
                                    <div class="competitor-actions" data-target="competitor-accept-applicant-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions" data-target="competitor-decline-applicant-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="century-gothic">
                                <td class="bold">Joan Doe</td>
                                <td>Team-You-Created</td>
                                <td>Hockey</td>
                                <td>
                                    <div class="competitor-actions" data-target="competitor-accept-applicant-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions" data-target="competitor-decline-applicant-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="container divider"></div>
                <div class="col s12">
                    <h5 class="rockwell">Invites</h5>
                    <table class="highlight responsive-table">
                        <tbody>
                            <tr class="century-gothic">
                                <td class="bold">Jane Mare</td>
                                <td>Team-You-Are-Invited-To</td>
                                <td>Basketball</td>
                                <td>
                                    <div class="competitor-actions" data-target="competitor-accept-invitation-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions" data-target="competitor-decline-invitation-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="century-gothic">
                                <td class="bold">Jean Mare</td>
                                <td>Team-You-Are-Invited-To</td>
                                <td>Football</td>
                                <td>
                                    <div class="competitor-actions" data-target="competitor-accept-invitation-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions" data-target="competitor-decline-invitation-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                            <tr class="century-gothic">
                                <td class="bold">Joan Mare</td>
                                <td>Team-You-Are-Invited-To</td>
                                <td>Hockey</td>
                                <td>
                                    <div class="competitor-actions" data-target="competitor-accept-invitation-modal">
                                        <i class="fa fa-check fa-lg"></i>
                                    </div>
                                    <div class="competitor-actions" data-target="competitor-decline-invitation-modal">
                                        <i class="fa fa-times fa-lg"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="fixed-action-btn">
            <a data-target="edit-profile-modal" class="btn-floating btn-large palette-4 tooltipped modal-trigger" data-position="top" data-delay="150" data-tooltip="Edit Profile"><i class="large material-icons">mode_edit</i></a>
        </div>
    </div>

</div>

<!-- Edit Profile Modal -->
<div id="edit-profile-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5><i class="material-icons">mode_edit</i> Edit Profile</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content">
        <div class="row">
            <form class="col s12" ng-init="getCompetitor()">
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <span class="telegrafico">First Name</span>
                        <input id="firstName" type="text" class="validate" ng-model="competitor.first_name">
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <span class="telegrafico">Last Name</span>
                        <input id="lastName" type="text" class="validate" ng-model="competitor.last_name">
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l4 m4 s12">
                        <span class="telegrafico">Nickname</span>
                        <input id="nickname" type="text" class="validate" ng-model="competitor.nickname">
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <span class="telegrafico">Birthdate</span>
                        <input id="birthdate" class="datepicker validate" ng-model="competitor.birthday">
                    </div>
                    <div class="input-field col l4 m4 s12">
                        <span class="telegrafico">Sex</span><br>
                        <span><input id="male" type="radio" name="gender" value="male" class="with-gap">
                        <label class="black-text telegrafico" for="male" ng-model="">Male</label></span>
                        <span><input id="female" type="radio" name="gender" value="female" class="with-gap">
                        <label class="black-text telegrafico" for="female" ng-model="">Female</label></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat telegrafico"><i class="material-icons left">close</i>Cancel</a>
        <a class="modal-action modal-close waves-effect btn-flat telegrafico" ng-click="editCompetitor()"><i class="material-icons left">check</i>Update</a>
    </div>
</div>


<!-- Edit Profile Modal -->
<div id="update-bio-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5><i class="material-icons">mode_edit</i> Update Bio</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea id="competitor-bio" class="materialize-textarea" data-length="150"></textarea>
                        <label for="competitor-bio">Bio</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat telegrafico"><i class="material-icons left">close</i>Cancel</a>
        <a class="modal-action modal-close waves-effect btn-flat telegrafico"><i class="material-icons left">check</i>Update</a>
    </div>
</div>

<!-- Create Team Modal -->
<div id="create-team-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5><i class="material-icons">add</i> Create Team</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <span class="telegrafico">Team Name</span>
                        <input placeholder="" id="teamName" type="text" class="validate" ng-model="">
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <span class="telegrafico">Game</span>
                        <select class="browser-default">
                            <option selected disabled class="white black-text" value="">&nbsp;</option>
                            <option class="white black-text" value="">PalICSihan</option>
                            <option class="white black-text" value="">Palarong UPLB</option>
                            <option class="white black-text" value="">Summer Olympics 2020</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col l6 m6 s12">
                        <span class="telegrafico">Sports</span>
                        <select class="browser-default">
                            <option selected disabled class="white black-text" value="">&nbsp;</option>
                            <option class="" value="">Basketball</option>
                            <option class="" value="">Baseball</option>
                            <option class="" value="">Football</option>
                            <option class="" value="">Swimming</option>
                            <option class="" value="">Hockey</option>
                        </select>
                    </div>
                    <div class="input-field col l6 m6 s12">
                        <span class="telegrafico">Organization</span>
                        <select class="browser-default">
                            <option selected disabled class="white black-text" value="">&nbsp;</option>
                            <option class="white black-text" value="">Institute of Computer Science</option>
                            <option class="white black-text" value="">College of Arts and Sciences</option>
                            <option class="white black-text" value="">Philippines</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <span class="telegrafico">Add Members</span>
                    <div class="chips chips-autocomplete"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a data-target="cancel-team-prompt" class="modal-action modal-close waves-effect btn-flat telegrafico modal-trigger"><i class="material-icons left">close</i>Cancel</a>
        <a data-target="create-team-prompt" class="modal-action modal-close waves-effect btn-flat telegrafico modal-trigger"><i class="material-icons left">check</i>Create</a>
    </div>
</div>

<!--All games participated modal-->
<div id="organization-allgames-modal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <div class="row">
            <h4 class="rockwell strong palette-text-3 center">Games Participated</h4>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
        </div>
        <div class="row">
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
            <div class="col s4 m4 l4 center-align all-games-card">
                <h4 class="rockwell strong palette-text-4">GAME 1</h4>
                <span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
    </div>
</div>

<!-- Delete Game Modal -->
<div id="competitor-delete-game-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Delete Game</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to delete this game?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat" ng-click="addGame()"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Accept Applicant Modal -->
<div id="competitor-accept-applicant-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Accept Application</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to accept [APPLICANT NAME]'s request to join [TEAM NAME]?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Decline Applicant Modal -->
<div id="competitor-decline-applicant-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Decline Applicant</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to decline [APPLICANT NAME]'s request to join [TEAM NAME]?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Accept Invitation Modal -->
<div id="competitor-accept-invitation-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Accept Invitation</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to accept [INVITEE NAME]'s request to join [TEAM NAME]?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Decline Invitation Modal -->
<div id="competitor-decline-invitation-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Decline Team</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to decline [INVITEE NAME]'s request to join [TEAM NAME]?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Delete Team Modal -->
<div id="competitor-delete-team-modal" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Delete Team</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to delete [TEAM NAME]?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Delete Team Modal -->
<div id="competitor-remove-member" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Remove Team Members</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to remove this/these member/members from the team?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Create Team Prompt -->
<div id="create-team-prompt" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Create Team</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to create this team?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat" ng-click="addGame()"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!-- Cancel Team Prompt -->
<div id="cancel-team-prompt" class="modal">
    <div class="row remove-bottom">
        <div class="col s12 padding-left padding-right palette-5">
            <div class="center">
                <br>
                    <div class="card-title white-text center rockwell">
                        <h5>Cancel Team</h5>
                    </div>
                <br>
            </div>
        </div>
    </div>  
    <div class="modal-content telegrafico">
        <p>Are you sure you want to cancel creating this team?</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>No</a>
        <a class="modal-action modal-close waves-effect btn-flat" ng-click="addGame()"><i class="material-icons left">check</i>Yes</a>
    </div>
</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/competitor-profile-page.js"></script>