<div id="mainHolder">
	<!-- Do not put anything inside main holder -->
<!-- Main holder just keeps the main below the navbar -->
	<div id="main">

	<div class="row">
		<div class="col s3 palette-3 game-fixed-sidebar">
			<div id="game-update-section" class="col s12">
				<h5 class="telegrafico right-align">Updates</h5>
				<div class="game-type-matches" style="width: 100%; max-height: 250px; overflow-y: scroll; margin-right: 5px;">
					<div class="game-match row right-align">
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
					</div>
				</div>
			</div>
			<div id="game-update-section" class="col s12">
				<br><h5 class="telegrafico right-align">Rankings</h5>
				<div class="game-type-matches" style="width: 100%; max-height: 250px; overflow-y: scroll; margin-right: 5px;">
					<div class="game-match row right-align">
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
						<h5 class="col s12 truncate">sdfadfj;lkasddfdf</h5>
					</div>
				</div>
			</div>
		</div>
		<div class="col s9 offset-s3 game-padding-left game-padding-right">
				<div id="sports-title" class="rockwell ">
			<h3 class="white-text">GAME NAME</h3>
			<h6 class="white-text">Start: 12/23/2007 End: 12/23/2078</h6>
		</div>
			<!-- Do your thing here -->
			<div class="">
				<!-- <div class="row"> -->
					<div class="slider game-slider-background" id="game-slider">
						<ul class="slides game-slider-background" id="game-slides">
							<li>
								<div class="row">
									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team Q berry match</h5>
													<p>Score: 2080</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 789</p>
													<h5 class="truncate">Mataim Team</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">TeamOg Silangan</h5>
													<p>Score: 82</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 59</p>
													<h5 class="truncate">E-Team</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team ba</h5>
													<p>Score: 40</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 19</p>
													<h5 class="truncate">PataTeam</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team Park</h5>
													<p>Score: 70</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 49</p>
													<h5 class="truncate">Team Bangan</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 1</h5>
													<p>Score: 103</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 82</p>
													<h5 class="truncate">Team 2</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 1</h5>
													<p>Score: 103</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 82</p>
													<h5 class="truncate">Team 2</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 1</h5>
													<p>Score: 103</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 82</p>
													<h5 class="truncate">Team 2</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 4</h5>
													<p>Score: 46</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 37</p>
													<h5 class="truncate">Team 5</h5>
												</div>
											</div>
										</div>
								</div>
							</li>
						</ul>
					</div>
				<!-- </div> -->

				<div class="row">
					<div class="col s12 m8">
						<div class="card-panel primary game-remove-padding">
							<div class="row game-remove-bottom">
								<div class="col s12 m3">
									<h5 class="white-text game-remove-margin">Sports</h5>
								</div>
								<div class="col s12 m8 game-padding-right">
									<nav class="center game-btn-height game-inline-search" id="game-sport-search">
										<div class="nav-wrapper">
											<form>
												<div class="input-field">
													<input id="search" class="no-margin game-btn-height" type="search" requilight-primary>
													<label class="label-icon no-margin game-btn-height" for="search"><i class="tiny material-icons game-btn-height game-icon-adjust">search</i></label>
												</div>
											</form>
										</div>
									</nav>
								</div>
								<div class="col s12 m1 game-padding-search">
									<a class="waves-effect waves-light btn red primary game-inline-search game-padding-left game-padding-right" href="" id="game-mini-icon" data-target="game-add-sport"><i class="material-icons">add</i></a>
								</div>
							</div>
						</div>	

							<ul class="collapsible popout" data-collapsible="accordion">
								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/1_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4 class="truncate">Basketball</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="" data-target="game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="" data-target="game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>
								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/2_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Volleyball</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="" data-target="game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="" data-target="game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>
								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/3_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Soccer</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="" data-target="game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="" data-target="game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/4_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Baseball</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="" data-target="game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="" data-target="game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/5_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Tennis</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="" data-target="game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="" data-target="game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/6_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Golf</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="" data-target="game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="" data-target="game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>
							</ul>
					</div>

					<div class="col s12 m4">
						<div class="card-panel primary game-remove-padding">
							<h5 class="white-text game-remove-margin">Location</h5>
						</div>
						<div class="card-panel game-remove-padding">
							<h5>Beijing, Muntinlupa</h5>						
							<p>Tanto network smart--space DIY camera industrial grade jeans soul-delay plastic Tokyo ablative rain receding silent boy. Fluidity DIY footage industrial grade RAF crypto-shanty town Shibuya dissident lights rebar smart-human alcohol assault sensory youtube. Smart-jeans faded silent soul-delay sensory convenience store.<a href="#"> read more...</a></p>
						</div>
						<div class="card-panel primary game-remove-padding">
							<h5 class="white-text game-remove-margin">Sponsors</h5>
						</div>
						<div class="card-panel game-remove-padding">
							<div class="chip"><h6>Sponsor 1</h6></div>
							<div class="chip"><h6>Sponsor 1</h6></div>
							<div class="chip"><h6>Sponsor 1</h6></div>
							<div class="chip"><h6>Sponsor 1</h6></div>
							<div class="chip"><h6>Sponsor 1</h6></div>
						</div>	
					</div>


				</div>
			</div>
			
		</div>
	</div>
			
		</div>
</div>

<div id="game-add-sport" class="modal">
	<div class="row game-remove-bottom">
		<div class="col s12 game-padding-left game-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Add Sport</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<div class="row">
			<div class="input-field col s6">
				<input placeholder="Enter sport name" id="name" type="text" class="validate">
				<label for="name">Sport Name</label>
			</div>

			<div class="input-field col s2">
				<input placeholder="Enter team number limit" id="maxTeams" type="number" class="validate">
				<label for="maxTeams">Max Teams</label>
			</div>

			<div class="input-field col s4">
				<select>
					<option value="" disabled selected>Choose your option</option>
					<option value="1">Preset system 1</option>
					<option value="2">Preset system 2</option>
					<option value="3">None</option>
				</select>
				<label>Scoring system</label>
			</div>

			<div class="col s6">
				<h5 class="center">Time</h5>
				<div class="divider"></div><br>
			</div>
			<div class="col s6">
				<h5 class="center">Date</h5>
				<div class="divider"></div><br>
			</div>

			<div class="input-field col s3">
				<input placeholder="Time started" id="start-time" type="time" class="validate">
				<label class="game-adjust-label" for="start-time">Start</label>
			</div>
			<div class="input-field col s3">
				<input placeholder="Time ended" id="end-time" type="time" class="validate">
				<label class="game-adjust-label" for="end-time">End</label>
			</div>

			<div class="input-field col s3">
				<input placeholder="Date started" id="start-time" type="date" class="validate">
				<label class="game-adjust-label" for="start-time">Start</label>
			</div>
			<div class="input-field col s3">
				<input placeholder="Date ended" id="end-time" type="date" class="validate">
				<label class="game-adjust-label" for="end-time">End</label>
			</div>

			<div class="input-field col s12">
				<textarea id="description" class="materialize-textarea"></textarea>
				<label for="description">Description</label>
			</div>

			<!-- 
			time_start: req.body.timeStart,
			time_end: req.body.timeEnd,
			date: req.body.date,
			scoring_system: req.body.scoringSystem,
			game_id: req.body.gameID
			-->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Add</a>
	</div>
</div>

<div id="game-update-sport" class="modal">
	<div class="row game-remove-bottom">
		<div class="col s12 game-padding-left game-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Update Sport</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<div class="row">
			<div class="input-field col s6">
				<input placeholder="Enter sport name" id="name" type="text" class="validate">
				<label for="name">Sport Name</label>
			</div>

			<div class="input-field col s2">
				<input placeholder="Enter team number limit" id="maxTeams" type="number" class="validate">
				<label for="maxTeams">Max Teams</label>
			</div>

			<div class="input-field col s4">
				<select>
					<option value="" disabled selected>Choose your option</option>
					<option value="1">Preset system 1</option>
					<option value="2">Preset system 2</option>
					<option value="3">None</option>
				</select>
				<label>Scoring system</label>
			</div>

			<div class="col s6">
				<h5 class="center">Time</h5>
				<div class="divider"></div><br>
			</div>
			<div class="col s6">
				<h5 class="center">Date</h5>
				<div class="divider"></div><br>
			</div>

			<div class="input-field col s3">
				<input placeholder="Time started" id="start-time" type="time" class="validate">
				<label class="game-adjust-label" for="start-time">Start</label>
			</div>
			<div class="input-field col s3">
				<input placeholder="Time ended" id="end-time" type="time" class="validate">
				<label class="game-adjust-label" for="end-time">End</label>
			</div>

			<div class="input-field col s3">
				<input placeholder="Date started" id="start-time" type="date" class="validate">
				<label class="game-adjust-label" for="start-time">Start</label>
			</div>
			<div class="input-field col s3">
				<input placeholder="Date ended" id="end-time" type="date" class="validate">
				<label class="game-adjust-label" for="end-time">End</label>
			</div>

			<div class="input-field col s12">
				<textarea id="description" class="materialize-textarea"></textarea>
				<label for="description">Description</label>
			</div>
			<p class="center">Note: Changes will only reflect on fields which are edited.</p>
			<!-- 
			time_start: req.body.timeStart,
			time_end: req.body.timeEnd,
			date: req.body.date,
			scoring_system: req.body.scoringSystem,
			game_id: req.body.gameID
			-->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Update</a>
	</div>
</div>

<div id="game-delete-sport" class="modal">
	<div class="row game-remove-bottom">
		<div class="col s12 game-padding-left game-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Delete Sport</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<p>Are you sure you want to delete this sport?</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">No</a>
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Yes</a>
	</div>
</div>

<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>
<script src="frontend_modules/js/materialize.js"></script>