<div id="mainHolder">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below the navbar -->
		<div id="main">

			<div class="light-primary" id="gamefeed-extend-header">
				<div class="row gamefeed-game-container">
					<div class="col s12">
						<h2 class="center">Games</h2>
					</div>

					<div class="col s7 offset-s1">
						<nav class="center gamefeed-btn-height gamefeed-game-search">
							<div class="nav-wrapper">
								<form>
									<div class="input-field">
										<input id="search" class="no-margin" type="search" requilight-primary>
										<label class="label-icon no-margin gamefeed-btn-height" for="search"></label>
										<i class="tiny gamefeed-search-adjust material-icons">close</i>
									</div>
								</form>
							</div>
						</nav>
					</div>
					<div class="col s1">
						<a class="waves-effect waves-light btn primary"><i class="tiny material-icons">search</i></a>
					</div>
					<div class="col s3">
							<p class="gamefeed-sort-adjust">Sort by:
								<input class="with-gap" name="group3" type="radio" id="Name" checked />
								<label for="Name" class="black-text">Name</label>
								<input class="with-gap" name="group3" type="radio" id="Date" checked />
								<label for="Date" class="black-text">Date</label>
							</p>
					</div>
				</div>		
			</div>
			
			<!-- Do your thing here -->
			<div class="gamefeed-game-container">
				<div class="row">
					<div class="col s12 m3">
						<div class="card">
							<div class="card-image">
								<img src="assets/sample-1.png">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab gamefeed-fab-adjust light-primary gamefeed-smaller-pic"></a>
							</div>
							<div class="card-content">
								<div class="row">
								</div>
								<div class="gamefeed-padding-down">
									<div class="col s2 offset-s8">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-update-game"><i class="material-icons">update</i></a>
									</div>
									<div class="col s1">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-delete-game"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 m3">
						<div class="card">
							<div class="card-image">
								<img src="assets/sample-1.png">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab gamefeed-fab-adjust light-primary gamefeed-smaller-pic"></a>
							</div>
							<div class="card-content ">
								<div class="row">
								</div>
								<div class="gamefeed-padding-down">
									<div class="col s2 offset-s8">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-update-game"><i class="material-icons">update</i></a>
									</div>
									<div class="col s1">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-delete-game"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 m3">
						<div class="card">
							<div class="card-image">
								<img src="assets/sample-1.png">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab gamefeed-fab-adjust light-primary gamefeed-smaller-pic"></a>
							</div>
							<div class="card-content ">
								<div class="row">
								</div>
								<div class="gamefeed-padding-down">
									<div class="col s2 offset-s8">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-update-game"><i class="material-icons">update</i></a>
									</div>
									<div class="col s1">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-delete-game"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 m3">
						<div class="card">
							<div class="card-image">
								<img src="assets/sample-1.png">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab gamefeed-fab-adjust light-primary gamefeed-smaller-pic"></a>
							</div>
							<div class="card-content ">
								<div class="row">
								</div>
								<div class="gamefeed-padding-down">
									<div class="col s2 offset-s8">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-update-game"><i class="material-icons">update</i></a>
									</div>
									<div class="col s1">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-delete-game"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 m3">
						<div class="card">
							<div class="card-image">
								<img src="assets/sample-1.png">
								<span class="card-title">Card Title</span>
								<a class="btn-floating halfway-fab gamefeed-fab-adjust light-primary gamefeed-smaller-pic"></a>
							</div>
							<div class="card-content ">
								<div class="row">
								</div>
								<div class="gamefeed-padding-down">
									<div class="col s2 offset-s8">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-update-game"><i class="material-icons">update</i></a>
									</div>
									<div class="col s1">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-delete-game"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col s12 m3">
						<div class="card">
							<div class="card-image">
								<img src="assets/sample-1.png">
								<a class="btn-floating halfway-fab gamefeed-fab-adjust light-primary gamefeed-smaller-pic"></a>
							</div>
							<div class="card-content ">
								<div class="row">
								</div>
								<div class="gamefeed-padding-down">
									<div class="col s2 offset-s8">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-update-game"><i class="material-icons">update</i></a>
									</div>
									<div class="col s1">
										<a class="waves-effect waves-light" href="" data-target="gamefeed-delete-game"><i class="material-icons">delete</i></a>
									</div>
								</div>
							</div>
						</div>
					</div>			
				</div>
			</div>
		</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large blue waves-effect waves-light" href="" data-target="gamefeed-add-game">
		<i class="large material-icons">add</i>
	</a>
</div>

<div id="gamefeed-delete-game" class="modal gamefeed-deletion">
	<div class="row gamefeed-remove-bottom">
		<div class="col s12 gamefeed-padding-left gamefeed-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Delete Game</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<p>Are you sure you want to delete this game?</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">No</a>
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Yes</a>
	</div>
</div>

<div id="gamefeed-add-game" class="modal gamefeed-addition">
	<div class="row gamefeed-remove-bottom">
		<div class="col s12 gamefeed-padding-left gamefeed-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Add Game</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<div class="row">
			<div class="input-field col s6">
				<input placeholder="Enter game name" id="name" type="text" class="validate">
				<label for="name">Game Name</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="Enter location" id="location" type="text" class="validate">
				<label for="location">Location</label>
			</div>

			<div class="col s12">
				<h5 class="center">Date</h5>
				<div class="divider"></div><br>
			</div>
			<div class="input-field col s6">
				<input id="start-date" type="date" class="validate">
				<label for="start-date" class="gamefeed-adjust-label">Start</label>
			</div>
			<div class="input-field col s6">
				<input id="end-date" type="date" class="validate">
				<label for="end-date" class="gamefeed-adjust-label">End</label>
			</div>

			<div class="input-field col s12">
				<textarea id="description" class="materialize-textarea"></textarea>
				<label for="description">Description</label>
			</div>
			
			<!--
			organizer_id:req.body.orgId,
			name : req.body.gameName,
			start_date : req.body.startDate,
			end_date : req.body.endDate,
			location	: req.body.location,
			description	: req.body.description,
			overall_winner : req.body.gameWinner
			-->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Add</a>
	</div>
</div>

<div id="gamefeed-update-game" class="modal gamefeed-addition">
	<div class="row gamefeed-remove-bottom">
		<div class="col s12 gamefeed-padding-left gamefeed-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Update Game</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<div class="row">
			<div class="col s6">
				<h5 class="center">Name</h5>
				<div class="divider"></div><br>
			</div>
			<div class="col s6">
				<h5 class="center">Location</h5>
				<div class="divider"></div><br>
			</div>

			<div class="input-field col s6">
				<input placeholder="Enter game name" id="name" type="text" class="validate">
				<label for="name">Game Name</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="Enter location" id="location" type="text" class="validate">
				<label for="location">Location</label>
			</div>

			<div class="col s12">
				<h5 class="center">Date</h5>
				<div class="divider"></div><br>
			</div>
			<div class="input-field col s6">
				<input id="start-date" type="date" class="validate">
				<label for="start-date" class="gamefeed-adjust-label">Start</label>
			</div>
			<div class="input-field col s6">
				<input id="end-date" type="date" class="validate">
				<label for="end-date" class="gamefeed-adjust-label">End</label>
			</div>

			<div class="input-field col s12">
				<textarea id="description" class="materialize-textarea"></textarea>
				<label for="description">Description</label>
			</div>

			<p class="center">Note: Changes will only reflect on fields which are edited.</p>
			
			<!--
			organizer_id:req.body.orgId,
			name : req.body.gameName,
			start_date : req.body.startDate,
			end_date : req.body.endDate,
			location	: req.body.location,
			description	: req.body.description,
			overall_winner : req.body.gameWinner
			-->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Update</a>
	</div>
</div>
<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>