<div id="mainHolder" ng-init="gamefeedInit(true)">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below the navbar -->
		<div id="main">

			<div class="palette-5" id="gamefeed-extend-header">
				<div class="row gamefeed-game-container">
					<div class="col s12">
						<h2 class="center white-text rockwell gamefeed-shadow-details">Games</h2>
					</div>

					<div class="col s12 m8 l6 offset-m2 offset-l3">
						<form id="gamefeed-game-search-bar">
							<input type="search" ng-model="gameFeedSearch" ng-change="searchGame()" tabindex="1">
						</form>
					</div>
					<div class="col s8 m8 l4 offset-s3 offset-m4 offset-l5 telegrafico gamefeed-sort-part white-text">
						<p class="gamefeed-sort-adjust gamefeed-radio-button gamefeed-shadow-details">Sort by:
							<input ng-click="gamefeedInit()" ng-model="sortType" class="with-gap" name="group3" type="radio" id="Name" value="name" checked />
							<label for="Name" class="white-text">Name</label>
							<input ng-click="gamefeedInit()" ng-model="sortType" class="with-gap" name="group3" type="radio" id="Date" value="date"/>
							<label for="Date" class="white-text">Date</label>
						</p>
					</div>
				</div>
			</div>

			<!-- Do your thing here -->
			<div class="gamefeed-game-container">
				<div class="row">
					<div id="gamefeed-game-title" class="col s12 hide-on-large-only hide-on-med-only gamefeed-padding-left gamefeed-padding-right">

						<div class="row gamefeed-padding-left gamefeed-padding-right" >
                            <div class="col s12" ng-repeat="x in games">
                                <a class="gamefeed-black-text-anchor" ng-href="#/game/{{x.game_id}}">
                                    <div class="gamefeed-game-box">
                                            <div class="gamefeed-game-box-header palette-3 valign-wrapper">
                                                <div class="width-100 row margin-override-0">
                                                    <div class="col s12 telegrafico white-text left truncate center gamefeed-adjust-title-game">
                                                        {{ x.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="gamefeed-game-box-body">
                                            <div class="row gamefeed-remove-bottom">
                                                <div class="col s12">
                                                    <div class="gamefeed-description gamefeed-remove-bottom">
                                                        <div class="center century-gothic">{{ x.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gamefeed-match-container">
                                                <div class="telegrafico center">Date</div>
                                                <div class="gamefeed-match-info center">
                                                    Start: {{ x.start_date }} | End: {{ x.end_date }}
                                                </div>
                                                <div class="telegrafico center">Location</div>
                                                <div class="gamefeed-match-info center">
                                                    {{ x.location }}
                                                </div>
                                                <div class="gamefeed-padding-down">
                                                    <div data-target="gamefeed-update-game" class="col s1 offset-s10" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-pencil gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                    <div data-target="gamefeed-delete-game" class="col s1" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-close gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
						</div>

					</div>

					<div id="gamefeed-game-title" class="col m6 hide-on-large-only hide-on-small-only gamefeed-padding-left gamefeed-padding-right">

						<div class="row gamefeed-padding-left gamefeed-padding-right" >
                            <div class="col m12" ng-repeat="x in splitColumn1">
                                <a class="gamefeed-black-text-anchor" ng-href="#/game/{{x.game_id}}">
                                    <div class="gamefeed-game-box">
                                            <div class="gamefeed-game-box-header palette-3 valign-wrapper">
                                                <div class="width-100 row margin-override-0">
                                                    <div class="col s12 telegrafico white-text left truncate center gamefeed-adjust-title-game">
                                                        {{ x.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="gamefeed-game-box-body">
                                            <div class="row gamefeed-remove-bottom">
                                                <div class="col s12">
                                                    <div class="gamefeed-description gamefeed-remove-bottom">
                                                        <div class="center century-gothic">{{ x.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gamefeed-match-container">
                                                <div class="telegrafico center">Date</div>
                                                <div class="gamefeed-match-info center">
                                                    Start: {{ x.start_date }} | End: {{ x.end_date }}
                                                </div>
                                                <div class="telegrafico center">Location</div>
                                                <div class="gamefeed-match-info center">
                                                    {{ x.location }}
                                                </div>
                                                <div class="gamefeed-padding-down">
                                                    <div data-target="gamefeed-update-game" class="col s1 offset-s10" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-pencil gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                    <div data-target="gamefeed-delete-game" class="col s1" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-close gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
						</div>

					</div>

                    <div id="gamefeed-game-title" class="col m6 hide-on-large-only hide-on-small-only gamefeed-padding-left gamefeed-padding-right">

						<div class="row gamefeed-padding-left gamefeed-padding-right" >
                            <div class="col m12" ng-repeat="x in splitColumn2">
                                <a class="gamefeed-black-text-anchor" ng-href="#/game/{{x.game_id}}">
                                    <div class="gamefeed-game-box">
                                            <div class="gamefeed-game-box-header palette-3 valign-wrapper">
                                                <div class="width-100 row margin-override-0">
                                                    <div class="col s12 telegrafico white-text left truncate center gamefeed-adjust-title-game">
                                                        {{ x.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="gamefeed-game-box-body">
                                            <div class="row gamefeed-remove-bottom">
                                                <div class="col s12">
                                                    <div class="gamefeed-description gamefeed-remove-bottom">
                                                        <div class="center century-gothic">{{ x.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gamefeed-match-container">
                                                <div class="telegrafico center">Date</div>
                                                <div class="gamefeed-match-info center">
                                                    Start: {{ x.start_date }} | End: {{ x.end_date }}
                                                </div>
                                                <div class="telegrafico center">Location</div>
                                                <div class="gamefeed-match-info center">
                                                    {{ x.location }}
                                                </div>
                                                <div class="gamefeed-padding-down">
                                                    <div data-target="gamefeed-update-game" class="col s1 offset-s10" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-pencil gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                    <div data-target="gamefeed-delete-game" class="col s1" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-close gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
						</div>

					</div>

                    <div id="gamefeed-game-title" class="col l4 hide-on-med-and-down gamefeed-padding-left gamefeed-padding-right">

						<div class="row gamefeed-padding-left gamefeed-padding-right" >
                            <div class="col s12" ng-repeat="x in column1">
                                <a class="gamefeed-black-text-anchor" ng-href="#/game/{{x.game_id}}">
                                    <div class="gamefeed-game-box">
                                            <div class="gamefeed-game-box-header palette-3 valign-wrapper">
                                                <div class="width-100 row margin-override-0">
                                                    <div class="col s12 telegrafico white-text left truncate center gamefeed-adjust-title-game">
                                                        {{ x.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="gamefeed-game-box-body">
                                            <div class="row gamefeed-remove-bottom">
                                                <div class="col s12">
                                                    <div class="gamefeed-description gamefeed-remove-bottom">
                                                        <div class="center century-gothic">{{ x.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gamefeed-match-container">
                                                <div class="telegrafico center">Date</div>
                                                <div class="gamefeed-match-info center">
                                                    Start: {{ x.start_date }} | End: {{ x.end_date }}
                                                </div>
                                                <div class="telegrafico center">Location</div>
                                                <div class="gamefeed-match-info center">
                                                    {{ x.location }}
                                                </div>
                                                <div class="gamefeed-padding-down">
                                                    <div data-target="gamefeed-update-game" class="col s1 offset-s10" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-pencil gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                    <div data-target="gamefeed-delete-game" class="col s1" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-close gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
						</div>

					</div>


					<div id="gamefeed-game-title" class="col m4 l4 hide-on-med-and-down gamefeed-padding-left gamefeed-padding-right">

						<div class="row gamefeed-padding-left gamefeed-padding-right">

                            <div class="col s12" ng-repeat="x in column2">
                                <a class="gamefeed-black-text-anchor" ng-href="#/game/{{x.game_id}}">
                                    <div class="gamefeed-game-box">
                                            <div class="gamefeed-game-box-header palette-3 valign-wrapper">
                                                <div class="width-100 row margin-override-0">
                                                    <div class="col s12 telegrafico white-text left truncate center gamefeed-adjust-title-game">
                                                        {{ x.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="gamefeed-game-box-body">
                                            <div class="row gamefeed-remove-bottom">
                                                <div class="col s12">
                                                    <div class="gamefeed-description gamefeed-remove-bottom">
                                                        <div class="center century-gothic">{{ x.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gamefeed-match-container">
                                                <div class="telegrafico center">Date</div>
                                                <div class="gamefeed-match-info center">
                                                    Start: {{ x.start_date }} | End: {{ x.end_date }}
                                                </div>
                                                <div class="telegrafico center">Location</div>
                                                <div class="gamefeed-match-info center">
                                                    {{ x.location }}
                                                </div>
                                                <div class="gamefeed-padding-down">
                                                    <div data-target="gamefeed-update-game" class="col s1 offset-s10" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-pencil gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                    <div data-target="gamefeed-delete-game" class="col s1" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-close gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

						</div>

					</div>


					<div id="gamefeed-game-title" class="col m4 l4 hide-on-med-and-down gamefeed-padding-left gamefeed-padding-right">

						<div class="row gamefeed-padding-left gamefeed-padding-right">

                            <div class="col s12" ng-repeat="x in column3">
                                <a class="gamefeed-black-text-anchor" ng-href="#/game/{{x.game_id}}">
                                    <div class="gamefeed-game-box">
                                            <div class="gamefeed-game-box-header palette-3 valign-wrapper">
                                                <div class="width-100 row margin-override-0">
                                                    <div class="col s12 telegrafico white-text left truncate center gamefeed-adjust-title-game">
                                                        {{ x.name }}
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="gamefeed-game-box-body">
                                            <div class="row gamefeed-remove-bottom">
                                                <div class="col s12">
                                                    <div class="gamefeed-description gamefeed-remove-bottom">
                                                        <div class="center century-gothic">{{ x.description }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gamefeed-match-container">
                                                <div class="telegrafico center">Date</div>
                                                <div class="gamefeed-match-info center">
                                                    Start: {{ x.start_date }} | End: {{ x.end_date }}
                                                </div>
                                                <div class="telegrafico center">Location</div>
                                                <div class="gamefeed-match-info center">
                                                    {{ x.location }}
                                                </div>
                                                <div class="gamefeed-padding-down">
                                                    <div data-target="gamefeed-update-game" class="col s1 offset-s10" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-pencil gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                    <div data-target="gamefeed-delete-game" class="col s1" ng-click="setPending(x)" ng-show="checkUser(x)">
                                                        <i class="fa fa-close gamefeed-adjust-icons" aria-hidden="true"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>

						</div>

					</div>
				</div>
			</div>
		</div>
</div>

<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light tooltipped" href="" data-target="gamefeed-add-game" id="gamefeed-fab-palette-3" data-position="left" data-delay="50" data-tooltip="Add game" ng-show="checkUser(x)">
		<i class="large material-icons">add</i>
	</a>
</div>

<div id="gamefeed-delete-game" class="modal gamefeed-deletion">
	<div class="modal-content gamefeed-header-fill century-gothic	">
		<div class="row gamefeed-remove-bottom">
			<div class="col s12 gamefeed-padding-left gamefeed-padding-right">
				<div class="center palette-5">
					<br>
						<div class="card-title white-text center telegrafico" id="thicken">
					 		<h4 class="gamefeed-remove-bottom-modal">Delete Game</h4>
						</div>
					<br>
				</div>
			</div>
		</div>
		<div class="row gamefeed-modal-container">
			<p>Are you sure you want to delete this game?</p>
		</div>
	</div>
	<div class="modal-footer palette-5 right-align">
		<button href="" class="modal-action modal-close minimalist-button">CLOSE</button>
		<button href="" class="modal-action modal-close minimalist-button-inverted" ng-click="deleteGame()">YES</button>
		<button href="" class="modal-action modal-close minimalist-button-inverted">NO</button>
	</div>
</div>


<div id="gamefeed-add-game" class="modal gamefeed-addition modal-fixed-footer">
	<div class="modal-content gamefeed-header-fill century-gothic">
		<div class="row gamefeed-remove-bottom">
			<div class="col s12 gamefeed-padding-left gamefeed-padding-right">
				<div class="center palette-5">
					<br>
						<div class="card-title white-text center telegrafico" id="thicken">
					 		<h4 class="gamefeed-remove-bottom-modal">Add Game</h4>
						</div>
					<br>
				</div>
			</div>
		</div>
		<div class="row gamefeed-modal-container  gamefeed-add-modal-content">
			<div class="input-field col s6 gamefeed-input-color-change">
				<input placeholder=" " id="name" type="text" class="validate " ng-model="gameName">
				<label for="name">Game Name</label>
			</div>
			<div class="input-field col s6 gamefeed-input-color-change">
				<input placeholder=" " id="location" type="text" class="validate " ng-model="location">
				<label for="location">Location</label>
			</div>

			<div class="input-field col s6 gamefeed-input-color-change">
				<input id="start-date" type="date" class="validate " ng-model="startDate">
				<label for="start-date" class="gamefeed-adjust-label">Start Date</label>
			</div>
			<div class="input-field col s6 gamefeed-input-color-change">
				<input id="end-date" type="date" class="validate " ng-model="endDate">
				<label for="end-date" class="gamefeed-adjust-label">End Date</label>
			</div>

			<div class="input-field col s12 gamefeed-input-color-change">
				<textarea placeholder=" " id="description" class="materialize-textarea" data-length="140" ng-model="description"></textarea>
				<label for="description" class="gamefeed-textarea-label-color-change">Description</label>
			</div>

			<!--
			organizer_id:req.body.orgId,
			name : req.body.gameName,
			start_date : req.body.startDate,
			end_date : req.body.endDate,
			location	: req.body.location,
			description	: req.body.description,
			overall_winner : req.body.gameWinner
			-->
		</div>
	</div>
	<div class="modal-footer palette-5 right-align">
		<button href="" class="modal-action modal-close minimalist-button" ng-click="resetModalData()">CLOSE</button>
		<button href="" class="modal-action modal-close minimalist-button-inverted" ng-click="addGame()">ADD</button>
	</div>
</div>

<div id="gamefeed-update-game" class="modal gamefeed-addition modal-fixed-footer">
	<div class="modal-content gamefeed-header-fill century-gothic">
		<div class="row gamefeed-remove-bottom">
			<div class="col s12 gamefeed-padding-left gamefeed-padding-right">
				<div class="center palette-5">
					<br>
						<div class="card-title white-text center telegrafico" id="thicken">
					 		<h4 class="gamefeed-remove-bottom-modal">Update Game</h4>
						</div>
					<br>
				</div>
			</div>
		</div>
		<div class="row gamefeed-modal-container">
			<div class="input-field col s6 gamefeed-input-color-change">
				<input placeholder=" " id="name" type="text" class="validate" ng-model="gameName">
				<label for="name">Game Name</label>
			</div>
			<div class="input-field col s6 gamefeed-input-color-change">
				<input placeholder=" " id="location" type="text" class="validate " ng-model="location">
				<label for="location">Location</label>
			</div>

			<div class="input-field col s6 gamefeed-input-color-change">
				<input id="start-date" type="date" class="validate " ng-model="startDate">
				<label for="start-date" class="gamefeed-adjust-label">Start Date</label>
			</div>
			<div class="input-field col s6 gamefeed-input-color-change">
				<input id="end-date" type="date" class="validate " ng-model="endDate">
				<label for="end-date" class="gamefeed-adjust-label">End Date</label>
			</div>

			<div class="input-field col s12 gamefeed-input-color-change">
				<textarea placeholder=" " id="description" class="materialize-textarea" data-length="140" ng-model="description"></textarea>
				<label for="description" class="gamefeed-textarea-label-color-change">Description</label>
			</div>

			<p class="center">Note: Changes will only reflect on fields which are edited.</p>

			<!--
			organizer_id:req.body.orgId,
			name : req.body.gameName,
			start_date : req.body.startDate,
			end_date : req.body.endDate,
			location	: req.body.location,
			description	: req.body.description,
			overall_winner : req.body.gameWinner
			-->
		</div>
	</div>
	<div class="modal-footer palette-5 right-align">
		<button href="" class="modal-action modal-close minimalist-button" ng-click="resetModalData()">CLOSE</button>
		<button href="" class="modal-action modal-close minimalist-button-inverted" ng-click="editGame()">UPDATE</button>
	</div>
</div>

<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>