<div id="mainHolder">
	<!-- Do not put anything inside main holder -->
<!-- Main holder just keeps the main below the navbar -->
	<div id="main">
			
			<!-- Do your thing here -->
			<div class="game-container">
				<!-- <div class="row"> -->
					<div class="slider game-slider-background" id="game-slider">
						<ul class="slides game-slider-background" id="game-slides">
							<li>
								<div class="row">
									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team Q berry match</h5>
													<p>Score: 2080</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 789</p>
													<h5 class="truncate">Mataim Team</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">TeamOg Silangan</h5>
													<p>Score: 82</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 59</p>
													<h5 class="truncate">E-Team</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team ba</h5>
													<p>Score: 40</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 19</p>
													<h5 class="truncate">PataTeam</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team Park</h5>
													<p>Score: 70</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 49</p>
													<h5 class="truncate">Team Bangan</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 1</h5>
													<p>Score: 103</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 82</p>
													<h5 class="truncate">Team 2</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 1</h5>
													<p>Score: 103</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 82</p>
													<h5 class="truncate">Team 2</h5>
												</div>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 1</h5>
													<p>Score: 103</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 82</p>
													<h5 class="truncate">Team 2</h5>
												</div>
											</div>
										</div>
									</div>

									<div class="col s12 m2">
										<div class="card hoverable">
											<div class="card-panel game-match-diagonal-up game-smaller-padding light-primary">
												<div class="left-align ">
													<h5 class="truncate">Team 4</h5>
													<p>Score: 46</p>
												</div>
											</div>
											
											<div class="card-panel game-match-diagonal-down game-smaller-padding primary">
												<div class="right-align">
													<p>Score: 37</p>
													<h5 class="truncate">Team 5</h5>
												</div>
											</div>
										</div>
								</div>
							</li>
						</ul>
					</div>
				<!-- </div> -->

				<div class="row">
					<div class="col s12 m3">
						<div class="card-panel primary game-remove-padding">
							<h5 class="white-text game-remove-margin">Rankings</h5>
						</div>	

						<ul class="collection">
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											1
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 1</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											2
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 2</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											3
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 3</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											4
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 4</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											5
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 5</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											6
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 6</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											7
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 7</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											8
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 8</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											9
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 9</p>
									</div>
								</div>
							</li>
							<li class="collection-item game-remove-padding">
								<div class="row game-margin-other-place">
									<div class="col s3">
										<div class="card-panel primary game-remove-padding-absolute center light-primary">
											10
										</div>
									</div>
									<div class="col s9 game-teamname-adjust">
										<p class="game-remove-margin truncate">Organization 10</p>
									</div>
								</div>
							</li>
						</ul>
					</div>

					<div class="col s12 m6">
						<div class="card-panel primary game-remove-padding">
							<div class="row game-remove-bottom">
								<div class="col s12 m3">
									<h5 class="white-text game-remove-margin">Sports</h5>
								</div>
								<div class="col s12 m8 game-padding-right">
									<nav class="center game-btn-height game-inline-search" id="game-sport-search">
										<div class="nav-wrapper">
											<form>
												<div class="input-field">
													<input id="search" class="no-margin game-btn-height" type="search" requilight-primary>
													<label class="label-icon no-margin game-btn-height" for="search"><i class="tiny material-icons game-btn-height game-icon-adjust">search</i></label>
												</div>
											</form>
										</div>
									</nav>
								</div>
								<div class="col s12 m1 game-padding-search">
									<a class="waves-effect waves-light btn red primary game-inline-search game-padding-left game-padding-right" href="#game-add-sport" id="game-mini-icon"><i class="material-icons">add</i></a>
								</div>
							</div>
						</div>	

							<ul class="collapsible popout" data-collapsible="accordion">
								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/1_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4 class="truncate">Basketball</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="#game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="#game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>
								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/2_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Volleyball</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="#game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="#game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>
								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/3_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Soccer</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="#game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="#game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/4_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Baseball</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="#game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="#game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/5_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Tennis</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="#game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="#game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>

								<li class="game-allowance-sports">
									<div class="collapsible-header light-primary">
										<div class="row game-margin-other-place">
											<div class="col s12 m3">
											 <img src="assets/6_sport.png" class="game-adjust-image center">
											</div>
											<div class="col s12 m9">
												<h4>Golf</h4>
											</div>
										</div>
									</div>
									<div class="collapsible-body">
										Upcoming matches: Team 1 vs. Team 2
										<br><a href="#">Go to sport</a>	
										<div class="game-padding-down">
											<div class="col s1 offset-s10">
												<a class="waves-effect waves-light" href="#game-update-sport"><i class="material-icons center">update</i></a>
											</div>
											<div class="col s1">
												<a class="waves-effect waves-light" href="#game-delete-sport"><i class="material-icons center">delete</i></a>
											</div>
										</div>
									</div>
								</li>
							</ul>
					</div>

					<div class="col s12 m3">
						<div class="card-panel primary game-remove-padding">
							<h5 class="white-text game-remove-margin">Updates</h5>
						</div>
						<div class="card-panel game-remove-padding">
							<p class="game-smaller-font-header right-align">Badminton | 30 February 2017 | Sunday</p>
							<h5>Winner by default: Team Ba</h5>						
							<p class="game-smaller-font-header">by Some staff</p>
							<p>Ayun, napikon ang kalaban ng Team Ba kaya na-winner by deafult sila. Nag-rage quit. <a href="#"> read more...</a></p>
						</div>
						<div class="card-panel game-remove-padding">
							<p class="game-smaller-font-header right-align">Volleyball | 31 February 2087 | Monday</p>
							<h5>Nobody said it was easy - Coldplay</h5>						
							<p class="game-smaller-font-header">by Annie Batungbola</p>
							<p>"Ang hirap naman ng pinagagawa ni Coach Sarah sa amin kaya hindi naging maayos yung game namin", ika ni <a href="#"> read more...</a></p>
						</div>	
					</div>


				</div>
			</div>
		</div>
</div>

<div id="game-add-sport" class="modal">
	<div class="row game-remove-bottom">
		<div class="col s12 game-padding-left game-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Add Sport</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<div class="row">
			<div class="col s12">
				<h5 class="center">Time</h5>
				<div class="divider"></div><br>
			</div>
			<div class="input-field col s6">
				<input placeholder="Time started" id="start-time" type="text" class="validate">
				<label for="start-time">Start</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="Time ended" id="end-time" type="text" class="validate">
				<label for="end-time">End</label>
			</div>

			<div class="col s6">
				<h5 class="center">Date</h5>
				<div class="divider"></div><br>
			</div>
			<div class="col s6">
				<h5 class="center">Scoring system</h5>
				<div class="divider"></div><br>
			</div>

			<div class="input-field col s6">
				<input type="date" class="validate">
			</div>

			<div class="input-field col s6">
				<select>
					<option value="" disabled selected>Choose your option</option>
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
				</select>
				<label>Scoring system</label>
			</div>

			<!-- 
			time_start: req.body.timeStart,
			time_end: req.body.timeEnd,
			date: req.body.date,
			scoring_system: req.body.scoringSystem,
			game_id: req.body.gameID
			-->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Add</a>
	</div>
</div>

<div id="game-update-sport" class="modal">
	<div class="row game-remove-bottom">
		<div class="col s12 game-padding-left game-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Update Sport</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<div class="row">
			<div class="col s12">
				<h5 class="center">Time</h5>
				<div class="divider"></div><br>
			</div>
			<div class="input-field col s6">
				<input placeholder="Time started" id="start-time" type="text" class="validate">
				<label for="start-time">Start</label>
			</div>
			<div class="input-field col s6">
				<input placeholder="Time ended" id="end-time" type="text" class="validate">
				<label for="end-time">End</label>
			</div>

			<div class="col s6">
				<h5 class="center">Date</h5>
				<div class="divider"></div><br>
			</div>
			<div class="col s6">
				<h5 class="center">Scoring system</h5>
				<div class="divider"></div><br>
			</div>

			<div class="input-field col s6">
				<input type="date" class="validate">
			</div>

			<div class="input-field col s6">
				<select>
					<option value="" disabled selected>Choose your option</option>
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
				</select>
				<label>Scoring system</label>
			</div>
			
			<div class="col s12">
				<p class="center">Note: Changes will only reflect on fields which are edited.</p>
			</div>
			<!-- 
			time_start: req.body.timeStart,
			time_end: req.body.timeEnd,
			date: req.body.date,
			scoring_system: req.body.scoringSystem,
			game_id: req.body.gameID
			-->
		</div>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Update</a>
	</div>
</div>

<div id="game-delete-sport" class="modal">
	<div class="row game-remove-bottom">
		<div class="col s12 game-padding-left game-padding-right">
			<div class="center dark-primary">
				<br>
					<div class="card-title white-text center" id="thicken">
				 		<h5>Delete Sport</h5>
					</div>
				<br>
			</div>
		</div>
	</div>	
	<div class="modal-content">
		<p>Are you sure you want to delete this sport?</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">No</a>
		<a href="#!" class="modal-action modal-close waves-effect btn-flat">Yes</a>
	</div>
</div>

<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>
<script src="frontend_modules/js/materialize.js"></script>