<div id="mainHolder">
<!-- Do not put anything inside main holder -->
<!-- Main holder just keeps the main below the navbar -->
	<div id="main" style="overflow-y: hidden !important;">
		
		<!-- Do your thing here -->
		<div class="palette-5 help-extend-height">
			<div class="row">
				<div class="col s12">
					<h2 class="center white-text rockwell help-shadow-details">FAQ</h2>
					<h5 class="center white-text rockwell help-shadow-details">Frequently Asked Questions</h5>
				</div>
			</div>
			<div class="container">
				<div class="row">

					<!-- User Capabilities -->
					<div class="col s10 m8 offset-s1 offset-m2 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">User Capabilities</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="expandable">

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">What can the organizers do?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Organizers can only:<br>
									● Add, update and delete sports.<br>
									● Create a game and pick the sports that will be in that game.<br>
									● Delete a game.<br>
									● Add users/teams to a particular sport or game.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">What can competitors do?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Competitors can only:<br>
									● Join any sport in a game.<br>
									● View list of all games.<br><br>
									A competitor can also become a coach thus, doing the following is/are also allowed:<br>
									● Create a team.<br>
									But this does not allow them to create a game.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">What can guests do?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Guest users may only access the web application with minimal usage. They are only
									allowed to do the following:<br>
									● View list of games.<br>
									● View updates through the web application such as events and winners.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Who can view and manage my profile?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Any user can view your profile but only you can manage it.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Who can deactivate and activate accounts?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Only the administrators are allowed to activate and deactivate accounts, they can also view the system’s logs.
								</div>
							</li>
						</ul>
					</div>

					<!-- Registration -->
					<div class="col s10 m8 offset-s1 offset-m2 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">Registration</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="expandable">

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">How to register as user in the web application?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Anyone can register anytime upon an email request from the admin to get the credentials.
								</div>
							</li>
	
							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Is UP email required to register?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									A UP email is required to register.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Do I need to be a registered user to play?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									The Web application will not know whether you are registered or not, but this will be checked in person by the organizers of the game in the event itself.
								</div>
							</li>

						</ul>
					</div>

					<!-- Technical -->
					<div class="col s10 m8 offset-s1 offset-m2 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">Technical</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="expandable">

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Do I need internet connection to access the web application?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Yes, an internet access is needed to access the application.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">What browser does it work on?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									The application will work on any browser but it is advisable to use Google Chrome.
								</div>
							</li>

						</ul>
					</div>					

				</div>
			</div>
		</div>


	</div>
</div>

<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>
<script src="frontend_modules/js/materialize.js"></script>