<div id="mainHolder">
<!-- Do not put anything inside main holder -->
<!-- Main holder just keeps the main below the navbar -->
	<div id="main" style="overflow-y: hidden !important;">
		
		<!-- Do your thing here -->
		<div class="palette-5 help-extend-height">
			<div class="row">
				<div class="col s12">
					<h2 class="center white-text rockwell">Help</h2>
					<h5 class="center white-text rockwell">frequently asked questions</h5>
				</div>
			</div>
			<div class="container">
				<div class="row">

					<!-- User Capabilities -->
					<div class="col s4 offset-s4 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">User Capabilities</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="expandable">

					
							<li>
								<div class="collapsible-header telegrafico">
									Who can add, update and delete sports?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Only organizers can add, update and delete sports.
								</div>
							</li>


							<li>
								<div class="collapsible-header telegrafico">
									Who can pick the sports to be included in a game?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Only organizers the organizers who created the game can pick the sports to be included in it.
								</div>
							</li>


							
							<li>
								<div class="collapsible-header telegrafico">
									Who can delete a game?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Only organizers can delete a game.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									Who can add users/teams to a particular sport or game?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Only organizers can add users/teams to a particular sport or game.
								</div>
							</li>


							<li>
								<div class="collapsible-header telegrafico">
									Who can join a sport in a game?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Competitors can join any sport in a game.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									Who can view the list of all games?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Any user (competitor, admin, organizer) including guests can view the list of all games.
								</div>
							</li>


							<li>
								<div class="collapsible-header telegrafico">
									How do I beome a coach?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									A competitor can become a coach, they will be able to create a team but are not able to create a game.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									What can the guest view in the application?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Guest users may only access the web application with minimal usage. They are only
									allowed to do the following:<br>
									● View updates through the web application such as events and winners.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									Who can view and manage my profile?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Any user can view your profile but only you can manage it.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									How do I organize an event?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Organizers can make an event through sending an email to <a>malicsi@up.edu.ph</a>.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									Who can deactivate and activate accounts?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Only the administrators are allowed to activate and deactivate accounts, they can also view the system’s logs.
								</div>
							</li>
						</ul>
					</div>

					<!-- Registration -->
					<div class="col s4 offset-s4 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">Registration</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="expandable">


							<li>
								<div class="collapsible-header telegrafico">
									Who can register to Malicsi?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Only competitors can register to Malicsi.
								</div>
							</li>
	



							<li>
								<div class="collapsible-header telegrafico">
									How to register as user in the web application?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									An aspiring competitor can register anytime upon an email request from the admin to get the credentials.
								</div>
							</li>
	
							<li>
								<div class="collapsible-header telegrafico">
									Is UP email required to register?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									A UP email is required to register.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									Do I need to be a registered user to play?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									The Web application will not know whether you are registered or not, but this will be checked in person by the organizers of the game in the event itself.
								</div>
							</li>

						</ul>
					</div>

					<!-- Technical -->
					<div class="col s4 offset-s4 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">Technical</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="expandable">

							<li>
								<div class="collapsible-header telegrafico">
									Do I need internet connection to access the web application?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									Yes, an internet access is needed to access the application.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico">
									What browser does it work on?
									<i class="fa fa-angle-down help-icon-arrow"></i>
								</div>
								<div class="collapsible-body white century-gothic">
									The application will work on any browser but it is advisable to use Google Chrome.
								</div>
							</li>

						</ul>
					</div>					

				</div>
			</div>
		</div>


	</div>
</div>

<footer class="page-footer transparent">
  <div class="footer-copyright help-footer-override">
    <div class="container help-footer">
			<span class="rockwell right help-footer-copyright">Copyright © 2017 CMSC 128 A-7L The Betels </span>
			<span class="rockwell right"> | </span>
			<a class="telegrafico right" href="#/aboutus">About Us</a>
			<span class="rockwell right"> | </span>
			<a class="telegrafico right" href="#/help">Help</a>
    </div>
  </div>
</footer>

<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>
<script src="frontend_modules/js/materialize.js"></script>