<div id="mainHolder">
<!-- Do not put anything inside main holder -->
<!-- Main holder just keeps the main below the navbar -->
	<div id="main" style="overflow-y: hidden !important;">
		
		<!-- Do your thing here -->
		<div class="palette-5 help-extend-height">
			<div class="row">
				<div class="col s12">
					<h2 class="center white-text rockwell help-shadow-details">FAQ</h2>
					<h5 class="center white-text rockwell help-shadow-details">Frequently Asked Questions</h5>
				</div>
			</div>
			<div class="container">
				<div class="row">

					<!-- User Capabilities -->
					<div class="col s10 m8 offset-s1 offset-m2 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">User Capabilities</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="accordion">
							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">How do I create a game?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									You can only create a game if you are a logged in as an organizer.
									You will have to send a request to <a>malicsi.thebetels@gmail.com</a> containing your name, details, contact number, and reason for registering as such.
									An administrator will keep in touch with you.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Who can add, update and delete sports?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Only organizers can add, update and delete sports.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Who can pick and add the sports to be included in a game?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Only the organizers who created the game can add the sports to be included in it.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">I don't like a game. Can I delete it?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Only organizers can delete a game.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Who can add users/teams to a particular sport or game?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Only the administrators are allowed to activate and deactivate accounts, they can also view the system’s logs.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Do I need to login to view the games and results?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									No. You can browse the public profiles of Games, Sports, Competitors, Organizers, and Organizations even without logging into the system.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">How do I become a coach?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									A competitor can become a coach, they will be able to create a team but are not able to create a game.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">What is the difference between an organizer and an organization?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									An organizer is an institution or an entity that manages a game.
									An organization is the unifying entity for teams. Each Team belongs to a specific organization.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Who can view and manage my profile?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Only the owner can manage their profile, but other users can view their profiles.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
                                    <div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Who can deactivate and activate accounts?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Only the administrators are allowed to activate and deactivate accounts, where they can also view the system’s logs.
								</div>
							</li>
						</ul>
					</div>

					<!-- Registration -->
					<div class="col s10 m8 offset-s1 offset-m2 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">Registration</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="accordion">

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">What happens when I signup?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									You will be automatically classified as a competitor.
									After that, you can belong to organizations based on the team that you will join for a sport.
								</div>
							</li>
	
							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Is UP email required to register</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									No
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Do I need to be a registered user to play in the games organized?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Yes. The organizers used this game management system in order to track the competing teams and players for their event.
									Special cases will only be addressed by the respective organizing entity.
								</div>
							</li>

						</ul>
					</div>

					<!-- Technical -->
					<div class="col s10 m8 offset-s1 offset-m2 card-panel palette-3 rockwell">
						<h5 class="center help-category-header white-text">Technical</h5>
					</div>

					<div class="col s12 m10 offset-m1">
						<ul class="collapsible popout" data-collapsible="accordion">

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">Do I need internet connection to access the web application?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									Yes, an internet access is needed to access the application.
								</div>
							</li>

							<li>
								<div class="collapsible-header telegrafico help-collapsible-header">
									<div class="row help-remove-bottom">
                                        <div class="col s2 m2 l2 "><i class="fa fa-angle-down help-icon-arrow"></i></div>
                                        <div class="col s10 m10 l10 help-header-wew">What browser does it work on?</div>
                                    </div>
								</div>
								<div class="collapsible-body white century-gothic help-collapsible-body">
									The application will work on any browser but it is advisable to use Google Chrome.
								</div>
							</li>

						</ul>
					</div>					

				</div>
			</div>
		</div>


	</div>
</div>

<!--Scripts-->
<script src="frontend_modules/js/init.js"></script>
<script src="frontend_modules/js/materialize.js"></script>