<div id="login-holder" class="valign-wrapper  palette-gray">
  <div id="login-panel" class="center row margin-override-0">
    <div id="login-cards" class="col l8 offset-l2 white z-depth-2 row">
      <div id="login-left" class="col l6 palette-2">
        <div id="title-left"></div>
        <div id="content-left">
          <form>
            
          </form>
        </div>
      </div>
      <div id="login-right" class="col l6">
        <div id="title-right"></div>
        <div id="content-right">
          <form>
            
          </form>
        </div>
      </div>
      
    </div>  
  </div>
</div>

<script>

</script>

<script type="text/javascript" src="controllers/login-controller.js"></script>
<script type="text/javascript" src="js/login-page.js"></script>
