<div id="login-holder" class="valign-wrapper  palette-5" ng-controller="UserCtrl">
  <div id="login-panel" class="center row margin-override-0">
    <div id="login-cards" class="col l8 offset-l2 white z-depth-2 row">
      <div id="login-left" class="col l6">
        <div id="title-left" class="valign-wrapper palette-3" style="height: 100%;">
          <div style="width: 100%;" class="rockwell white-text">
            Know the updates.
          </div>
        </div>
        <div id="content-left" style="display: none;">
          <form>
            <div class="row" style="width: 100%;">
              <div class="col s12 row rockwell palette-text-3" style="height: 20px!important; margin-top: 20px!important;">
                <div class="input-field col s12 letter-spacing-1" style="">
                  ACCOUNT CREDENTIALS
                </div>
              </div>

              <!-- USER NAME & PASSWORD -->
              <div class="col s12 row margin-override-0">
                <div class="input-field col s9">
                  <input placeholder="Username" id="signup-uname" type="text" ng-model="suname" class="validate margin-override-0" data-length="20" required>
                </div>
              </div>
              <div class="col s12 row margin-override-0">
                <div class="input-field col s6">
                  <input placeholder="Password" id="signup-password" type="password" ng-model="spword" class="validate margin-override-0" data-length="20" required>
                </div>
                <div class="input-field col s6">
                  <input placeholder="Confirm Password" id="signup-confirm-password" type="password" ng-model="cspword" class="validate margin-override-0" required>
                </div>
              </div>

              <div class="col s12 row rockwell palette-text-3" style="height: 20px!important; margin-top: 20px!important;">
                <div class="input-field col s12 letter-spacing-1">
                  PERSONAL INFORMATION
                </div>
              </div>

              <!-- NAME -->
              <div class="col s12 row margin-override-0">
                <div class="input-field col s10 ">
                  <input placeholder="First Name" id="signup-fname" type="text" ng-model="fname" class="validate margin-override-0" required>
                </div>
              </div>
              <div class="col s12 row margin-override-0">
                <div class="input-field col s10">
                  <input placeholder="Last Name" id="signup-lname" type="text" ng-model="lname" class="validate margin-override-0" required>
                </div>
              </div>
              <div class="col s12 row margin-override-0">
                <div class="input-field col s10 ">
                  <input placeholder="Nickname" id="signup-nname" type="text" ng-model="nname" class="validate margin-override-0" required>
                </div>
              </div>

              <!-- BIRTHDAY & SEX -->
              <div class="col s12 row margin-override-0">
                <div class="input-field col s6 ">
                  <input placeholder="Birthday" id="signup-bday" type="date" ng-model="bday" class="datepicker validate margin-override-0" required>
                </div>
                <div class="col s5 valign-wrapper margin-top-20" style="height: 100%;">
                      <input ng-model="sex" name="signup-sex" type="radio" id="signup-sex-female" class="with-gap validate" value="F" required/>
                      <label class="black-text telegrafico" for="signup-sex-female">Female</label>
                      <label style="width: 20px!important;"></label>
                      <input ng-model="sex" style="margin-left:20px!important;" name="signup-sex" type="radio" id="signup-sex-male" class="with-gap validate" value="M" required/>
                      <label class="black-text telegrafico" for="signup-sex-male">Male</label>
                </div>
              </div>

              <!-- EMAIL & CONTACT NUMBER-->
              <div class="col s12 row margin-override-0">
                <div class="input-field col s10 ">
                  <input placeholder="Email" id="signup-email" type="text" ng-model="email" class="validate margin-override-0" required>
                </div>
              </div>
              <div class="col s12 row margin-override-0">
                <div class="input-field col s10">
                  <input placeholder="Contact Number" id="signup-cnum" type="text" ng-model="contactNum" class="validate margin-override-0" required>
                </div>
              </div>

              <!-- Buttons -->
              <div class="row margin-override-0">
                <div class="row col l12 center">
                  <div class="col l12">
                    <button class="waves-effect login-btn palette-1 margin-top-20 " ng-disabled="!validate(fname, lname, nname, suname, sex, spword, cspword, bday, email, contactNum)"
                        ng-click="signUp(fname, lname, nname, suname, sex, spword, cspword, bday, email, contactNum);">SIGN UP</button>
                  </div>
                  <div class="col l12">
                    <div class="col l12 century-gothic login-info">
                      Already have an account? <a id="backtologin" href="">LOG IN.</a>
                    </div>
                  </div>
                </div>

              </div>
            </div>

            
          </form>
        </div>
      </div>
      <div id="login-right" class="col l6">
        <div id="title-right" class="valign-wrapper" style="height: 100%; display: none;">
          <div style="width: 100%;" class="rockwell white-text">
            Compete with other teams.
          </div>
        </div>
        <div id="content-right" class="valign-wrapper">
          <div style="width: 100%;">
            <form>
              <!-- HEADER -->
              <div class="row margin-down-20" style="width: 100%;">
                <div class="col s12 center" style="width: 100%;">
                  <h4 class="rockwell palette-text-3">Jump in.</h4>
                  <p id="loginError" class="century-gothic" style="color:red;"></p>
                </div>
              </div>

              <!-- INPUT FORMS -->
              <!-- USERNAME -->
              <div class="col s12 row margin-override-0">
                <div class="input-field col s10 offset-s1 login-input">
                  <input tabindex="1" placeholder="Username" id="login-username" type="text" ng-model="uname" class="margin-override-0 login-input">
                </div>
              </div>

              <!-- PASSWORD -->
              <div class="col s12 row margin-override-0">
                <div class="input-field col s10 offset-s1 login-input">
                  <input tabindex="2" placeholder="Password" id="login-password" type="password" ng-model="pword" class="margin-override-0 login-btn">
                </div>
              </div>

              <div class="row margin-override-0">
                <div id="login-button" class="col l12" style="margin-top: 10px;">
                  <button class="waves-effect login-btn palette-1 margin-top-20 " ng-click="logAccount()" >LOG IN</button>
                </div>
                <div class="col l12 century-gothic login-info">
                  No account yet? <a href="" id="signup">SIGN UP.</a>
                </div>
                <div class="col l12 century-gothic login-info-small">
                  To organize a game, email us @<br> <span class="palette-text-3">malicsia7l@gmail.com </span> or view help for more details.
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
      
    </div>  
  </div>
</div>

<script>

</script>

<script type="text/javascript" src="controllers/login-controller.js"></script>
<script type="text/javascript" src="js/login-page.js"></script>
