<div id="mainHolder">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below the navbar -->
	<div id="main">
		<div class="container">
			<h3 id="page-name" class="name">Organization Page</h3>
		</div>
		<div class="container">
			<img class="valign" id="team-lead" src="assets/avatar.png">
			<a href="#"><h2 class="player-name">Voldemort</h2></a>
			<h4 class="position"> Coach </h4>
		</div>
		<div class="slider4">
			<div class="slide">
				<div class="container">
					<div class="row"> 
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="container">
					<div class="row"> 
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
					</div>
				</div>
			</div><div class="slide">
				<div class="container">
					<div class="row"> 
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
						<div class="col s4 m3 l2 mem">
							<img class="valign players" src="assets/avatar.png">
							<a href="#"><h5 class="player-name">Voldemort</h5></a>
							<h6 class="position"> Coach </h6>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		 <div class="row container">
		 	<!-- STATISTICS -->
            <div class="col s12 m12 l6">
                <div class="row center-align">
                    <div class="col s4 m4 l4">
                        <h1>3</h1>
                    </div>
                    <div class="col s4 m4 l4">
                        <h1>1</h1>
                    </div>
                    <div class="col s4 m4 l4">
                        <h1>0</h1>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="col s4 m4 l4">
                        <h3>W</h3>
                    </div>
                    <div class="col s4 m4 l4">
                        <h3>L</h3>
                    </div>
                    <div class="col s4 m4 l4">
                        <h3>D</h3>
                    </div>
                </div>
            </div>
            <!-- GAMES PARTICIPATED -->
            <div class="col s12 m12 l6">
                <div class="row">
                    <h5>Recent Games<a href="" class="right modal-trigger" data-target="organization-allgames-modal">Show All</a></h5>

					<!-- Modal Structure -->
					<div id="organization-allgames-modal" class="modal modal-fixed-footer">
						<div class="modal-content">
							<div class="row">
								<h4 class="indigo-text">Games Participated</h4>
							</div>
							<div class="row">
								<div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
					            <div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
					            <div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
					            <div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
							</div>
							<div class="row">
								<div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
					            <div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
					            <div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
					            <div class="col s12 m6 l3">
					                <img src="assets/1.jpg" class="pic-modal">
					            </div>
							</div>
						</div>
						<div class="modal-footer">
							<button href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
						</div>
					</div>

                    <div class="slider5">
                        <div class="slide"><img src="assets/1.jpg" class="slidepic"></div>
                        <div class="slide">
                            <div>
                                <h5><a href="">Game 1</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur lectus in mauris bibendum euismod. Mauris ullamcorper velit sit amet sem maximus fermentum. Duis iaculis, nulla a viverra lobortis, purus.</p>  
                            </div>
                        </div>
                        <div class="slide"><img src="assets/1.jpg" class="slidepic"></div>
                        <div class="slide">
                            <div>
                                <h5><a href="">Game 2</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur lectus in mauris bibendum euismod. Mauris ullamcorper velit sit amet sem maximus fermentum. Duis iaculis, nulla a viverra lobortis, purus.</p>  
                            </div>
                        </div>
                        <div class="slide"><img src="assets/1.jpg" class="slidepic"></div>
                        <div class="slide">
                            <div>
                                <h5><a href="">Game 3</a></h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur lectus in mauris bibendum euismod. Mauris ullamcorper velit sit amet sem maximus fermentum. Duis iaculis, nulla a viverra lobortis, purus.</p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row container">
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
        </div>
        <div class="row container">
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
            <div class="desc col s12 m6 l3">
                <img src="assets/1.jpg" class="pic">
                <span>Some description here...</span>
            </div>
        </div>
	</div>
</div>

<script type="text/javascript" src="../js/organization-page.js"></script>