<div id="mainHolder">
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main" class="">
        <!-- Organizer Basic Info -->
        <div class="row palette-3 organizer-profile-info">
            <div class="col l3 m5 s12 offset-l1 center">
                <img id="organizer-profile-img" src="assets/avatar.png" class="pallette-3">
            </div>

            <div id="competitor-basic-info" class="col l7 m7 s12 white-text" ng-init="getOrganizer()">
                <h3 class="rockwell">{{ thisOrganizer.name }}</h3>
                <p class="telegrafico">Contact: {{ thisOrganizer.contact }} | E-mail: {{ thisOrganizer.email }}</p>
                <p class="telegrafico">
                    {{ thisOrganizer.description }}
                </p>
            </div>
            <div class="col l1 m1 s12"></div>
        </div>

        <div id="org-profile-div" class="col s12">
            <div class="row container">
                <!-- Games Handled -->
                <div id="sports-matches">
                    <div class="row" style="margin: 0; margin-top: 20px;">
                        <h4 class="rockwell center strong" style="margin: 0!important;">Games Handled</h4>
                    </div>
                    <div class="row">

                        <!-- P A S T GAMES -->
                        <div id="sports-past-matches" class="col s4">
                            <h5 class="telegrafico center">PAST GAMES ({{ games.length }})</h5>

                            <!-- LIST OF GAMES -->
                            <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;">
                                <div class="sports-match palette-border-5" ng-repeat="game in games">
                                    <!-- GAME TITLE -->
                                    <div class="sports-match-title row">
                                        <div class="telegrafico col s10">{{ game.name }}</div>
                                        <div class="telegrafico col s1" data-target="organizer-update-game-modal">
                                            <i class="fa fa-pencil fa-lg" ng-click="copyGame(game)"></i></div>
                                        <div class="telegrafico col s1" data-target="organizer-delete-game-modal"><i class="fa fa-close fa-lg" ng-click="copyGame(game)"></i></div>

                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- O N  G O I N G GAMES -->
                        <div id="sports-ongoing-matches" class="col s4">
                            <h5 class="telegrafico center">ON-GOING GAMES ({{ games.length }})</h5>

                            <!-- LIST OF GAMES -->
                            <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;">
                                <div class="sports-match palette-border-3" ng-repeat="game in games">
                                    <!-- GAME TITLE -->
                                    <div class="sports-match-title row">
                                        <div class="telegrafico col s10">{{ game.name }}</div>
                                        <div class="telegrafico col s1" data-target="organizer-update-game-modal">
                                            <i class="fa fa-pencil fa-lg" ng-click="copyGame(game)"></i></div>
                                        <div class="telegrafico col s1" data-target="organizer-delete-game-modal"><i class="fa fa-close fa-lg" ng-click="copyGame(game)"></i></div>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- U P C O M I N G GAMES -->
                        <div id="sports-upcoming-matches" class="col s4">
                            <h5 class="telegrafico center">UPCOMING GAMES ({{ games.length }})</h5>

                            <!-- LIST OF GAMES -->
                            <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;">
                                <div class="sports-match palette-border-4" ng-repeat="game in games">
                                    <!-- GAME TITLE -->
                                    <div class="sports-match-title row">
                                        <div class="telegrafico col s10">{{ game.name }}</div>
                                        <div class="telegrafico col s1" data-target="organizer-update-game-modal">
                                            <i class="fa fa-pencil fa-lg" ng-click="copyGame(game)"></i></div>
                                        <div class="telegrafico col s1" data-target="organizer-delete-game-modal"><i class="fa fa-close fa-lg" ng-click="copyGame(game)"></i></div>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- <div class="row organizer-footer black">
            <div class="black">
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"> Help </a></li>
                    <li><a href="#"> About Us </a></li>
                    <li>All Rights Reserved</li>
                </ul>
            </div>
        </div> -->
    </div>

</div>
<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/organizer-profile-page.js"></script>