<div id="mainHolder" ng-init="initPage()">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below the navbar -->
	<div id="main">
		<div class="organization-header" ng-init="retrieveOrganization()">
			<img class="valign" id="organization-logo" src="assets/team1.png">
			<h2 id="organization-name" class="rockwell strong letter-spacing-1">{{ organization.name }}</h2>
		</div>
		<div class="row org-search-panel palette-5">
			<div class="col s6 m6 l6 offset-m3 container">
				<form id="game-game-search-bar" class="search-bar-config">
					<input type="search">
				</form>
			</div>
		</div>

		<div class="container" style="margin: 0 auto; margin-top: 5px;" ng-init="retrieveGamesInOrganization(thisOrganization.organization_id)">
			<div class="col s12">
				<ul id="organization-team-tabs" class="tabs" ng-repeat="game in gamesInOrganization">
					<li class="tab col s3"><a class="blue-text darken-3 rockwell active" href="#game-table1">{{ game.name }}</a></li>
				</ul>
			</div>
			<div id="team-table-1" ng-init="retrieveTeams(thisOrganization.organization_id, game.game_id)">
				<div id="game-table1" ng-repeat="team in teams">
					<table>
						<thead>
							<tr class="telegrafico">
								<th> Team </th>
								<th> Sport </th>
								<th> Medals Won </th>
							</tr>
						</thead>
						<tbody >
							<tr class="rockwell">
								<td>
									<span> {{ team.team_name} } </span>
								</td>
								<td>
									<span> {{team.sport_name}} </span>
								</td>
								<td>
									<div class="col s4"> 3 </div>
									<div class="col s4"> 3 </div>
									<div class="col s4"> 3 </div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="game-table2">
					<table>
						<thead>
							<tr class="telegrafico">
								<th> Team </th>
								<th> Sport </th>
								<th> Medals Won </th>
							</tr>
						</thead>
						<tbody>
							<tr class="rockwell">
								<td>
									<span> Singko Babies </span>
								</td>
								<td>
									<span> Bagsakan ng Grades </span>
								</td>
								<td>
									<div class="col s4"> 3 </div>
									<div class="col s4"> 3 </div>
									<div class="col s4"> 3 </div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div id="game-table3">
					<table>
						<thead>
							<tr class="telegrafico">
								<th> Team </th>
								<th> Sport </th>
								<th> Medals Won </th>
							</tr>
						</thead>
						<tbody>
							<tr class="rockwell">
								<td>
									<span> Team No Practicum </span>
								</td>
								<td>
									<span> Hanapan 2017 </span>
								</td>
								<td>
									<div class="col s4"> 3 </div>
									<div class="col s4"> 3 </div>
									<div class="col s4"> 3 </div> 
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="container center col s12">
				<ul class="pagination center">
					<li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
					<li class="active"><a href="#team-table-1">1</a></li>
					<li class="waves-effect"><a href="#team-table-2">2</a></li>
					<li class="waves-effect"><a href="#team-table-3">3</a></li>
					<li class="waves-effect"><a href="#team-table-4">4</a></li>
					<li class="waves-effect"><a href="#team-table-5">5</a></li>
					<li class="waves-effect"><a href="#team-table-6"><i class="material-icons">chevron_right</i></a></li>
				</ul>
			</div>

		</div>
		<!--<div class="row org-handler" ng-init="retrieveTeams(1)"><h4 class="organization-team-handler palette-text-3 center rockwell"> Teams Handled </h4></div>-->

		<div id="organization-team-info-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<div class="row">
					<h4 class="center rockwell"> {{teamModal.team_name}} </h4>
					<div class="row organization-team-info-mem-label">
						<h5 class="palette-text-3 leixo">Members </h5>
					</div> 
					<div class="row">
						<h5 class="organization-team-member-name palette-text-3 century-gothic strong" id="emptyTeam"></h5>
						<div class="col s4 m3 l2 organization-team-member" ng-repeat="member in teamMembers" >
							<a class="modal-action modal-close" href="#/competitor/profile/{{member.id}} ">
							<img class="valign organization-team-member-avatar" src="assets/avatars/male_avatar_1.png">
							<h5 class="organization-team-member-name palette-text-3 century-gothic strong"> {{member.nickname}} </h5>
							<span class="organization-team-member-info palette-text-4 telegrafico"> Position </span>
							</a>
						</div>
						
					</div>
					<div class="row organization-team-info-mem-label">
						<h5 class="palette-text-3 leixo">Statistics</h5>
					</div>
					<div class="team-statistics">
						<div class="row center">
							<div class="col s4 m4 l4">
								<h1 class="stat-nums rockwell strong"> {{teamStats.first}} </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="stat-nums rockwell strong"> {{teamStats.second}} </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="stat-nums rockwell strong"> {{teamStats.third}} </h1>
							</div>
						</div>
						<div class="row center">
							<div class="col s4 m4 l4">
								<h1 class="secondary-text century-gothic strong"> 1st </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="secondary-text century-gothic strong"> 2nd </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="secondary-text century-gothic strong"> 3rd </h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button ng-click="joinTeam(teamModal.id);" ng-hide="currentUser.type!='C'" class="right minimalist-button">Join Team</button>
				<button class="modal-action modal-close right join-team-close minimalist-button">Close</button>
			</div>
		</div>
		<div class="row statistics-label center-align"> 
			<h4 class="rockwell palette-text-3 organization-team-handler"> Statistics </h4>
		</div>
		<div class="row container">
		 	<!-- STATISTICS -->
            <div class="col s12 m12 l5 palette-3">
                <div class="row center-align" ng-model="OrganizationController">
                    <div class="col s4 m4 l4">
						<h1 class="stat-nums rockwell strong"> {{organizationStats.first}} </h1>
					</div>
					<div class="col s4 m4 l4">
						<h1 class="stat-nums rockwell strong"> {{organizationStats.second}} </h1>
					</div>
					<div class="col s4 m4 l4">
						<h1 class="stat-nums rockwell strong"> {{organizationStats.third}} </h1>
					</div>
             
                </div>
                <div class="row center-align">
                    <div class="col s4 m4 l4">
                        <h3 class="palette-text-5 century-gothic strong">2nd</h3>
                    </div>
                    <div class="col s4 m4 l4">
                        <h3 class="palette-text-5 century-gothic strong">1st</h3>
                    </div>
                    <div class="col s4 m4 l4">
                        <h3 class="palette-text-5 century-gothic strong">3rd</h3>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l7 palette-2">
                <div class="row center-align">
					<h1 class="rockwell strong stat-nums"> {{organizationStats.total}} </h1>
                </div>
				<div class="row center-align">
					<div class="col s12 m12 l12">
						<h3 class="palette-text-5 century-gothic strong"> Total number of wins </h3>
					</div>
				</div>
			</div>
		</div>
		<!--Recent games label-->
	</div>
</div>

<script type="text/javascript" src="../js/organization-page.js"></script>
<script type="text/javascript" src="../controllers/organization-controller.js"></script> 
<script type="text/javascript" src="../js/competitor-profile-page.js"></script>