<div id="mainHolder">
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main" class="">
        <!-- Organizer Basic Info -->
        <div class="row palette-3 organizer-profile-info">
            <div class="col l3 m5 s12 offset-l1 center">
                <img id="organizer-profile-img" src="assets/avatar.png" class="pallette-3">
            </div>

            <div id="competitor-basic-info" class="col l7 m7 s12 white-text" ng-init="getOrganizer()">
                <h3 class="rockwell">{{ thisOrganizer.name }}</h3>
                <p class="telegrafico">Contact: {{ thisOrganizer.contact }} | E-mail: {{ thisOrganizer.email }}</p>
                <p class="telegrafico">
                    {{ thisOrganizer.description }}
                </p>
            </div>
            <div class="col l1 m1 s12"></div>
        </div>

        <div id="org-profile-div" class="col s12">
            <div class="row container">
            <!-- Games Handled -->
                <div class="row">
                    <!-- P A S T GAMES -->
                    <div id="sports-past-matches" class="col s4">
                        <h5 class="telegrafico center">PAST GAMES ({{ pastGames.length }})</h5>

                        <!-- LIST OF GAMES -->
                        <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="getPublicOrganizerPastGames()">
                            <div class="sports-match palette-border-5" ng-repeat="game in pastGames">
                                <a href="#/game/{{game.game_id}}">
                                <!-- GAME TITLE -->
                                    <div class="sports-match-title row">
                                        <div class="telegrafico col s10">{{ game.name }}</div>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- O N  G O I N G GAMES -->
                    <div id="sports-ongoing-matches" class="col s4">
                        <h5 class="telegrafico center">ON-GOING GAMES ({{ ongoingGames.length }})</h5>

                        <!-- LIST OF GAMES -->
                        <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="getPublicOrganizerOngoingGames()">
                            <div class="sports-match palette-border-3" ng-repeat="game in ongoingGames">
                                <!-- GAME TITLE -->
                                <a href="#/game/{{game.game_id}}">
                                    <div class="sports-match-title row">
                                        <div class="telegrafico col s10">{{ game.name }}</div>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- U P C O M I N G GAMES -->
                    <div id="sports-upcoming-matches" class="col s4">
                        <h5 class="telegrafico center">UPCOMING GAMES ({{ upcomingGames.length }})</h5>

                        <!-- LIST OF GAMES -->
                        <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="getPublicOrganizerUpcomingGames()">
                            <div class="sports-match palette-border-4" ng-repeat="game in upcomingGames">
                                <!-- GAME TITLE -->
                                <a href="#/game/{{game.game_id}}">
                                    <div class="sports-match-title row">
                                        <div class="telegrafico col s10">{{ game.name }}</div>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- <div class="row organizer-footer black">
            <div class="black">
                <ul class="right hide-on-med-and-down">
                    <li><a href="#"> Help </a></li>
                    <li><a href="#"> About Us </a></li>
                    <li>All Rights Reserved</li>
                </ul>
            </div>
        </div> -->
    </div>

</div>

<!-- Ongoing Games Modal -->
<div id="organizer-ongoing-modal" class="modal modal-fixed-footer">
    <div class="row organizer-modal-style">
        <div class="row remove-bottom">
            <div class="col s12 padding-left padding-right palette-5">
                <div class="center">
                    <br>
                        <div class="card-title white-text center rockwell">
                            <h5>Ongoing Games</h5>
                        </div>
                    <br>
                </div>
            </div>
        </div> 
        <table class="highlight responsive-table">
            <tbody>
                <tr class="century-gothic" ng-repeat="game in ongoingGames">
                    <a href="#/game/{{game.game_id}}">
                        <td> {{ game.name }}</td>
                        <td> {{ game.start_date| date:"longDate" }}</td>
                        <td> {{ game.location }}</td>
                    <!-- <td>
                        <div class="organizer-actions" data-target="organizer-update-game-modal">
                            <i class="fa fa-pencil-square-o fa-lg" ng-click="copyGame(game)"></i>
                        </div>
                        <div class="organizer-actions" data-target="organizer-delete-game-modal">
                            <i class="fa fa-minus-square fa-lg" ng-click="copyGame(game)"></i>
                        </div>
                    </td> -->
                    </a>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
    </div>
</div>

<!-- Incoming Games Modal -->
<div id="organizer-incoming-modal" class="modal modal-fixed-footer">
    <div class="row organizer-modal-style">
        <div class="row remove-bottom">
            <div class="col s12 padding-left padding-right palette-5">
                <div class="center">
                    <br>
                        <div class="card-title white-text center rockwell">
                            <h5>Incoming Games</h5>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <table class="highlight responsive-table">
            <tbody>
                <tr class="century-gothic" ng-repeat="game in upcomingGames">
                    <a href="#/game/{{game.game_id}}">
                        <td> {{ game.name }}</td>
                        <td> {{ game.start_date| date:"longDate" }}</td>
                        <td> {{ game.location }}</td>
                    <!-- <td>
                        <div class="organizer-actions" data-target="organizer-update-game-modal">
                            <i class="fa fa-pencil-square-o fa-lg" ng-click="copyGame(game)"></i>
                        </div>
                        <div class="organizer-actions" data-target="organizer-delete-game-modal">
                            <i class="fa fa-minus-square fa-lg" ng-click="copyGame(game)"></i>
                        </div>
                    </td> -->
                    </a>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
    </div>
</div>

<!-- Past Games Modal -->
<div id="organizer-past-modal" class="modal modal-fixed-footer">
    <div class="row organizer-modal-style">
        <div class="row remove-bottom">
            <div class="col s12 padding-left padding-right palette-5">
                <div class="center">
                    <br>
                        <div class="card-title white-text center rockwell">
                            <h5>Past Games</h5>
                        </div>
                    <br>
                </div>
            </div>
        </div>  
        <table class="highlight responsive-table">
            <tbody>
                <tr class="century-gothic" ng-repeat="game in pastGames">
                    <a href="#/game/{{game.game_id}}">
                        <td> {{ game.name }}</td>
                        <td> {{ game.start_date| date:"longDate" }}</td>
                        <td> {{ game.location }}</td>
                    <!-- <td>
                        <div class="organizer-actions" data-target="organizer-update-game-modal">
                            <i class="fa fa-pencil-square-o fa-lg" ng-click="copyGame(game)"></i>
                        </div>
                        <div class="organizer-actions" data-target="organizer-delete-game-modal">
                            <i class="fa fa-minus-square fa-lg" ng-click="copyGame(game)"></i>
                        </div>
                    </td> -->
                    </a>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect btn-flat"><i class="material-icons left">close</i>Close</a>
    </div>
</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/organizer-profile-page.js"></script>