<div id="mainHolder" ng-init="initUser()">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below the navbar -->
	<div id="main">
		<div class="organization-header">
			<img class="valign" id="organization-logo" src="assets/team1.png">
			<h2 id="organization-name" class="rockwell strong letter-spacing-1">The Betels</h2>
		</div>
		<div class="row org-handler"><h4 class="organization-team-handler palette-text-3 center rockwell"> Teams Handled </h4></div>
		<!--Slider-->
		<div class="slider4" style="box-shadow: 0!important;">
			<div class="slide">
				<div class="container organization-team-list" data-target="organization-team-info-modal">
					<div class="row"> 
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="container organization-team-list" data-target="organization-team-info-modal">
					<div class="row"> 
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
					</div>
				</div>
			</div>
			<div class="slide">
				<div class="container organization-team-list" data-target="organization-team-info-modal">
					<div class="row"> 
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
						<div class="col s4 m3 l2 organization-team">
							<img class="valign organization-team-logo" src="assets/team1.png">
							<h5 class="organization-team-name palette-text-3 rockwell">Team 1</h5>
							<span class="organization-team-info palette-text-4 rockwell"> GAME(2001) </span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="organization-team-info-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<div class="row">
					<h4 class="center rockwell"> Team 1 </h4>
					<div class="row organization-team-info-mem-label">
						<h5 class="palette-text-3 leixo">Members </h5>
					</div> 
					<div class="row">
						<div class="col s4 m3 l2 organization-team-member">
							<img class="valign organization-team-member-avatar" src="assets/avatars/male_avatar_1.png">
							<h5 class="organization-team-member-name palette-text-3 century-gothic strong"> John Doe </h5>
							<span class="organization-team-member-info palette-text-4 telegrafico"> Position </span>
						</div>
						<div class="col s4 m3 l2 organization-team-member">
							<img class="valign organization-team-member-avatar" src="assets/avatars/male_avatar_1.png">
							<h5 class="organization-team-member-name palette-text-3 century-gothic strong"> John Doe </h5>
							<span class="organization-team-member-info palette-text-4 telegrafico"> Position </span>
						</div>
						<div class="col s4 m3 l2 organization-team-member">
							<img class="valign organization-team-member-avatar" src="assets/avatars/male_avatar_1.png">
							<h5 class="organization-team-member-name palette-text-3 century-gothic strong"> John Doe </h5>
							<span class="organization-team-member-info palette-text-4 telegrafico"> Position </span>
						</div>
						<div class="col s4 m3 l2 organization-team-member">
							<img class="valign organization-team-member-avatar" src="assets/avatars/male_avatar_1.png">
							<h5 class="organization-team-member-name palette-text-3 century-gothic strong"> John Doe </h5>
							<span class="organization-team-member-info palette-text-4 telegrafico"> Position </span>
						</div>
						<div class="col s4 m3 l2 organization-team-member">
							<img class="valign organization-team-member-avatar" src="assets/avatars/male_avatar_1.png">
							<h5 class="organization-team-member-name palette-text-3 century-gothic strong"> John Doe </h5>
							<span class="organization-team-member-info palette-text-4 telegrafico"> Position </span>
						</div>
						<div class="col s4 m3 l2 organization-team-member">
							<img class="valign organization-team-member-avatar" src="assets/avatars/male_avatar_1.png">
							<h5 class="organization-team-member-name palette-text-3 century-gothic strong"> John Doe </h5>
							<span class="organization-team-member-info palette-text-4 telegrafico"> Position </span>
						</div>
					</div>
					<div class="row organization-team-info-mem-label">
						<h5 class="palette-text-3 leixo">Statistics</h5>
					</div>
					<div class="team-statistics">
						<div class="row center">
							<div class="col s4 m4 l4">
								<h1 class="stat-nums rockwell strong"> 3 </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="stat-nums rockwell strong"> 3 </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="stat-nums rockwell strong"> 3 </h1>
							</div>
						</div>
						<div class="row center">
							<div class="col s4 m4 l4">
								<h1 class="secondary-text century-gothic strong"> 1st </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="secondary-text century-gothic strong"> 2nd </h1>
							</div>
							<div class="col s4 m4 l4">
								<h1 class="secondary-text century-gothic strong"> 3rd </h1>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button href="" class="right minimalist-button">Join Team</button>
				<button href="" class="modal-action modal-close right join-team-close minimalist-button">Close</button>
			</div>
		</div>
		<div class="row statistics-label center-align"> 
			<h4 class="rockwell palette-text-3 organization-team-handler"> Statistics </h4>
		</div>
		<div class="row container">
		 	<!-- STATISTICS -->
            <div class="col s12 m12 l5 palette-3">
                <div class="row center-align" ng-init="retrieveOrganizationStatistics(1)" ng-model="OrganizationController">
                    <div class="col s4 m4 l4">
                        <h1 class="stat-nums rockwell strong"> {{organizationStats}} </h1>
                    </div>
                    <div class="col s4 m4 l4">
                        <h1 class="stat-nums rockwell strong">1</h1>
                    </div>
                    <div class="col s4 m4 l4">
                        <h1 class="stat-nums rockwell strong">0</h1>
                    </div>
                </div>
                <div class="row center-align">
                    <div class="col s4 m4 l4">
                        <h3 class="palette-text-5 century-gothic strong">2nd</h3>
                    </div>
                    <div class="col s4 m4 l4">
                        <h3 class="palette-text-5 century-gothic strong">1st</h3>
                    </div>
                    <div class="col s4 m4 l4">
                        <h3 class="palette-text-5 century-gothic strong">3rd</h3>
                    </div>
                </div>
            </div>
            <div class="col s12 m12 l7 palette-2">
                <div class="row center-align">
					<h1 class="rockwell strong stat-nums"> 99 </h1>
                </div>
				<div class="row center-align">
					<div class="col s12 m12 l12">
						<h3 class="palette-text-5 century-gothic strong"> Total number of wins </h3>
					</div>
				</div>
            </div>
        </div>
		<!--Recent games label-->
		<div class="row recent-games-label center-align"> 
			<h4 class="rockwell palette-text-3 organization-team-handler"> Recent Games </h4>
			
		</div>
		<!--Recent games modal-->
		<div class="row container">
			<div class="col s3 m3 l3 center-align recent-games-card">
				<h4 class="rockwell strong palette-text-4">GAME 1</h4>
				<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
			</div>
			<div class="col s3 m3 l3 center-align recent-games-card">
				<h4 class="rockwell strong palette-text-4">GAME 1</h4>
				<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
			</div>
			<div class="col s3 m3 l3 center-align recent-games-card">
				<h4 class="rockwell strong palette-text-4">GAME 1</h4>
				<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
			</div>
			<div class="col s3 m3 l2 center-align recent-games-card see-more">
				<button href="" data-target="organization-allgames-modal" class="minimalist-button"> See more </button>
			</div>
		</div>
		<!--All games modal-->
		<div id="organization-allgames-modal" class="modal modal-fixed-footer">
			<div class="modal-content">
				<div class="row">
					<h4 class="rockwell strong palette-text-3 center">Games Participated</h4>
				</div>
				<div class="row">
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
				</div>
				<div class="row">
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
				</div>
				<div class="row">
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
					<div class="col s4 m4 l4 center-align all-games-card">
						<h4 class="rockwell strong palette-text-4">GAME 1</h4>
						<span class="century-gothic secondary-text"> Lorem ipsum dolor sit amet </span>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button href="" class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="../js/organization-page.js"></script>
<script type="text/javascript" src="../controllers/organization-controller.js"></script>
