<div id="mainHolder">
    <!-- Do not put anything inside main holder -->
    <!-- Main holder just keeps the main below the navbar -->
    <div id="main" class="" ng-init="getOrganizer()">
        <!-- Organizer Basic Info -->
        <div class="row palette-3 organizer-profile-info">
            <div class="col l3 m12 s12 offset-l1 center">
                <img id="organizer-profile-img" src="assets/avatar.png" class="pallette-3">
            </div>

            <div id="competitor-basic-info" class="col l7 hide-on-med-and-down white-text">
                <h3 class="rockwell">{{ organizer.name }}</h3>
                <p class="telegrafico">Contact: {{ organizer.contact }} | E-mail: {{ organizer.email }}</p>
                <p class="telegrafico">
                    {{ organizer.description }}
                </p>
            </div>
            <div id="competitor-basic-info" class="col m12 s12 hide-on-large-only palette-text-5">
                <h3 class="rockwell">{{ organizer.name }}</h3>
                <p class="telegrafico">Contact: {{ organizer.contact }} | E-mail: {{ organizer.email }}</p>
                <p class="telegrafico">
                    {{ organizer.description }}
                </p>
            </div>
            <div class="col l1 m1 s12"></div>
        </div>

        <div id="org-profile-div" class="col s12">
            <div class="row container">
                <!-- Games Handled -->
                <div id="sports-matches">
                    <div class="row" style="margin: 0; margin-top: 20px;">
                        <h4 class="rockwell center strong" style="margin: 0!important;">Games Handled</h4>
                    </div>
                    <div class="row">

                        <!-- P A S T GAMES -->
                        <div id="sports-past-matches" class="col s4">
                            <h5 class="telegrafico center">PAST GAMES ({{ pastGames.length }})</h5>

                            <!-- LIST OF GAMES -->
                            <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init=" getPublicOrganizerPastGames()">
                                <div class="sports-match palette-border-5" ng-repeat="game in pastGames">
                                    <!-- GAME TITLE -->
                                    <div class="sports-match-title row">
                                        <a href="#/game/{{game.game_id}}">
                                            <div class="telegrafico col s10">{{ game.name }}</div>
                                        </a>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- O N  G O I N G GAMES -->
                        <div id="sports-ongoing-matches" class="col s4" ng-init=" getPublicOrganizerOngoingGames()">
                            <h5 class="telegrafico center">ON-GOING GAMES ({{ ongoingGames.length }})</h5>

                            <!-- LIST OF GAMES -->
                            <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;">
                                <div class="sports-match palette-border-3" ng-repeat="game in ongoingGames">
                                    <!-- GAME TITLE -->
                                    <div class="sports-match-title row">
                                        <a href="#/game/{{game.game_id}}">
                                            <div class="telegrafico col s10">{{ game.name }}</div>
                                        </a>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- U P C O M I N G GAMES -->
                        <div id="sports-upcoming-matches" class="col s4">
                            <h5 class="telegrafico center">UPCOMING GAMES ({{ upcomingGames.length }})</h5>

                            <!-- LIST OF GAMES -->
                            <div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init=" getPublicOrganizerUpcomingGames()">
                                <div class="sports-match palette-border-4" ng-repeat="game in upcomingGames">
                                    <!-- GAME TITLE -->
                                    <div class="sports-match-title row">
                                        <a href="#/game/{{game.game_id}}">
                                            <div class="telegrafico col s10">{{ game.name }}</div>
                                        </a>
                                    </div>

                                    <!-- GAME INFO -->
                                    <div class="sports-match-info">
                                        Start: {{ game.start_date| date:"longDate"}}

                                    </div>
                                    <div class="sports-match-info">
                                        End: {{ game.end_date| date:"longDate"}}
                                    </div>
                                    <div class="sports-match-info">
                                        Location: {{ game.location }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/organizer-profile-page.js"></script>