<div id="mainHolder" ng-init="retrieveSport()">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below t9he navbar -->
	<div id="main">
		<!-- Do your thing here -->
		<div id="sports-title" class="rockwell valign-wrapper">
			<div id="sports-title-holder">
				<h3 class="white-text">{{ game.name }} • {{ sport.sport_name }}</h3>
				<h6 class="white-text">{{ sport.start_date | date:"MM/dd/yyyy" }} - {{ sport.end_date | date:"MM/dd/yyyy" }} • Start: {{ sport.time_start | date:"shortTime" }} End: {{ sport.time_end | date:"shortTime" }} • {{ game.location }} </h6>
			</div>
		</div>

		<!-- RANKINGS -->
		<div class="palette-3">
			<div id="sports-ranking" class="row">
				<div id="sports-ranking-title" class="col l3 m6 s12">
					<h4 class="rockwell strong letter-spacing-3 palette-text-1">RANKINGS <i class="material-icons" style="font-size: 30px;">equalizer</i></h4>
					<h6 class="rockwell">As of 7:08PM • 03/27/2017</h6>
				</div>

				<div id="sports-ranking-body" class="col l9 m6 s12 row" ng-show="checkRankings()">
					<div class="rank-entity col l4 m12 s12" ng-repeat="team in rankingsSport | limitTo: 5">
						<div class="rank"><h3>{{ team.total_rank }}</h3></div>
						<div>
							<h5>{{ team.team_name }}</h5>
							<h6>{{ team.name }}</h6>
						</div>
					</div>

					<div id="sports-ranking-view-all-btn" class="col l4 m12 s12" style="padding-top: 25px!important; cursor: pointer!important;">
						<a id="sports-ranking-view-all" class="rockwell letter-spacing-2 palette-4" data-target="rankings-view-all-modal">
							VIEW ALL <i class="fa fa-angle-double-right"></i>
						</a>
					</div>
				</div>

				<div class="col s9 row" ng-hide="checkRankings()">
					<h3 class="rockwell">Not Available</h3>
				</div>
			</div>
		</div>

		<!-- MATCHES -->
		<div id="sports-matches" class="container">
			<div class="row" style="margin: 0; margin-top: 20px;">
				<h4 class="rockwell center strong" style="margin: 0!important;">Matches

				<!-- ADD MATCH BUTTON -->
					<i class="fa fa-plus match-actions" data-target="match-add-modal"></i>
				</h4>
			</div>
			<div class="row">

				<!-- P A S T MATCHES -->
				<div id="sports-past-matches" class="col l4 m6  s12">
					<h5 class="telegrafico center">PAST MATCHES</h5>

					<!-- LIST OF MATCHES -->
					<div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="viewPastMatch()">
						<div data-target="match-edit-modal" class="sports-match palette-border-5" ng-repeat="(key, value) in pastMatch | groupBy: 'match_id'" ng-click="copyMatch(match)">
							<!-- MATCH TITLE -->
							<div class="sports-match-title row">
								<div class="telegrafico col s9">Players</div>
								<div class="telegrafico col s3">Winner</div>
							</div>

							<!-- MATCH PLAYERS -->
							<div style="margin-bottom: 10px;" ng-repeat="match in value">
								<!-- One player -->
								<div class="sports-match-players row">
									<div class="col s9 century-gothic">{{ match.team_name }}</div>
									<div class="col s3" style="height: 21px;" ng-show="match.ranking == 1"><i class="material-icons" style="font-size: 21px;">done</i></div>
								</div>
							</div>

							<!-- MATCH INFO -->
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Start: {{ match.time_start }} • End: {{ match.time_end }}
							</div>
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Date: {{ match.match_date }}
							</div>
						</div>
					</div>
				</div>

				<!-- O N  G O I N G MATCHES -->
				<div id="sports-ongoing-matches" class="col l4 m6  s12">
					<h5 class="telegrafico center">ON-GOING MATCHES</h5>

					<!-- LIST OF MATCHES -->
					<div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="viewCurrentMatch()">
						<div data-target="match-edit-modal" class="sports-match palette-border-3" ng-repeat="(key, value) in currMatch | group_by: 'match_id'" ng-click="copyMatch(match)">
							<!-- MATCH TITLE -->
							<div class="sports-match-title row">
								<div class="telegrafico col s9">Players</div>
								<div class="telegrafico col s3">Winner</div>
							</div>

							<!-- MATCH PLAYERS -->
							<div style="margin-bottom: 10px;">
								<!-- One player -->
								<div class="sports-match-players row" ng-repeat="match in value">
									<div class="col s9 century-gothic">{{ match.team_name }}</div>
									<div class="col s3" style="height: 21px;"><i class="material-icons" style="font-size: 21px;"></i></div>
								</div>
							</div>

							<!-- MATCH INFO -->
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Start: {{ match.time_start }} • End: {{ match.time_end }}
							</div>
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Date: {{ match.match_date }}
							</div>
						</div>
					</div>
				</div>

				<!-- U P C O M I N G MATCHES -->
				<div id="sports-upcoming-matches" class="col l4 m6 s12">
					<h5 class="telegrafico center">UPCOMING MATCHES</h5>

					<!-- LIST OF MATCHES -->
					<div  class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="viewFutureMatch">
						<div data-target="match-edit-modal" class="sports-match palette-border-4" ng-repeat="match in futureMatch | groupBy: 'match_id'" ng-click="copyMatch(match)">
							<!-- MATCH TITLE -->
							<div class="sports-match-title row">
								<div class="telegrafico col s9">Players</div>
								<div class="telegrafico col s3">Winner</div>
							</div>

							<!-- MATCH PLAYERS -->
							<div style="margin-bottom: 10px;">
								<!-- One player -->
								<div class="sports-match-players row" ng-repeat="match in value">
									<div class="col s9 century-gothic">{{ match.team_name }}</div>
									<div class="col s3" style="height: 21px;" ><i class="material-icons" style="font-size: 21px;" ></i></div>
								</div>
							</div>

							<!-- MATCH INFO -->
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Start: {{ match.time_start }} • End: {{ match.time_end }}
							</div>
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Date: {{ match.match_date }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- DETAILS -->
		<div id="sports-details">
			<div style="">
				<div id="sports-mechanics" class="row">
					<div class="col l6 offset-l6 m8 offset-m5 s7 offset-s5 sports-details">
						<p class="sports-details-title telegrafico">MECHANICS</p>
						<p class="century-gothic letter-spacing-1">{{ sport.mechanics }}</p>
					</div>
				</div>

				<div id="sports-scoring" class="row">
					<div class="col l6 m8 s7 sports-details">
						<p class="sports-details-title telegrafico">SCORING SYSTEM</p>
						<p class="century-gothic letter-spacing-1">{{ sport.scoring_system }}</p>
					</div>
				</div>
			</div>
		</div>

		<!-- SPONSORS -->
		<div id="sports-sponsors" class="palette-5 row margin-override-0">
			<div class="col l3 valign-wrapper">
				<div class="row center">
					<h5 class="rockwell center white-text">Sponsors</h5>
				</div>
			</div>
			<div class="col l9">
				<div class="row">
					<div class="col s2 " ng-repeat="spon in sportSponsors">
						<h6 class="rockwell palette-text-3">{{ spon.name }}</h6>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<!-- RANKINGS MODAL -->
	<div id="rankings-view-all-modal" class="modal modal-fixed-footer">
        <div class="modal-content container">
            <div class="row">
                <h4 class="rockwell center">Rankings</h4>
            </div>
            <table>
            	<thead>
            		<tr>
            			<th>#</th>
            			<th>Team Name</th>
            			<th>Organization</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="team in rankingsSport">
            			<td>{{ team.total_rank }}</td>
            			<td>{{ team.team_name }}</td>
            			<td>{{ team.name }}</td>
            		</tr>
            	</tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button href="" class="modal-action modal-close waves-effect waves-red btn-flat">Close</button>
        </div>
    </div>

	<!-- EDIT MATCH MODAL -->
    <div id="match-edit-modal" class="modal modal-fixed-footer">
        <div class="modal-content sports-match-header-fill century-gothic">
            <div class="row sports-match-remove-bottom">
                <div class="col s12 sports-match-padding-left sports-match-padding-right">
                    <div class="center palette-5"> <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="sports-match-remove-bottom-modal">
                                Edit Match
                            </h4>
                        </div> <br>
                    </div>
                </div>
            </div>
            <div class="row sports-match-modal-container">
				<div class="col s12 padding-override-0">

					<ul id="organization-main-tabs" class="tabs">
						<li class="tab col s4 palette-5">
							<a class="blue-text-darken-3 rockwell active strong" href="#edit-match-tab-1">Info</a>
						<li>
						<li class="tab col s4 palette-5 ">
							<a class="blue-text-darken-3 rockwell strong" href="#edit-match-tab-2">Ranking</a>
						<li>
						<li class="tab col s4 palette-5 ">
							<a class="blue-text-darken-3 rockwell strong" href="#edit-match-tab-3">Team</a>
						<li>
					</ul>
					
				</div>
				<div class="col s12 row padding-override-0">
					<div id="edit-match-tab-1" class="col s12 container">
		                <!-- EDIT MATCH INFO -->
		                <div class="input-field col s4 sports-match-input-color-change">
		                    <input placeholder=" " id="match-start-time" type="time" class="validate" ng-model="matchCopy.time_start">
		                    <label for="match-start-time" class="sports-match-adjust-label">
		                        Start Time
		                    </label>
		                </div>
		                <div class="input-field col s4 sports-match-input-color-change">
		                    <input placeholder=" " id="match-end-time" type="time" class="validate" ng-model="matchCopy.time_end">
		                    <label for="match-end-time" class="sports-match-adjust-label">
		                        End Time
		                    </label>
		                </div>
		                <div class="input-field col s4 sports-match-input-color-change">
		                    <input placeholder=" " id="match-date" type="date" class="validate" ng-model="matchCopy.match_date">
		                    <label for="match-date" class="sports-match-adjust-label">
		                        Date
		                    </label>
		                </div>
		                <div class="input-field col s12 sports-match-input-color-change">
		                    <textarea placeholder=" " id="match-remarks" class="materialize-textarea" data-length="140" ng-model="matchCopy.remarks"></textarea>
		                    <label for="match-remarks" class="sports-match-textarea-label-color-change">
		                        Remarks
		                    </label>
		                </div>
					</div>

					<div id="edit-match-tab-2" class="col s12 container">
						<table class="striped">
							<thead>
								<tr class="telegrafico">
									<th>Team Name</th>
									<th >Rank</th>
									<th>Edit Rank</th>
								</tr>
							</thead>
							<tbody class="century-gothic">
								<tr>
									<td style="width: 40%;">Team Name</td>
									<td style="width: 20%;"><input type="text" value="1"></td>
									<td style="width: 40%;"><i class="fa-hover-style fa fa-pencil"></i></td>
								</tr>
							</tbody>
						</table>

					</div>

					<div id="edit-match-tab-3" class="padding-override-0 col s12 container row">
						<div class="col l6 m8 s12">
							<table class="striped">
								<thead>
									<tr class="telegrafico">
										<th>Team Name</th>
										<th >Actions</th>
									</tr>
								</thead>
								<tbody class="century-gothic">
									<tr>
										<td><input type="text" value="Team Name"></td>
										<td><i class="fa fa-pencil fa-hover-style" style="margin-right: 5px!important;"></i><i class="fa fa-close fa-hover-style"></i></td>
									</tr>
								</tbody>
							</table>
						</div>
	
						<div class="col l6 m4 s12 palette-gray" style="height: 100%;">
							<h6 style="margin-top: 20px!important;" class="century-gothic strong ">ADD TEAM</h6>
							<div class="row padding-override-0">
								<div class="col s9 ">
									<!-- Team Name -->
									<label class="admin-fillup-label">Team Name</label>
									<input ng-model="adminUsername" id="name" type="text" class="validate admin-fillup-form">
								</div>
								<div class="col l3 valign-wrapper" style="height: 100%;">
									<button class="waves-effect waves-light search-admin-button"><i class="fa fa-plus"></i></button>
								</div>
							</div>
						</div>

						<div class="row padding-override-0">
						</div>

					</div>
				</div>

            </div>
        </div>
        <div class="modal-footer palette-5 right-align"><!-- button -->
            <button href="" class="modal-action modal-close minimalist-button">CANCEL</button>
            <button href="" class="modal-action modal-close minimalist-button-inverted">SAVE CHANGES</button>
        </div>
    </div>

	<!-- ADD MATCH MODAL -->
    <div id="match-add-modal" class="modal modal-fixed-footer">
        <div class="modal-content sports-match-header-fill century-gothic">
            <div class="row sports-match-remove-bottom">
                <div class="col s12 sports-match-padding-left sports-match-padding-right">
                    <div class="center palette-5"> <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="sports-match-remove-bottom-modal">
                                Add Match
                            </h4>
                        </div> <br>
                    </div>
                </div>
            </div>
            <div class="row sports-match-modal-container"><br>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-start-time" type="time" class="validate" ng-model="timeStart">
                    <label for="match-start-time" class="sports-match-adjust-label">
                        Start Time
                    </label>
                </div>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-end-time" type="time" class="validate" ng-model="timeEnd">
                    <label for="match-end-time" class="sports-match-adjust-label">
                        End Time
                    </label>
                </div>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-date" type="date" class="validate" ng-model="newMatch.date">
                    <label for="match-date" class="sports-match-adjust-label">
                        Date
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer palette-5 right-align"><!-- button -->
            <button href="" class="modal-action modal-close minimalist-button">CLOSE</button>
            <button href="" class="modal-action modal-close minimalist-button" ng-click="addMatch()">ADD</button>
        </div>
    </div>

</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/sports-page.js"></script>