<div id="mainHolder">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below the navbar -->
	<div id="main">
		<!-- Do your thing here -->
		<div id="sports-title" class="rockwell ">
			<h3 class="white-text">PALICSIHAN • BASKETBALL</h3>
		</div>

		<div class="palette-3">
			<div id="sports-ranking" class="row">
				<div id="sports-ranking-title" class="col s3">
					<h4 class="rockwell strong letter-spacing-3 palette-text-1">RANKINGS <i class="material-icons" style="font-size: 30px;">equalizer</i></h4>
					<h6 class="rockwell">As of 7:08PM • 03/27/2017</h6>
				</div>

				<div id="sports-ranking-body" class="col s9 row">
					<div class="rank-entity col s4">
						<div class="rank"><h3>01</h3></div>
						<div>
							<h5>Blue Team</h5>
							<h6>50 points • MVP: Mark Caguioa • Set 4 • 3/4</h6>
						</div>
					</div>

					<div class="rank-entity col s4">
						<div class="rank"><h3>02</h3></div>
						<div>
							<h5>Blue Team</h5>
							<h6>50 points • MVP: Mark Caguioa • Set 4 • 3/4</h6>
						</div>
					</div>

					<div class="rank-entity col s4">
						<div class="rank"><h3>03</h3></div>
						<div>
							<h5>Blue Team</h5>
							<h6>50 points • MVP: Mark Caguioa • Set 4 • 3/4</h6>
						</div>
					</div>

					<div class="rank-entity col s4">
						<div class="rank"><h3>04</h3></div>
						<div>
							<h5>Blue Team</h5>
							<h6>50 points • MVP: Mark Caguioa • Set 4 • 3/4</h6>
						</div>
					</div>

					<div class="rank-entity col s4">
						<div class="rank"><h3>05</h3></div>
						<div>
							<h5>Blue Team</h5>
							<h6>50 points • MVP: Mark Caguioa • Set 4 • 3/4</h6>
						</div>
					</div>

					<div class="col s4">
						<div id="sports-ranking-view-all" class="rockwell letter-spacing-2 palette-4">
							VIEW ALL >>
						</div>
					</div>
					<!-- <a href="" style="text-align: right;">View all</a> -->
				</div>
			</div>
		</div>

		<div id="sports-details">
			<div style="">
				<div id="sports-mechanics" class="row">
					<div class="col s6 offset-s6 sports-details">
						<p class="telegrafico">MECHANICS</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ad, repellat fugiat, eum ipsa maiores aspernatur labore hic, soluta est quaerat voluptatem mollitia nobis! Autem, a, ullam! Dicta, optio dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati iusto fugiat similique omnis impedit illum repudiandae eius magnam itaque voluptatibus ab, totam quos ipsa, ducimus alias, veniam possimus autem quod.</p>
					</div>
				</div>

				<div id="sports-scoring" class="row">
					<div class="col s6 sports-details">
						<p class="telegrafico">SCORING SYSTEM</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus ad, repellat fugiat, eum ipsa maiores aspernatur labore hic, soluta est quaerat voluptatem mollitia nobis! Autem, a, ullam! Dicta, optio dolores. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati iusto fugiat similique omnis impedit illum repudiandae eius magnam itaque voluptatibus ab, totam quos ipsa, ducimus alias, veniam possimus autem quod.</p>
					</div>
				</div>
			</div>
		</div>

		<div id="sports-matches" class="container">
			<div class="row">
				<div class="col s4">
					<h5>PAST MATCHES</h5>
				</div>
				<div class="col s4">
					<h5>ON-GOING MATCHES</h5>
				</div>
				<div class="col s4">
					<h5>UPCOMING MATCHES</h5>
				</div>
					<!-- <table class="centered">
				        <thead>
				          	<tr>
				              <th>Time Start</th>
				              <th>Time End</th>
				              <th>Date</th>
				              <th>Players</th>
				              <th>Remark</th>
				              <th>Winner</th>
				          	</tr>
				        </thead>

				        <tbody>
				          	<tr>
				            	<td>8:00 AM</td>
				            	<td>11:00 AM</td>
				            	<td>03/27/2017</td>
				            	<td>Blue Team, Red Team, Yellow Team...</td>
				            	<td>On going</td>
				            	<td>Black Team</td>
				          	</tr>
				          	<tr>
				            	<td>8:00 AM</td>
				            	<td>11:00 AM</td>
				            	<td>03/27/2017</td>
				            	<td>Blue Team, Red Team, Yellow Team...</td>
				            	<td>On going</td>
				            	<td>Black Team</td>
				          	</tr>
				          	<tr>
				            	<td>8:00 AM</td>
				            	<td>11:00 AM</td>
				            	<td>03/27/2017</td>
				            	<td>Blue Team, Red Team, Yellow Team...</td>
				            	<td>On going</td>
				            	<td>Black Team</td>
				          	</tr>
				          	<tr>
				            	<td>8:00 AM</td>
				            	<td>11:00 AM</td>
				            	<td>03/27/2017</td>
				            	<td>Blue Team, Red Team, Yellow Team...</td>
				            	<td>On going</td>
				            	<td>Black Team</td>
				          	</tr>
				          	<tr>
				            	<td>8:00 AM</td>
				            	<td>11:00 AM</td>
				            	<td>03/27/2017</td>
				            	<td>Blue Team, Red Team, Yellow Team...</td>
				            	<td>On going</td>
				            	<td>Black Team</td>
				          	</tr>
				          	
				        </tbody>
				    </table> -->
			</div>
		</div>

		

		

		

	</div>
</div>