<div id="mainHolder" ng-init="retrieveSport()">
	<!-- Do not put anything inside main holder -->
	<!-- Main holder just keeps the main below the navbar -->
	<div id="main">
		<!-- Do your thing here -->
		<div id="sports-title" class="rockwell ">
			<h3 class="white-text">{{ game.name }} • {{ sport.sport_name }}</h3>
			<h6 class="white-text">{{ sport.start_date | date:"MM/dd/yyyy" }} - {{ sport.end_date | date:"MM/dd/yyyy" }} • Start: {{ sport.time_start | date:"shortTime" }} End: {{ sport.time_end | date:"shortTime" }} • {{ game.location }} </h6>
		</div>

		<!-- RANKINGS -->
		<div class="palette-3">
			<div id="sports-ranking" class="row">
				<div id="sports-ranking-title" class="col s3">
					<h4 class="rockwell strong letter-spacing-3 palette-text-1">RANKINGS <i class="material-icons" style="font-size: 30px;">equalizer</i></h4>
					<h6 class="rockwell">As of 7:08PM • 03/27/2017</h6>
				</div>

				<div id="sports-ranking-body" class="col s9 row" ng-show="checkRankings()">
					<div class="rank-entity col s4" ng-repeat="team in rankings | limitTo: 5">
						<div class="rank"><h3>0{{ team.total_ranks }}</h3></div>
						<div>
							<h5>{{ team.org_name }}</h5>
							<h6>50 points • MVP: Mark Caguioa • Set 4 • 3/4</h6>
						</div>
					</div>

					<div id="sports-ranking-view-all-btn" class="col s4" style="padding-top: 25px!important; cursor: pointer!important;">
						<a id="sports-ranking-view-all" class="rockwell letter-spacing-2 palette-4" data-target="rankings-view-all-modal">
							VIEW ALL <i class="fa fa-angle-double-right"></i>
						</a>
					</div>
				</div>

				<div class="col s9 row" ng-hide="checkRankings()">
					<h3 class="rockwell">Not Available</h3>
				</div>
			</div>
		</div>

		<!-- MATCHES -->
		<div id="sports-matches" class="container">
			<div class="row" style="margin: 0; margin-top: 20px;">
				<h4 class="rockwell center strong" style="margin: 0!important;">Matches

				<!-- ADD MATCH BUTTON -->
					<i class="fa fa-plus match-actions" data-target="match-add-modal"></i>
				</h4>
			</div>
			<div class="row">

				<!-- P A S T MATCHES -->
				<div id="sports-past-matches" class="col s4">
					<h5 class="telegrafico center">PAST MATCHES</h5>

					<!-- LIST OF MATCHES -->
					<div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="viewPastMatch()">
						<div data-target="match-edit-modal" class="sports-match palette-border-5" ng-repeat="(key, value) in pastMatch | groupBy: 'match_id'" ng-click="copyMatch(value)">
							<!-- MATCH TITLE -->
							
							<div class="sports-match-title row">
								<div class="telegrafico col s9">Players</div>
								<div class="telegrafico col s3">Winner</div>
							</div>

							<!-- MATCH PLAYERS -->
							<div style="margin-bottom: 10px;" ng-repeat="match in value">
								<!-- One player -->
								<div class="sports-match-players row">
									<div class="col s9 century-gothic">{{ match.team_name }}</div>
									<div class="col s3" style="height: 21px;" ng-show="match.ranking == 1"><i class="material-icons" style="font-size: 21px;">done</i></div>
								</div>
							</div>

							<!-- MATCH INFO -->
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Start: {{ match.time_start }} • End: {{ match.time_end }}
							</div>
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Date: {{ match.match_date }}
							</div>
						</div>
					</div>
				</div>

				<!-- O N  G O I N G MATCHES -->
				<div id="sports-ongoing-matches" class="col s4">
					<h5 class="telegrafico center">ON-GOING MATCHES</h5>

					<!-- LIST OF MATCHES -->
					<div class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="viewCurrentMatch()">
						<div data-target="match-edit-modal" class="sports-match palette-border-3" ng-repeat="(key, value) in currMatch | group_by: 'match_id'" ng-click="copyMatch(match)">
							<!-- MATCH TITLE -->
							<div class="sports-match-title row">
								<div class="telegrafico col s9">Players</div>
								<div class="telegrafico col s3">Winner</div>
							</div>

							<!-- MATCH PLAYERS -->
							<div style="margin-bottom: 10px;">
								<!-- One player -->
								<div class="sports-match-players row" ng-repeat="match in value">
									<div class="col s9 century-gothic">{{ match.team_name }}</div>
									<div class="col s3" style="height: 21px;"><i class="material-icons" style="font-size: 21px;"></i></div>
								</div>
							</div>

							<!-- MATCH INFO -->
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Start: {{ match.time_start }} • End: {{ match.time_end }}
							</div>
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Date: {{ match.match_date }}
							</div>
						</div>
					</div>
				</div>

				<!-- U P C O M I N G MATCHES -->
				<div id="sports-upcoming-matches" class="col s4">
					<h5 class="telegrafico center">UPCOMING MATCHES</h5>

					<!-- LIST OF MATCHES -->
					<div  class="sports-type-matches" style="width: 100%; max-height: 500px; overflow-y: scroll; margin-right: 5px;" ng-init="viewFutureMatch">
						<div data-target="match-edit-modal" class="sports-match palette-border-4" ng-repeat="match in futureMatch | groupBy: 'match_id'" ng-click="copyMatch(match)">
							<!-- MATCH TITLE -->
							<div class="sports-match-title row">
								<div class="telegrafico col s9">Players</div>
								<div class="telegrafico col s3">Winner</div>
							</div>

							<!-- MATCH PLAYERS -->
							<div style="margin-bottom: 10px;">
								<!-- One player -->
								<div class="sports-match-players row" ng-repeat="match in value>
									<div class="col s9 century-gothic">{{ match.team_name }}</div>
									<div class="col s3" style="height: 21px;" ><i class="material-icons" style="font-size: 21px;" ></i></div>
								</div>
							</div>

							<!-- MATCH INFO -->
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Start: {{ match.time_start }} • End: {{ match.time_end }}
							</div>
							<div class="sports-match-info" ng-repeat="match in value | first: 1">
								Date: {{ match.match_date }}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- DETAILS -->
		<div id="sports-details">
			<div style="">
				<div id="sports-mechanics" class="row">
					<div class="col s6 offset-s6 sports-details">
						<p class="sports-details-title telegrafico">MECHANICS</p>
						<p class="century-gothic letter-spacing-1">{{ sport.mechanics }}</p>
					</div>
				</div>

				<div id="sports-scoring" class="row">
					<div class="col s6 sports-details">
						<p class="sports-details-title telegrafico">SCORING SYSTEM</p>
						<p class="century-gothic letter-spacing-1">{{ sport.scoring_system }}</p>
					</div>
				</div>
			</div>
		</div>

		<!-- SPONSORS -->
		<div id="sports-sponsors" class="palette-5">
			<h5 class="rockwell center white-text">Sponsors</h5>
			<div class="row palette-text-3" style="padding-left: 200px; padding-right: 200px; text-align: center;">
				<div class="col s3">Yakult</div>
				<div class="col s3">Bear Brand</div>
				<div class="col s3">Meralco</div>
				<div class="col s3">Rain or Shine</div>
				<div class="col s3">Smart</div>
				<div class="col s3">Globe</div>
				<div class="col s3">Yakimix</div>
				<div class="col s3">Elastomeric</div>
				<div class="col s3">Cleaveland</div>
				<div class="col s3">Golden cubes</div>
				<div class="col s3">Chepar</div>
				<div class="col s3">Something</div>
				<div class="col s3">PLDT</div>
			</div>
		</div>
	</div>

	<!-- RANKINGS MODAL -->
	<div id="rankings-view-all-modal" class="modal modal-fixed-footer">
        <div class="modal-content container">
            <div class="row">
                <h4 class="rockwell center">Rankings</h4>
            </div>
            <table>
            	<thead>
            		<tr>
            			<th>#</th>
            			<th>Team Name</th>
            			<th>Players</th>
            			<th>Organization</th>
            			<th>Points</th>
            		</tr>
            	</thead>
            	<tbody>
            		<tr ng-repeat="team in rankings">
            			<td>{{ team.total_ranks }}</td>
            			<td>{{ team.org_name }}</td>
            			<td>
            				<h6>Marciso Guiambao</h6>
            				<h6>Fernando Amorsolo</h6>
            				<h6>Leonardo DiCaprio</h6>
            				<h6>Richard Gomez</h6>
            				<h6>Kitchie Nadal</h6>
            			</td>
            			<td>University of The Philippines</td>
            			<td>98</td>
            		</tr>
            	</tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button href="" class="modal-action modal-close waves-effect waves-red btn-flat">Close</button>
        </div>
    </div>

	<!-- EDIT MATCH MODAL -->
    <div id="match-edit-modal" class="modal modal-fixed-footer">
        <div class="modal-content sports-match-header-fill century-gothic">
            <div class="row sports-match-remove-bottom">
                <div class="col s12 sports-match-padding-left sports-match-padding-right">
                    <div class="center palette-5"> <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="sports-match-remove-bottom-modal"> 
                                Edit Match
                            </h4>
                        </div> <br>
                    </div>
                </div>
            </div>
            <div class="row sports-match-modal-container"><br>
                <!-- EDIT MATCH INFO -->
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-start-time" type="time" class="validate" ng-model="matchDateCopy.timeStart">
                    <label for="match-start-time" class="sports-match-adjust-label">
                        Start Time
                    </label>
                </div>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-end-time" type="time" class="validate" ng-model="matchDateCopy.timeEnd">
                    <label for="match-end-time" class="sports-match-adjust-label">
                        End Time
                    </label>
                </div>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-date" type="date" date="dd-MM-yyyy" class="validate" ng-model="matchDateCopy.date">
                    <label for="match-date" class="sports-match-adjust-label">
                        Date
                    </label>
                </div>
                <div class="input-field col s12 sports-match-input-color-change">
                    <textarea placeholder=" " id="match-remarks" class="materialize-textarea" data-length="140" ng-model="matchDateCopy.remarks"></textarea>
                    <label for="match-remarks" class="sports-match-textarea-label-color-change">
                        Remarks
                    </label>
                </div>

                <!-- EDIT RANKINGS -->
                <div class="row">
                    <div class="col offset-l3 l6 s12">
                        <table>
                            <thead>
                                <tr>
                                    <th>Teams</th>
                                    <th>Ranking</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="team in matchCopy">
                                    <td>{{ team.team_name }}</td>
                                    <td width="30%"><input type="text" class="validate" ng-model="team.ranking"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer palette-5 right-align"><!-- button -->
            <button href="" class="modal-action modal-close minimalist-button" ng-click="editMatch(matchCopy, matchDateCopy)">SAVE CHANGES</button>
            <button href="" class="modal-action modal-close minimalist-button">CLOSE</button>
        </div>
    </div>

	<!-- ADD MATCH MODAL -->
    <div id="match-add-modal" class="modal modal-fixed-footer">
        <div class="modal-content sports-match-header-fill century-gothic">
            <div class="row sports-match-remove-bottom">
                <div class="col s12 sports-match-padding-left sports-match-padding-right">
                    <div class="center palette-5"> <br>
                        <div class="card-title white-text center telegrafico" id="thicken">
                            <h4 class="sports-match-remove-bottom-modal"> 
                                Add Match
                            </h4>
                        </div> <br>
                    </div>
                </div>
            </div>
            <div class="row sports-match-modal-container"><br>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-start-time" type="time" class="validate" ng-model="timeStart">
                    <label for="match-start-time" class="sports-match-adjust-label">
                        Start Time
                    </label>
                </div>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-end-time" type="time" class="validate" ng-model="timeEnd">
                    <label for="match-end-time" class="sports-match-adjust-label">
                        End Time
                    </label>
                </div>
                <div class="input-field col s4 sports-match-input-color-change">
                    <input placeholder=" " id="match-date" type="date" class="validate" ng-model="newMatch.date">
                    <label for="match-date" class="sports-match-adjust-label">
                        Date
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer palette-5 right-align"><!-- button -->
            <button href="" class="modal-action modal-close minimalist-button">CLOSE</button>
            <button href="" class="modal-action modal-close minimalist-button" ng-click="addMatch()">ADD</button>
        </div>
    </div>

</div>

<!--  Scripts-->
<script type="text/javascript" src="../frontend_modules/js/materialize.js"></script>
<script type="text/javascript" src="../js/sports-page.js"></script>