div {
  height: 100%;
}

h3 {
  margin: 0px;
}

#cover-photo {
  height: 95%;
  background-image: url(../assets/about-us-cover.jpg);
  background-color: #00415a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#tagline {
  background-color: rgba(0,0,0,0.5);
  font-size: 36pt;
}

#about, #lennon, #stuart, #ringo, #mccartney, #about-content {
  height: auto;
}

.shortcuts:hover {
  background-color: white;
}

#tagline-div {
  height: 85%;
}

#shortcuts-div {
  height: 10%;
}

.team-name {
  font-size: 14pt;
  color: white;
  background-color: rgba(0,0,0,0.3);
}

.team-name:hover {
  cursor: pointer !important;
}

.material-icons:hover {
  color: black;
}

.remove-bottom {
  margin-bottom: 0px;
}

#dev-team {
  height: 255px;
  overflow-y: auto;
}

#details-div {
  background-color: rgba(255,255,255,0.3);
}

#project-manager-card {
  width: 
}

.dev-member-card {
  background-color: #00b8ff;
}

.col-margin-remove {
  margin-left: 0 !important;
}

.bordered-div {
/*  border: 2px solid #00415a;*/
  border-radius: 5px;
}

#about-us-img-1 {
  background-image: url('/assets/dev-team-photo-3.jpg');
  height: 500px;
}

#about-us-img-2 {
  background-image: url('/assets/dev-team-photo.png');
  height: 500px;
}

#about-us-img-1s {
  background-image: url('/assets/dev-team-photo-3.jpg');
  height: 250px;
}

#about-us-img-2s {
  background-image: url('/assets/dev-team-photo.png');
  height: 250px;
}