@media only screen and (max-width: 500px){
  .h4-style {
    width: auto !important;
  }
}

.h5-margin {
  margin-top: 0px;
  margin-bottom: 0px;
}

.h4-style {
  border-radius: 50px;
  width: 500px;
  margin-bottom: 20px;
}

.p-style {
  margin-top: 2px;
  margin-bottom: 2px; 
}

#cover-photo {
/*  height: 600px;*/
  background-image: url(../assets/about-us-cover.jpg);
  background-color: #00415a;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#company-logo {
  width: 40%;
}

#tagline {
  background-color: rgba(0,0,0,0.5);
  font-size: 36pt;
}


#about-content, #about-details, #lennon, #stuart, #ringo, #mccartney {
  height: auto;
}

#about-details {
  height: auto;
}

.shortcuts:hover {
  background-color: white;
}

#tagline-div {
  height: 85%;
  margin-top: 0px;
}

#shortcuts-div {
  height: 10%;
}

.team-name {
  font-size: 14pt;
  color: white;
  background-color: rgba(0,0,0,0.3);
}

.team-name:hover {
  cursor: pointer !important;
}

.material-icons:hover {
  color: black;
}

.remove-bottom {
  margin-bottom: 0px;
}

.padding-top-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
}

.inline {
  display: inline-block;
}

.dev-member-card {
  height: 150px;
  width: 350px;
  border-radius: 5px;
}
.dev-member-avatar {
  width: 120px;
}
.dev-member-info {
  width: 180px;
}
.dev-member-img {
  width: 110px;
  height: 110px;
}
#project-manager {
  background-color: #00b8ff;
}
.dev-member-tl {
  background-color: #00415a;
  color: white;
}

.dev-member-1 {
  background-color: #00719c;
  color: white;
}

.dev-member-2 {
  background-color: #001f2b;
  color: white;
}