.admin-padding-right {
    padding-right: 0rem !important;
}

.admin-padding-left {
    padding-left: 0rem !important;
}

.admin-fixed-sidebar {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0!important;
}

#admin-title{
    width: 100%;
    height: 25%;
    text-align: center;
    padding:0!important;
}

#admin-title h4{
    padding-left: 15%;
}

#admin-main{
    box-shadow: none!important;
    padding: 50px!important;
}

#admin-buttons{
    width: 100%;
    max-height: 70%;
    overflow-y: auto;
    margin-right: 10px;
}

#admin-buttons button{
    border: none;
    width: 100%!important;
    height: 50px;
    background: transparent;
    color: white;
    font-family: telegrafico;
    text-align: left;
    padding-left: 15%;
    font-size: 16px;
}

#admin-buttons button:hover{
    /*background: #00415a;*/
    transition: background 0.3s!important;
    color: white!important;
}

.admin-hidden-item{
    width: 100%;
    height: 50px;
    background: #00719c!important;
    color: white!important;
}

.admin-hidden-item:hover{
    color: #00719c!important;
}

#admin-stopper{
    width: 100%;
    height: 5%;
}

.admin-view{
    width: 100%;
    /*background: blue;*/
}

.admin-view h4{
    margin: 0;
}

#gamefeed-game-search-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "telegrafico";
    font-size: 16px;
}

#adminpanel-search-bar input::-webkit-search-decoration,
#adminpanel-search-bar input::-webkit-search-cancel-button {
    display: none; 
}

#adminpanel-search-bar input[type=search] {
    background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 95%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#adminpanel-search-bar input[type=search] {
    height: 17px;
}

#adminpanel-search-bar input:-moz-placeholder {
    color: transparent;
}

#adminpanel-search-bar input::-webkit-input-placeholder {
    color: transparent;
}

.search-admin input[type=search]{
    /*padding-left: 10px;*/
}

.search-admin input[type=search]:focus {
    border-bottom: none;
    box-shadow: none;
}

.search-admin-button{
    margin-left: 15px;
    border-radius: 3px;
    width: 50px;
    height: 36px;
    border: 1px solid #00719c;
    background: #00719c;
    color: white;
}

#admin-main .switch label input[type=checkbox]:checked+.lever {
  background-color: #00415a;
}

#admin-main .switch label input[type=checkbox]:checked+.lever:after {
  background-color: #00a5d3;
}

#admin-main td {
    padding: 0;
    height: 50px;
}

#admin-main td input{
    margin: 0;
    height: 30px;
    border: none;
}