.admin-padding-right {
    padding-right: 0rem !important;
}

.admin-padding-left {
    padding-left: 0rem !important;
}

.admin-fixed-sidebar {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
    padding: 0!important;
}

#admin-title{
    width: 100%;
    height: 25%;
    text-align: center;
    padding:0!important;
}

#admin-title h4{
    padding-left: 15%;
}

#admin-main{
    box-shadow: none!important;
    padding: 50px!important;
}

#admin-buttons{
    width: 100%;
    max-height: 70%;
    overflow-y: auto;
    margin-right: 10px;
}

#admin-buttons button{
    border: none;
    width: 100%!important;
    height: 50px;
    background: transparent;
    color: white;
    font-family: telegrafico;
    text-align: left;
    padding-left: 15%;
    font-size: 16px;
}

#admin-buttons button:hover{
    /*background: #00415a;*/
    transition: background 0.3s!important;
    color: white!important;
}

.admin-hidden-item{
    width: 100%;
    height: 50px;
    background: #00719c!important;
    color: white!important;
}

.admin-hidden-item:hover{
    color: #00719c!important;
}

#admin-stopper{
    width: 100%;
    height: 5%;
}

.admin-view{
    width: 100%;
    /*background: blue;*/
}

.admin-view h4{
    margin: 0;
}

#gamefeed-game-search-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "telegrafico";
    font-size: 16px;
}

.search-admin input[type=search]{
    /*padding-left: 10px;*/
}

.search-admin input[type=search]:focus {
    border-bottom: none;
    box-shadow: none;
}

.search-admin-button{
    margin-left: 15px;
    border-radius: 3px;
    width: 50px;
    height: 36px;
    border: 1px solid #00719c;
    background: #00719c;
    color: white;
}

.admin-form-edit{
    border-bottom: 2px solid #00719c!;
    width: 90%;
    color: #00415a;
}

#admin-main .switch label input[type=checkbox]:checked+.lever {
  background-color: #00415a;
}

#admin-main .switch label input[type=checkbox]:checked+.lever:after {
  background-color: #00a5d3;
}

#admin-main td , #admin-main th {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
}

#admin-main td input{
    margin: 0;
    height: 28px;
    margin-bottom: 6px;
    border: none;
}

.admin-form-edit:disabled{
    color: black!important;
    border-bottom: none!important;
}

.admin-right-view{
    height: 350px!important;
    overflow-y: scroll;
    margin-top: 10px;
    border: solid 1px #D0D0D0 !important;
    border-radius: 3px;
}

.admin-right-view::-webkit-scrollbar-track{
    background: transparent;
}

.admin-right-view::-webkit-scrollbar{
    width: 6px;
    background-color: transparent;
}

.admin-right-view::-webkit-scrollbar-thumb{
    background-color: #00719c;
    border-radius: 5px;
}

.admin-form-edit-btn:hover{
    color: #00719c;
    cursor: pointer;
}

.admin-fillup-form{
    height: 30px!important;
    border-bottom: 2px solid #00719c!important;
    color: black!important;
    margin-bottom: 10px!important;
}

.admin-fillup-form:focus{
    border-bottom: 2px solid #00a5d3!important;
}

.admin-fillup-label{
    color: #00415a!important;
    font-family: telegrafico;
}