.divider-color {
	background-color: #bdbdbd;
}

.palette-1 {
	background-color: #00b8ff;
}

.palette-2 {
	background-color: #00a5d3;
}

.palette-3 {
	background-color: #00719c;
}

.palette-4 {
	background-color: #00415a;
}

.palette-5 {
	background-color: #001f2b;
}

.palette-text-1 {
	color: #00b8ff;
}

.palette-text-2 {
	color: #00a5d3;
}

.palette-text-3 {
	color: #00719c;
}

.palette-text-4 {
	color: #00415a;
}

.palette-text-5 {
	color: #001f2b;
}

.palette-border-1{
	border-color: #00b8ff;
}

.palette-border-2 {
	border-color: #00a5d3;
}

.palette-border-3 {
	border-color: #00719c;
}

.palette-border-4 {
	border-color: #00415a;
}

.palette-border-5 {
	color: #001f2b;
}