#content {
	padding-top: 3%;
	padding-bottom: 2%;
	position: relative;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	max-width: 100%;
	background-color: #00b8ff;
}

#por {
	max-width: 80%;
	max-height: 80%;
}

#image-body {
	background-color: #00b8ff;
}