@font-face {
	font-family: century-gothic;
	src: url(../fonts/century-gothic/century-gothic.TTF);
}

@font-face {
	font-family: rockwell;
	src: url(../fonts/rockwell/ROCK.TTF);
}

@font-face {
	font-family: 'sansation';
	src:url('/fonts/Sansation_Light.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'leixo';
	src:url('/fonts/leixo/LEIXO-DEMO.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'telegrafico';
	src:url('/fonts/telegrafico.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: script-mt;
	src: url(../fonts/script-mt/script-mt.TTF);
}

.century-gothic {
	font-family: century-gothic;
}

.rockwell {
	font-family: rockwell;
}

.strong {
	font-weight: bold;
}

.telegrafico{
	font-family: "telegrafico";
}

.sansation{
	font-family: "sansation";
}

.leixo {
	font-family: "leixo";
}

.script-mt {
	font-family: script-mt;
}

.letter-spacing-1{
	letter-spacing: 1px;
}

.letter-spacing-2{
	letter-spacing: 2px;
}

.letter-spacing-3{
	letter-spacing: 3px;
}