#game-slider .indicators{
    /*margin-bottom: 1% !important;*/
}

#game-slider .indicators .indicator-item {
  background-color: #001f2b;
  border: 3px solid #ffffff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#game-slider .indicators .indicator-item.active {
  background-color: #00a5d3;
}

.game-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 88%;
    margin-top:-350px; border-radius: 5px; position:relative;
}

.game-rightpanel-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 80%;
}

.game-slider-background {
    background-color: white !important;
}

#game-slider {
    height: 230px !important;
    margin-bottom: 0 !important;
}

#game-slides {
    height: 210px !important;
}

.game-smaller-padding {
    padding: 10px !important;
}

.game-match-diagonal-up {
    margin-bottom: -20% !important;
    padding-bottom: 2% !important;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 74%, 100% 0%);
}

.game-match-diagonal-down {
    -webkit-clip-path: polygon(0% 100%, 0 30%, 100% 0, 100% 100%);
    margin-top: -20% !important;
    padding-top: 2% !important;
}

.game-padding-right {
    padding-right: 0rem !important;
}

.game-padding-left {
    padding-left: 0rem !important;
}

.game-padding-top {
    padding-top: 0rem !important;
}

.game-remove-padding {
    padding: 10px !important;
}

.game-remove-padding-absolute {
    padding: 0 !important;
    cursor: pointer;
}

.game-remove-padding-absolute {
    padding: 5px !important;
}

.game-remove-margin {
    margin: 0 0 0 0 !important;
}

.game-teamname-adjust {
    margin-top: 12px !important;
}

.game-margin-other-place {
    margin-bottom: -10px !important;
}

.game-smaller-font-header {
    font-size: 10px;
}

.game-allowance-sports {
    margin-top: 10px !important;
}

.game-remove-bottom {
    margin-bottom: 0px !important;
}

.game-remove-top {
    margin-top: 0px !important;
}

#game-sport-search {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: inherit !important;
    border-radius: 8px;
    background-color: white;
}

.input-field input[type=search]:focus {
    border-radius: 8px;
    background-color: white;
}

.game-btn-height {
    height: 25px !important;
}

#game-delete-sponsor .modal-content{
    max-height: 50vh;
    /*overflow-y:auto;*/
    z-index:99;
}

#game-sponsor-edit {
    margin-top: 3%;
}

#game-sponsor-add {
    /*overflow-y:hidden;*/
    max-height:100%;
}

#game-sponsor-add .modal-content{
    max-height: 50vh;
    /*overflow-y:auto;*/
    z-index:99;
}

#game-delete-organization{
    /*overflow-y: hidden;*/
}

#game-delete-organization .modal-content{
    /*overflow-y:auto;*/
    max-height:50vh; 
    z-index:99;
}

#game-organization-add{
    /*overflow:hidden;*/
}

#game-organization-add .modal-content{
    /*overflow-y:auto;*/
    max-height:50vh; 
    z-index:99;
}

.game-icon-adjust {
    margin-top: -12px !important;
}

.game-inline-search {
    margin-top: 5px !important;
    margin-bottom: -1px !important;
}

.game-padding-search {
    padding-left: 5px !important;
}

#game-mini-icon {
    width: 100% !important;
}

.game-padding-down {
    padding-bottom: 12px;
}

.game-adjust-label {
    top: -14px !important;
    font-size: 0.8rem !important;
}

.game-fixed-sidebar {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
}

#game-update-section .game-match:hover {
    transition: background 0.5s;
    margin-right: -10px;
}

#game-update-section{
    height: 50%;
}

#game-rank-section{
    height: 50%;
}

.game-type-matches{
    margin-left: 10px !important;
}

.game-type-matches::-webkit-scrollbar-track{
    background: transparent;
}

.game-type-matches::-webkit-scrollbar{
    width: 4px;
}

.game-type-matches::-webkit-scrollbar-thumb{
    background-color: #00719c;
    /*border-radius: 5px;*/ 
}

.game-match{
    border: solid 2.5px;
    border-radius: 8px;
    min-height: 100px;
    margin-top: 10px;
    background-color: white !important;
}

.game-match-title, .game-match-players{
    margin: 0 !important;
}

.game-match-title div, .game-match-players div{
    padding: 0 !important;
}

.game-match-info{
    font-size: 10px;
    font-family: "century-gothic";
    letter-spacing: 1px;
}

.game-match-container{
    padding: 10px;
}

.game-match-header {
    font-size: 20px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.game-container-info-padding{
    margin-top: 10px;
}

#game-past-match .game-match:hover {
    border-color: #001f2b;
    color: white !important;
    transition: background-color 0.4s;
    background: #001f2b !important;
}

#game-ongoing-match .game-match:hover {
    border-color: #00415a;
    color: white !important;
    background: #00415a !important;
    transition: background-color 0.4s;
}

#game-upcoming-match .game-match:hover {
    border-color: #00719c;
    color: white !important;
    transition: background-color 0.4s;
    background: #00719c !important;
}

.game-circle-update {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    margin-top: 5px;
    z-index: 10;
    margin-left: -16px;
}

.game-line-update {
    height: 42.5%;
    background-color: white;
    width: 2px;
    position: absolute;
    left: 83%;
    z-index: -5;
}

.game-line-rank {
    height: 35%;
    background-color: white;
    width: 2px;
    position: absolute;
    left: 83%;
    z-index: -5;
}

.game-update-title{
    font-size: 14px;
    font-weight: 800;
    margin-left: -24px;
}

.game-update-date{
    font-size: 10px;
    margin-bottom: -15px;
}

.game-icon-update{
    margin-top: 8px !important;
    margin-right: 7px !important;
}

.game-position-rank{
    margin-top: 7px !important; 
    margin-right: 2px !important;
}

.game-rank-title{
    font-size: 18px;
    font-weight: 800;
    margin-top: 11px;
}

.game-sponsor-title {
    font-size: 20px;
    margin: 0px !important;
    margin-top: -10px;
    line-height: 22px;
}

.game-sponsor-description{
    font-size: 12px;
    margin-top: -1px;
    line-height: 14px !important;
    color: black;
}

.game-location-description{
    font-size: 10px;
    /*margin-top: -20px; */
}

.game-organizer-header{
    line-height: 18px !important;
    font-size: 20px !important;
}

.game-organizer-description{
    font-size: 14px !important;
}

.game-center-sport-logo{
    margin-left: 18%;
}

.game-game-name{
    padding: 10px !important;
}

.game-wew-sport:hover{
    color:white !important;

}
.game-link-sport:hover{
    transition: background-color 0.5s;
    background-color: black;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.game-hovercard {
    border: solid 2.5px grey;
    border-radius: 8px;
    min-height: 100px;
    margin-top: 10px;
    background-color: white !important;
    box-shadow: none;
}

.game-hovercard:hover {
    border-color: grey;
    transition: background-color 0.5s;
    background: grey !important;
}

.game-option-adjust {
    margin-top: -60px !important;
}

#game-adjust-icon-add {
    font-size: 90px;
}

.game-adjust-image {
    margin-top: 6%;
    height: 90px;
    width: 90px;
    cursor: pointer;
}

#game-game-search input{
    margin: 0;
}

#game-game-search-bar input {
    outline: none;
}
#game-game-search-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "telegrafico";
    font-size: 16px;
}
#game-game-search-bar input::-webkit-search-decoration,
#game-game-search-bar input::-webkit-search-cancel-button {
    display: none;
}

#game-game-search-bar input[type=search] {
    margin-bottom: 0px !important;
    background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 100%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#game-game-search-bar input[type=search]:focus {
    /*padding-left: 32px;*/
}

#game-game-search-bar input[type=search] {
    height: 16px;
}

#game-game-search-bar input[type=search]:hover {
    /*background-color: #fff;*/
}

#game-game-search-bar input:-moz-placeholder {
    color: transparent;
}

#game-game-search-bar input::-webkit-input-placeholder {
    color: transparent;
}

.game-card-title-inside {
    bottom: 0px !important;
    position: absolute;
    width: 100%;
    margin-left: -10px;
}

.game-arrange-padding {
    padding: 10px !important;
}

.game-sidebar {
    width: 18% !important;
}

.game-main-content{
    margin-left: 18% !important;
    width: 82% !important;
}

.sponsor-actions{
    margin-left: 10px;
}

.sponsor-actions:hover{
    color: black;
    cursor: pointer!important;
}

.game-sidebar-remove-left-padding {
    padding-left: 0px !important;
}


.game-header-fill{
    padding: 0px !important;
}

.game-modal-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.game-remove-bottom-modal {
    margin-bottom: 0px !important;
}

.game-adjust-icons {
    font-size: 1.5em !important;
}

.game-add-modal-content {
    margin-top: 20px;
}

#game-fab-palette-4 {
    background-color: #00415a !important;
}

.game-input-color-change input:not([type]):focus:not([readonly]),
.game-input-color-change input[type=text]:focus:not([readonly]),
.game-input-color-change input[type=date]:focus:not([readonly]),
.game-input-color-change input[type=number]:focus:not([readonly]),
.game-input-color-change textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00415a;
  box-shadow: 0 1px 0 0 #00415a;
}

.game-input-color-change input:not([type]):focus:not([readonly]) + label,
.game-input-color-change input[type=text]:focus:not([readonly]) + label,
.game-input-color-change input[type=date]:focus:not([readonly]) + label,
.game-input-color-change input[type=number]:focus:not([readonly]) + label,
.game-input-color-change textarea.materialize-textarea:focus:not([readonly]) + label.game-textarea-label-color-change {
  color: #00415a;
}

.game-textarea-label-color-change{
    color: #00415a;   
}

.game-modal-content{
    margin-top: 20px;
}

.game-modal-title {
    font-weight: 800;
}

.game-sponsor-description-modal{
    font-size: 14px;
    margin-top: -20px;
}

.game-checkbox-change-color [type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #00415a;
  background-color: #00415a;
}

.input-field .error{
    position: relative;
    top: -1rem;
    left: 0rem;
    font-size: 0.8rem;
    color: #FF4081;
}

.game-adjust-sponsor-desc{
    margin-top: -8px;
    font-size: 12px;
}

.game-organizations-button{
    background-color: transparent !important;
    border: solid 2px #00415a !important;
    color: #00415a !important;
}

.game-organizations-button:hover{
    background-color: #00415a !important;
    border: solid 2px #00415a !important;
    color: white !important;
}

.game-sponsor-button{
    background-color: transparent !important;
    border: solid 2px #001f2b !important;
    color: #001f2b !important;
}

.game-sponsor-button:hover{
    background-color: #001f2b !important;
    border: solid 2px #001f2b !important;
    color: white !important;
}

.game-game-box{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 2px;
	overflow: hidden;
}

.game-game-box-header{
	width: 100%;
	height: 50px;
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	letter-spacing: 1px;
}

.game-game-box-body{
	width: 100%;
	border: solid 1px rgba(0,0,0,.1);
    height: 250px;
}

.game-organization-content {
    margin-top: 20px;
}

.game-rightpanel-content-box-organization {
    overflow-y:auto;
    height:150px;
}

.game-rightpanel-content-box-organization::-webkit-scrollbar-track{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #bdbdbd;
}

.game-rightpanel-content-box-organization::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

.game-rightpanel-content-box-organization::-webkit-scrollbar-thumb{
	background-color: #00415a;
}

.game-rightpanel-content-box-sponsor {
    overflow-y:auto;
    height:150px;
}

.game-rightpanel-content-box-sponsor::-webkit-scrollbar-track{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #bdbdbd;
}

.game-rightpanel-content-box-sponsor::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

.game-rightpanel-content-box-sponsor::-webkit-scrollbar-thumb{
	background-color: #001f2b;
}

.game-panel-headers{
    font-size: 22px !important;
}

.game-tab-header{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;    
}

.game-match-tab .indicator {
    height: 5px;
    background-color: #00b8ff;
}

.game-match-tab .tab {
    height: 30px !important;
}

.game-match-tab  {
    height: 30px !important;
}

.game-match-content-row-top{
    /*padding-top: 45pcx;*/
}

.game-maintain-anchor{
    color: black;
}

.game-maintain-anchor:hover{
    color: #00b8ff;
}

.game-title {
    font-size: 45px !important;
	letter-spacing: 3px;
	padding-top: 45px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 2px 2px 3px black;
}

.game-details {
    font-size: 15px !important;
	letter-spacing: 1px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 2px 2px 3px black;
}

.game-panel-bottom {
    border: solid 1px transparent !important;
}

.game-toppanel {
    overflow-y:auto;
    height:0px;
}

.game-toppanel::-webkit-scrollbar-track{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #bdbdbd;
}

.game-toppanel::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

.game-toppanel::-webkit-scrollbar-thumb{
	background-color: #00415a;
}

.game-infinite-scroll {
    overflow-y:auto;
    height:300px;
}

.game-infinite-scroll::-webkit-scrollbar-track{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #bdbdbd;
}

.game-infinite-scroll::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

.game-infinite-scroll::-webkit-scrollbar-thumb{
	background-color: #00415a;
}

.game-wew-scroll {
    overflow-y:auto;
    height:480px;
}

.game-wew-scroll::-webkit-scrollbar-track{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #bdbdbd;
}

.game-wew-scroll::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

.game-wew-scroll::-webkit-scrollbar-thumb{
	background-color: #00415a;
}


@media screen and (max-device-width : 450px) {
    .game-container {
        margin: 0 auto;
        max-width: 1280px;
        width: 88%;
        margin-top:-350px; border-radius: 5px; position:relative;
    }

    .game-title {
        font-size: 30px !important;
        letter-spacing: 3px;
        padding-top: 45px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        text-shadow: 2px 2px 3px black;
    }

    .game-details {
        font-size: 12px !important;
        letter-spacing: 1px;
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
        text-shadow: 2px 2px 3px black;
    }
}

@media screen and (max-device-width : 300px) {
    .game-container {
        margin: 0 auto;
        max-width: 1280px;
        width: 88%;
        margin-top:-300px; border-radius: 5px; position:relative;
    }
}

.game-scroll-multiple-teams {
    overflow-y:auto;
    height: 100px;
}

.game-scroll-multiple-teams::-webkit-scrollbar-track{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #bdbdbd;
}

.game-scroll-multiple-teams::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

.game-scroll-multiple-teams::-webkit-scrollbar-thumb{
	background-color: #00415a;
}


