.game-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 88%;
}

.game-slider-background {
    background-color: white !important;    
}

#game-slider {
    height: 240px !important;
}

#game-slides {
    height: 210px !important;
}

.game-smaller-padding {
    padding: 10px !important;
}

.game-match-diagonal-up {
    margin-bottom: -20% !important;
    padding-bottom: 10% !important;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 74%, 100% 0%);
}

.game-match-diagonal-down {
    -webkit-clip-path: polygon(0% 100%, 0 30%, 100% 0, 100% 100%);
    margin-top: -20% !important;
    padding-top: 10% !important;
}

.game-padding-right {
    padding-right: 0rem !important;
}

.game-padding-left {
    padding-left: 0rem !important;
}

.game-remove-padding {
    padding: 10px !important;
}

.game-remove-padding-absolute {
    padding: 5px !important;
}

.game-remove-margin {
    margin: 0 0 0 0 !important;
}

.game-teamname-adjust {
    margin-top: 12px !important;
}

.game-margin-other-place {
    margin-bottom: -10px !important;    
}

.game-smaller-font-header {
    font-size: 10px;
}

.game-allowance-sports {
    margin-top: 10px !important;
}

.game-remove-bottom {
  margin-bottom: 0px !important;
}

.game-adjust-image {
    margin-left: 10%;
    margin-top: 15%;
    height: 50px;
    width: 50px;
}

#game-sport-search {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: inherit !important;
    border-radius: 2px;
}

.game-btn-height {
    height: 36px !important;
}

#game-add-sport {
    margin-top: 3%;
}

#game-update-sport {
    margin-top: 3%;
}

#game-delete-sport {
    margin-top: 10%;
    width: 30%;
}

.game-icon-adjust {
    margin-top: -12px !important;
}

.game-inline-search {
    margin-top: -5px;
    margin-bottom: -5px;
}

.game-padding-search {
    padding-left: 5px !important; 
}

#game-mini-icon {
    width: 100% !important;
}

.game-padding-down {
    padding-bottom: 12px;
}