#game-slider .indicators{
    margin-bottom: 1% !important;
}

.game-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 88%; 
}

.game-slider-background {
    background-color: white !important;    
}

#game-slider {
    height: 220px !important;
    margin-bottom: 0 !important;
}

#game-slides {
    height: 200px !important;
}

.game-smaller-padding {
    padding: 10px !important;
}

.game-match-diagonal-up {
    margin-bottom: -20% !important;
    padding-bottom: 2% !important;
    -webkit-clip-path: polygon(0% 0%, 0% 100%, 100% 74%, 100% 0%);
}

.game-match-diagonal-down {
    -webkit-clip-path: polygon(0% 100%, 0 30%, 100% 0, 100% 100%);
    margin-top: -20% !important;
    padding-top: 2% !important;
}

.game-padding-right {
    padding-right: 0rem !important;
}

.game-padding-left {
    padding-left: 0rem !important;
}

.game-padding-top {
    padding-top: 0rem !important;
}

.game-remove-padding {
    padding: 10px !important;
}

.game-remove-padding-absolute {
    padding: 5px !important;
}

.game-remove-margin {
    margin: 0 0 0 0 !important;
}

.game-teamname-adjust {
    margin-top: 12px !important;
}

.game-margin-other-place {
    margin-bottom: -10px !important;  
}

.game-smaller-font-header {
    font-size: 10px;
}

.game-allowance-sports {
    margin-top: 10px !important;
}

.game-remove-bottom {
    margin-bottom: 0px !important;
}

.game-remove-top {
    margin-top: 0px !important;
}

.game-adjust-image {
    margin-left: 9%;
    margin-top: 15%;
    height: 100px;
    width: 100px;
}

#game-sport-search {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: inherit !important;
    border-radius: 8px;
    background-color: white;
}

.input-field input[type=search]:focus {
    border-radius: 8px;
    background-color: white;
}

.game-btn-height {
    height: 25px !important;
}

#game-add-sport {
    margin-top: 3%;
}

#game-update-sport {
    margin-top: 3%;
}

#game-delete-sport {
    margin-top: 10%;
    width: 30%;
}

.game-icon-adjust {
    margin-top: -12px !important;
}

.game-inline-search {
    margin-top: 5px !important;
    margin-bottom: -1px !important;
}

.game-padding-search {
    padding-left: 5px !important; 
}

#game-mini-icon {
    width: 100% !important;
}

.game-padding-down {
    padding-bottom: 12px;
}

.game-adjust-label {
    top: -14px !important;
    font-size: 0.8rem !important;
}

.game-fixed-sidebar {
    z-index: 100;
    width: 100%;
    height: 100%;
    position: fixed;
}

#game-update-section .game-match:hover {
    transition: background 0.5s;
    margin-right: -10px;
}

#game-update-section{
    height: 50%;
}

#game-rank-section{
    margin-top: -10%;
    height: 50%;
}


.game-type-matches{
    /*margin-right: -10px !important;*/
    margin-left: 10px !important;
}

.game-type-matches::-webkit-scrollbar-track{
    background: transparent;
    /*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);*/
    /*background-color: #F5F5F5;*/
}

.game-type-matches::-webkit-scrollbar{
    width: 6px;
    /*background-color: white;*/
}

.game-type-matches::-webkit-scrollbar-thumb{
    background-color: white;
    border-radius: 5px;
}

.game-match{
    border: solid 2.5px;
    border-radius: 8px;
    min-height: 100px;
    margin-top: 10px;
}

.game-match-title, .game-match-players{
    margin: 0 !important;
}

.game-match-title div, .game-match-players div{
    padding: 0 !important;
}

.game-match-info{
    font-size: 10px;
    font-family: "century-gothic";
    letter-spacing: 1px;
}

.game-match-container{
    padding-left: 10px; 
    padding-right: 10px; 
    padding-bottom: 10px; 
}

.game-match-header {
    margin-top: -12px !important;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

#game-past-match .game-match:hover {
    border-color: #001f2b;
    color: white !important;
    transition: background-color 0.5s;
    background: #001f2b;
}

#game-ongoing-match .game-match:hover {
    border-color: #00415a;
    color: white !important;
    background: #00415a;
    transition: background-color 0.5s;
}

#game-upcoming-match .game-match:hover {
    border-color: #00719c;
    color: white !important;
    transition: background-color 0.5s;
    background: #00719c;
}

.game-circle-update {
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    margin-top: 5px;
    z-index: 10;
}    

.game-line {
    height: 250px;
    background-color: black;
    width: 2px;
    position: absolute;
    left: 86%;
    z-index: -5;
}

.game-update-title{
    font-size: 16px;
    font-weight: 800;
}

.game-update-date{
    font-size: 10px;
    margin-bottom: -20px;
}

.game-icon-update{
    margin-top: 8px !important;
    margin-left: -3px !important;
}

.game-position-rank{
    margin-top: 7px;
    margin-right: 2px;
}

.game-rank-title{
    font-size: 18px;
    font-weight: 800;
    margin-top: 11px;
}

.game-sponsor-title {
    font-size: 18px;
}

.game-sponsor-description{
    font-size: 10px;
    margin-top: -20px; 
}

.game-location-description{
    font-size: 10px;
    /*margin-top: -20px; */
}

.game-center-sport-logo{
    margin-left: 18%;
}

.game-game-name{
    padding: 10px !important; 
}

.game-hovercard {
    height: 200px;
    width: 200px;
}

.game-hovercard:hover {
    /*00b8ff*/
    /*00a5d3*/
    /*00719c*/
    /*00415a*/
    /*001f2b*/
    border-color: #00b8ff;
    transition: background-color 0.5s;
    background: #00b8ff;
}

.game-option-adjust {
    margin-top: -60px !important;
}

#game-adjust-icon-add {
    font-size: 102px;
}

#game-game-search input{
    margin: 0;
}

#game-game-search-bar input {
    outline: none;
}
#game-game-search-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "telegrafico";
    font-size: 16px;
}
#game-game-search-bar input::-webkit-search-decoration,
#game-game-search-bar input::-webkit-search-cancel-button {
    display: none; 
}

#game-game-search-bar input[type=search] {
    background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 300px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#game-game-search-bar input[type=search]:focus {
    /*padding-left: 32px;*/
}

#game-game-search-bar input[type=search] {
    height: 16px;
}

#game-game-search-bar input[type=search]:hover {
    /*background-color: #fff;*/
}

#game-game-search-bar input:-moz-placeholder {
    color: transparent;
}

#game-game-search-bar input::-webkit-input-placeholder {
    color: transparent;
}

.game-card-title-inside {
    bottom: 0px !important;
    position: absolute;
    width: 100%;
    margin-left: -10px;
}

.game-arrange-padding {
    padding: 10px !important;
}