.gamefeed-game-container {
    margin: 0 auto;
    max-width: 1280px;
    width: 95%;
}

.gamefeed-game-search {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: inherit !important;
}

.gamefeed-padding-right {
    padding-right: 0rem !important;
}

.gamefeed-padding-left {
    padding-left: 0rem !important;
}

.gamefeed-smaller-pic {
    width: 5em;
    height: 5em;
}

.gamefeed-fab-adjust {
    bottom: -40px !important;
}

.gamefeed-padding-down {
    padding-top: 10px;
    padding-bottom: 14px;
}

.gamefeed-remove-bottom {
  margin-bottom: 0px !important;
}

.gamefeed-btn-height {
    height: 36px !important;
}

.gamefeed-search-adjust {
    margin-top: -13px;
}

.gamefeed-sort-adjust {
    margin-top: 9px !important;
}

#gamefeed-delete-game {
    margin-top: 10%;
    width: 30%;
}

#gamefeed-add-game {
    margin-top: 3%;
}

#gamefeed-update-game {
    margin-top: 3%;
}

#gamefeed-extend-header {
    height: 200px;
    padding-top: 25px;
}

.gamefeed-adjust-label {
    top: -14px !important;
    font-size: 0.8rem !important;
}

#gamefeed-give-padding {
    padding-right: 10px;
}

.gamefeed-textarea-color {
    background-color: white !important;
}