.help-extend-height {
	height: 350px;
}

.collapsible-header .help-hover-icon {
	cursor: pointer;
}

.help-hover-icon:hover {
	color: black;
}

.help-arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid black;
}

i.help-icon-arrow { 
	-webkit-transition: all 300ms ease-in 0s;
	-moz-transition: all 300ms ease-in 0s;
	-o-transition: all 300ms ease-in 0s;
	transition: all 300ms ease-in 0s;
}

.active i.help-icon-arrow {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.active div.help-collapsible-header {
    background-color: rgba(177, 220, 251, 1);   
    transition: background-color 0.5s;
}

@media screen and (max-device-width : 1500px) {
    .help-category-header {
        font-size: 25px;   
    }
    .help-header-wew {
        /*line-height: 14px;*/
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        margin-left: -10% !important;
    }
}

@media screen and (max-device-width : 700px) {
    .help-category-header {
        font-size: 20px;   
    }
}

@media screen and (max-device-width : 450px) {
    .help-collapsible-header {
        font-size: 15px;   
    }
    .help-collapsible-body {
        font-size: 13px;
    }
    .help-header-wew {
        line-height: 14px;
        padding-top: 4% !important;
        padding-bottom: 4% !important;
        padding-left: 10% !important;
    }
}


.help-remove-bottom {
    margin-bottom: 0px !important;
}

.help-shadow-details {
	text-shadow: 2px 2px 3px black;
}