.margin-down-10{
	margin-bottom: 10px;
}

.margin-down-20{
	margin-bottom: 20px;
}


.margin-down-40{
	margin-bottom: 40px;
}

.padding-override-0{
	padding: 0!important;
}

.margin-override-0{
	margin: 0!important;
}

.input-box-style{
	/*background-color: #eeeeee!important;*/
	font-family: century-gothic;
	padding-left: 10px!important;
	border: solid 1px #D0D0D0 !important;
	border-radius: 3px!important;
}

.input-box-style:focus{
	outline: none;
	box-shadow: 0 0 10px #00719c;
}

.width-100{
	width: 100%;
}

.minimalist-button{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	border: solid 2px #00719c;
	color: #00719c;
	font-weight: bold;
	background: white;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: telegrafico;
}

.minimalist-button:hover{
	background: #00719c;
	color: white;
	transition: background 0.3s;
}

.minimalist-button-inverted{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 3px;
	font-weight: bold;
	letter-spacing: 1px;
	font-size: 12px;
	font-family: telegrafico;
	background-color: #00415a;
	color: white;
	border: 2px solid #00415a;
}
.minimalist-button-inverted:hover{
	color: white;
	background: #00719c;
	border-color: #00719c;
	transition: border-color 0.5s;
	transition: background 0.5s;
}
