
/*Darkens the images in the slider*/
.slider .slides img {
  filter: brightness(25%); 
  max-width: 100%;
  max-height: 100%;
}

.slider {
  position:relative;
}

/*Information under the slider*/
.under-slider {
  position: relative;
  width: 100%;
}

/*View all games button*/
.view-games {
  position: absolute;
  z-index: 5;
  margin-top: 1%;
  margin-left: 88.5%;
}

/*Sets the style of the individual info boxes*/

.home-caption-head {
  color: #ffffff;
}

.home-footer {  
  /*background-color: red;*/
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  /*padding: 1rem;*/
  background-color: black;
  text-align: center;
  height: 6%;
  float:left;
}

.home-footer ul li {
  display: inline;
  color: grey;
  font-size: 12px!important;    
  letter-spacing: 2px!important;
}

.home-footer div {
  margin-top: -0.5%;
  margin-right: 1%;
}