#login-panel{
	height: 100%;
	padding: 20px;
}

#signup-panel{
	min-height: 100%;
	padding: 20px;

}

#signup-panel .row{
	height: 50px!important;
}

#login-page{
}

#login-container{
	width: 100%;
	height: 92%;
	position: fixed;	
	padding: 0!important;
	margin: 0!important;
	box-shadow: 1px 1px black;
}

#login-card{
	/*border-radius: 10px;*/
	height: 100%;
	width: 100%;
	padding-right: 25px;
	/*background: black;*/
	opacity: .75;
	overflow-y: auto;
}

#login-card .row{
	margin: 0!important;
}

.login-buttons{
	font-family: "telegrafico";
	font-size: 16px;
}

#login-card::-webkit-scrollbar-track
{
	background: transparent;
	/*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);*/
	/*background-color: #F5F5F5;*/
}

#login-card::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

#login-card::-webkit-scrollbar-thumb
{
	background-color: #00719c;
	border-radius: 5px;
}

.log-in-btn{
	font-size: 20px!important;
	border: none;
	width: 200px!important;
	height: 50px!important;
	/*border-radius: 2px;*/
}

.log-in-btn-up{
	background: white!important;	
}

.log-in-btn-up:hover{
	background: #00b8ff!important;
	color: white;
}

.log-in-btn-down{
	background: black!important; 
	color: white; 
	margin-top: 10px;	
}

.log-in-btn-down:hover{
	background: #00719c!important;
	color: black;
}

.sign-up-btn{
	font-family: telegrafico;
	/*padding: 5px!important;*/
	width: 150px;
	height: 50px;
	/*margin-left: 5px;*/
	/*margin-right: 5px;*/
	border: none;
	/*background: #00415a;*/
	color: black;
}

.sign-up-btn:hover{
	background: white;
	color: #00719c;
}

#backtologin{
	background: black!important;
	color: white!important;
}
#backtologin:hover{
	background: #00b8ff!important;
	color: black!important;
}

#signup-panel .col, #signup-panel input{
	margin: 0!important;
}

/*input::-webkit-input-placeholder{
	color: black!important;
	font-family: century-gothic!important;
	letter-spacing: 1px!important;
	font-style: bold;
}*/

#login-container input::-webkit-input-placeholder{
	color: white!important;
	font-family: telegrafico!important;
	letter-spacing: 1px!important;
	font-style: bold;
	font-size: 14px!important;
	line-height: 12px!important;
}

#login-container .input-field input[type=text]{
	border-bottom: 3px solid #00719c!important;
	font-family: century-gothic!important;
	letter-spacing: 1px!important;
	font-style: bold;
	font-size: 14px!important;
	line-height: 12px!important;
	color: white!important;
}

#login-container .input-field input[type=radio]{
	color: #00b8ff;
}

#login-container .input-field input[type=text]:focus,
#login-container .input-field input[type=password]:focus
{
	border-bottom: 3px solid white!important;
	color: #00b8ff!important;
}

#login-container .input-field input[type=password]{
	border-bottom: 3px solid #00719c!important;
	font-family: century-gothic!important;
	/*letter-spacing: 1px!important;*/
	font-style: bold;
	font-size: 16px!important;
	line-height: 12px!important;
	color: white!important;
 /*color: #00415a;*/
}

#login-container{
	background: url('/assets/login.jpg');
	background-size: cover;
}

#login-card{

}