#login-holder{
	top: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	/*background: blue;*/
	vertical-align: middle;
	padding-top: 60px;
}

#login-panel{
	width: 100%;
	height: 75%;
	/*background: white;*/
}

#login-cards{
	height: 100%;
	padding: 0;
}

#login-left, #login-right, #content-left, #content-right{
	height: 100%;
	padding: 0;

}

#title-left{
	background-image: url('/assets/login-leg.png');
	background-size: cover;
	font-size: 20px!important;
	text-shadow: 1px 1px #00415a;
}


#title-right{
	background-image: url('/assets/login-pc-bg.png');
	background-size: cover;
	background-color: #00415a;
	font-size: 20px!important;
	text-shadow: 1px 1px white;
}

#content-left, #content-right{
	overflow-y: scroll;
	padding-left: 10px;
	padding-right: 10px;
}

#content-left input{
	height: 30px;
}

#login-holder input::-webkit-input-placeholder{
	color: black!important;
	font-family: century-gothic!important;
	letter-spacing: 1px!important;
	font-style: bold;
	font-size: 12px!important;
	line-height: 12px!important;
}

#login-holder .input-field input[type=text]{
	border-bottom: 3px solid #00719c!important;
	font-family: century-gothic!important;
	letter-spacing: 1px!important;
	font-style: bold;
	font-size: 12px!important;
	line-height: 12px!important;
	color: black!important;
}

#login-holder .input-field input[type=radio]{
	color: #00b8ff;
}

#login-holder .input-field input[type=text]:focus,
#login-holder .input-field input[type=password]:focus, #login-holder .input-field input[type=text]:active,
#login-holder .input-field input[type=password]:active
{
	border-bottom: 3px solid black!important;
	color: #00415a!important;
}

#login-holder input[type=password]{
	border-bottom: 3px solid #00719c!important;
	font-family: century-gothic!important;
	font-style: bold;
	font-size: 12px!important;
	line-height: 12px!important;
	color: black!important;
	height: 30px!important;
}

.login-input{
	height: 30px!important;
	margin-top: 0px;
	margin-bottom: 20px;
}

.login-btn{
	height: 40px;
	width: 200px;
	border-radius: 20px;
	border: none;
	font-family: telegrafico;
	font-size: 18px;
	margin-bottom: 20px;
}

.login-btn:disabled{
	background: gray;
}

.login-info{
	text-align: center;
	font-size: 13px;
}


.login-info-small{
	margin-top: 30px;
	color: gray;
	font-size: 12px;
}

#content-left::-webkit-scrollbar-track
{
	background: transparent;
	/*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);*/
	/*background-color: #F5F5F5;*/
}

#content-left::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

#content-left::-webkit-scrollbar-thumb
{
	background-color: #00719c;
	border-radius: 5px;
}

#content-right::-webkit-scrollbar-track
{
	background: transparent;
	/*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);*/
	/*background-color: #F5F5F5;*/
}

#content-right::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

#content-right::-webkit-scrollbar-thumb
{
	background-color: #00719c;
	border-radius: 5px;
}

#login-signup::-webkit-scrollbar-track
{
	background: transparent;
	/*-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);*/
	/*background-color: #F5F5F5;*/
}

#login-signup::-webkit-scrollbar
{
	width: 6px;
	background-color: transparent;
}

#login-signup::-webkit-scrollbar-thumb
{
	background-color: #00719c;
	border-radius: 5px;
}