#login-container{
	height: 100%;
	width: 100%;
	padding-top: 50px;
}

#login-card{
	min-height: 350px;
	margin-bottom: 50px;
	border-radius: 5px;
	padding: 20px;
}

#login-card .row{
	margin: 0!important;
}

#login-buttons{
	font-family: "telegrafico";
	font-size: 16px;
}