#main::-webkit-scrollbar-track{
  background: transparent;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
  background-color: #bdbdbd;
}

#main::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

#main::-webkit-scrollbar-thumb{
  background-color: #00719c;
  /*border-radius: 5px;*/
}

#organizer-profile-tabs .indicator {
  background-color: #00a5d3;
}

#organizer-profile-img-container {
  height: 250px;
}

#organizer-profile-img {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px solid white;
  border-radius: 3px;
}

.organizer-pending-requests::-webkit-scrollbar-track{
  background: transparent;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
  background-color: #bdbdbd;
}
.organizer-pending-requests::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

.organizer-pending-requests::-webkit-scrollbar-thumb{
  background-color: #00719c;
  /*border-radius: 5px;*/
}

.organizer-profile-info {
    height: 250px;
    /*background-image: url('/assets/basketball.jpg')!important;*/
}

#organizer-profile-img {
	max-width: auto;
	max-height: 250px;
}

#organizer-profile-right-panel {
    position: relative;
    margin-left: 25%;
    width: 75%;
}

.slide-item {
    margin-bottom: 0px !important;
}

table.highlight tbody tr:hover {
    /*background-color: #00719c !important;*/
    /*color: white;*/
    cursor: pointer!important;
}

.organizer-add-form {
    margin-top: -20px !important;
}

#organizer-profile-ongoing, #organizer-profile-past, #organizer-profile-incoming {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#organizer-ongoing-showall {
    color: white !important;
}

#organizer-update-game:hover, #organizer-delete-game:hover {
    background-color: #00a5d3;
}

.organizer-showall {
    border: solid 2.5px;
    border-color: #00719c;
    border-radius: 0px 0px 8px 8px !important;
}

#organizer-profile-games {
    background-color: #00719c; 
    border-radius: 8px 8px 0px 0px;
}

.organizer-games-data {
    border-left: solid 2.5px;
    border-right: solid 2.5px;
    border-color: #00719c;
}

#organizer-profile-add-game {
    border: solid 2.5px;
    border-radius: 8px;
    padding: 10px;
    border-color: #00719c;
}

.organizer-footer {  
  /*background-color: red;*/
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  /*padding: 1rem;*/
  background-color: black !important;
  text-align: center;
  height: 6%;
  margin-bottom: 0px;
  /*float:left;*/
}

.organizer-footer ul li {
  display: inline;
  color: grey;
  font-size: 12px!important;    
  letter-spacing: 2px!important;
}

.organizer-footer div {
  margin-top: -0.5%;
  margin-right: 1%;
}

.organizer-actions{
    float: left;
    margin-right: 10px;
}

.organizer-actions:hover{
    color: #00719c;
    cursor: pointer!important;
    transition: color 0.3s;
}

.minimalist-button-org{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  border: solid 2px white;
  color: white;
  font-weight: bold;
  background: #00719c;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: telegrafico;
}

.minimalist-button-org:hover{
  background: white;
  color: #00719c;
  transition: background 0.3s;
}

.minimalist-button-org2{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  border: solid 2px #00719c;
  color: white;
  font-weight: bold;
  background: #00719c;
  letter-spacing: 1px;
  font-size: 12px;
  font-family: telegrafico;
}

.minimalist-button-org2:hover{
  background: #001f2b;
  color: white;
  transition: background 0.3s;
  border-radius: 3px;
  border: solid 2px #001f2b;
}

.organizer-modal-style {
  width: 100%; 
  max-height: 400px; 
  overflow-y: scroll; 
  margin-right: 5px;
}

.organizer-update-form {
  margin-top: -10px !important;
}

.organizer-input-style{
    height: 30px!important;
    border-bottom: 2px solid black!important;
    color: black!important;
    margin-bottom: 10px!important;
}

.organizer-input-style:focus{
    border-bottom: 2px solid #00719c!important;
}

.organizer-modal-style::-webkit-scrollbar-track{
  background: transparent;
  -webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
  background-color: #bdbdbd;
}

.organizer-modal-style::-webkit-scrollbar{
  width: 10px;
  background-color: transparent;
}

.organizer-modal-style::-webkit-scrollbar-thumb{
  background-color: #001f2b;
  /*border-radius: 5px;*/
}

/******** MODAL ********/
.organizer-header-fill{
    padding: 0px !important;
    overflow-x: hidden;
}

.organizer-remove-bottom {
  margin-bottom: 0px !important;
}

.organizer-padding-right {
    padding-right: 0rem !important;
}

.organizer-padding-left {
    padding-left: 0rem !important;
}

.organizer-remove-bottom-modal {
    margin-bottom: 0px !important;
}

.organizer-adjust-label {
    top: -14px !important;
    font-size: 0.8rem !important;
}

/* input tags */
.organizer-input-color-change input:not([type]):focus:not([readonly]),
.organizer-input-color-change input[type=text]:focus:not([readonly]),
.organizer-input-color-change input[type=date]:focus:not([readonly]),
.organizer-input-color-change input[type=password]:focus:not([readonly]),
.organizer-input-color-change textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #00415a;
  box-shadow: 0 1px 0 0 #00415a;
}

.organizer-input-color-change input:not([type]):focus:not([readonly]) + label,
.organizer-input-color-change input[type=text]:focus:not([readonly]) + label,
.organizer-input-color-change input[type=date]:focus:not([readonly]) + label,
.organizer-input-color-change input[type=password]:focus:not([readonly]) + label,
.organizer-input-color-change textarea.materialize-textarea:focus:not([readonly]) + label.organizer-textarea-label-color-change {
  color: #00415a;
}

/* input - textarea */
.organizer-textarea-label-color-change{
  color: #00415a;   
}

/* radio buttons */
.organizer-radio-button [type="radio"]:checked + label:after,
.organizer-radio-button [type="radio"].with-gap:checked + label:before,
.organizer-radio-button [type="radio"].with-gap:checked + label:after {
  border: 2px solid #00415a;
}

.organizer-radio-button [type="radio"]:checked + label:after,
.organizer-radio-button [type="radio"].with-gap:checked + label:after {
  background-color: #00415a;
}