.organizer-profile-info {
    height: 250px;
    /*background-image: url('/assets/basketball.jpg')!important;*/
}

#organizer-profile-img {
	max-width: auto;
	max-height: 250px;
}

#organizer-profile-right-panel {
    position: relative;
    margin-left: 25%;
    width: 75%;
}

.slide-item {
    margin-bottom: 0px !important;
}

table.highlight tbody tr:hover {
    /*background-color: #00719c !important;*/
    /*color: white;*/
    cursor: pointer!important;
}

.organizer-add-form {
    margin-top: -20px !important;
}

#organizer-profile-ongoing, #organizer-profile-past, #organizer-profile-incoming {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

#organizer-ongoing-showall {
    color: white !important;
}

#organizer-update-game:hover, #organizer-delete-game:hover {
    background-color: #00a5d3;
}

.organizer-showall {
    border: solid 2.5px;
    border-color: #00719c;
    border-radius: 0px 0px 8px 8px !important;
}

#organizer-profile-games {
    background-color: #00719c; 
    border-radius: 8px 8px 0px 0px;
}

.organizer-games-data {
    border-left: solid 2.5px;
    border-right: solid 2.5px;
    border-color: #00719c;
}

#organizer-profile-add-game {
    border: solid 2.5px;
    border-radius: 8px;
    padding: 10px;
    border-color: #00719c;
}

.organizer-footer {  
  /*background-color: red;*/
  /*position: absolute;
  right: 0;
  bottom: 0;
  left: 0;*/
  /*padding: 1rem;*/
  background-color: black !important;
  text-align: center;
  height: 6%;
  margin-bottom: 0px;
  /*float:left;*/
}

.organizer-footer ul li {
  display: inline;
  color: grey;
  font-size: 12px!important;    
  letter-spacing: 2px!important;
}

.organizer-footer div {
  margin-top: -0.5%;
  margin-right: 1%;
}

.organizer-actions{
    float: left;
    margin-right: 10px;
}

.organizer-actions:hover{
    color: #00719c;
    cursor: pointer!important;
    transition: color 0.3s;
}