#organization-lead {
  display:block;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 16%;
  width: 16%;
}

#organization-name {
  padding-top: 1%;
  font-size: 200%;
  text-align: center;
  margin-top: 0.5%;
}

.organization-header {
  height: 99%;
  /*background-color: red;*/
}

.organization-handler {
  font-size: 150%;
}

.organization-player-name, .organization-position {
  text-align: center;
  font-size: 110%;
}

.organization-teams {
  margin-top: 1%;
}

.organization-players {
  border-radius: 50%;
  height: 70%;
  width: 70%;
}

.organization-mem {
  text-align: center;
}

.container > .row > div > .organization-players{
  margin-left: auto;
  margin-right: auto;
}

.pic {
  width: 100%;
  height: 100%;
}

.pic-modal {
  width: 100%;
  height: 100%;
}

.slidepic {
  width: 300px;
  height: 200px;
}

.desc {
  position: relative;
  cursor: pointer;
}

.slider4 {
 width: 100%;
}

.desc span { 
  display: none;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, .7);
  color: #fff;
}