.avatar {
  border-radius: 50%;
  background-color: red;
  width: 14%;
  height: 14%;
}

#team-lead {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.name, .description, #page-name {
  text-align: center;
}

.avatar {
/*  float:left;*/
  /*margin-left: %;*/
  text-align: justify;
}

.players {
  /*display: inline;*/
  /*background-color: red;*/
  text-align: center;
}

.playername {
  /*display:inline;*/
  float:left;
/*  margin-left: 15%;*/
}

#page-name {
  margin-top: 11%;
}

.mainhol > .container >div {
  float:left;
  padding-top: 2%;
  height: 50%;
  width: 20%;
  /*border: 1px solid black;*/
}

.players > img {
  width: 60%;
  height: 60%;
}

.player-desc {
  text-align: center;
  margin-top: -2%;
}