#organization-logo {
  display:block;
  /*border-radius: 50%;*/
  /*margin-top: 0%;*/
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  height: 14%;
  width: 14%;
}

.organization-team {
  /*border: 1px solid black;*/
  border-radius: 10px;
}

.organization-team:hover {
  background: #00719c;
  transition: background 0.5s;
}

.organization-team:hover h5, .organization-team:hover span {
  color: white!important;
}

.organization-team span {
  font-size: 80%;
}

#organization-main-tabs {
  /*margin-top: -18px;*/
  margin-top: -1.29%;
}

#organization-modal-header h4 {
  margin: 0;
  padding: 0;
}

#organization-modal-header h1 {
  margin: 0;
  padding: 0;
}

#organization-main-tabs .indicator {
  background-color: #00a5d3;
  height: 5px;
}

#team-table-1 {
  border: 5px solid #001f2b;
  border-radius: 2px;
}

#organization-table th {
  font-size: 90%;
}

#organization-table td {
  font-size: 90%;
  border-radius: 0;
}

#organization-table tbody tr:hover {
  background-color: #00a5d3;
  color: #ffffff;
}

#organization-main-tabs a {
  color: #ffffff;
  font-size: 90%;
}

#organization-main-tabs a:hover {
  color: #00a5d3;
}

#organization-main-tabs .active {
  color: #00a5d3;
}

#org-wins-count-panel h1 h3 {
  margin: 0;
  padding: 0;
}

#organization-name {
  padding-top: -2%;
  font-size: 300% !important;
  text-align: center;
  margin-top: 0.5%;
  padding-bottom: 0.5%;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
}

.organization-header {
  height: 100%;
  background-image: url('/assets/basketball.jpg') !important;
  background-size: cover;
  /*background-color: red;*/
}

.organization-team-info {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.organization-team-info:active {
  background: none !important;
  border: none;
  margin: 0 ;
  padding: 0;
}

.organization-team-name, .organization-team-info, .organization-team-member-name, .organization-team-member-info {
  text-align: center;
  font-size: 110%;
}

.statistics-label {
  /*background-color: red;*/
  margin: 0;
}

.statistics-label h3 {
  margin: 0;
  padding: 0;
  padding: 5px;
}

.organization-team-name {
  font-size: 130%;
}

.organization-team-info-mem-label {
  text-align: center;
}

.organization-team-list {
  margin-top: 1%;
}

.organization-team-logo, .organization-team-member-avatar {
  border-radius: 50%;
  height: 70%;
  width: 70%;
}

.organization-team-logo {
  margin-top: 5%;
}

.organization-team, .organization-team-member {
  text-align: center;
}

.organization-team-member-info {
  font-size: 95%;
}

.container > .row > div > .organization-team-logo{
  margin-left: auto;
  margin-right: auto;
}

.pic {
  width: 100%;
  height: 100%;
}

.pic-modal {
  width: 100%;
  height: 100%;
}

.slidepic {
  width: 300px;
  height: 200px;
}

.desc {
  position: relative;
  cursor: pointer;
}

.slider4 {
 width: 100%;
}

.slider5 {
  padding-top: 2%;
}

.desc span { 
  display: none;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, .7);
  color: #fff;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  border: 0;
}

.org-handler {
  margin: 0;
  margin-top: 1%;
}

.org-handler h4 {
  margin-top: 0;
  padding-top: 1.3%;
}

.stat-nums {
  font-size: 1000%;
  /*margin-left: 60%;*/
  text-align: center;
  text-shadow: 1px 1px grey;
}

.stat-nums-modal {
  font-size: 500%;
  text-align: center;
  text-shadow: 1px 1px grey;
}

.stats-modal-label {
  font-size: 200%;
  text-align: center;
}

.right-stat {
  margin-top: 1.7%;
  border-left: 3px solid #001f2b;
}

.join-team-close {
  margin-right: 10px;
}

.recent-games-card {
  border-radius: 2px;
  height: 100% !important;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.recent-games-card h4 {
  margin-top: 0;
}

.recent-games-card span {
  padding-bottom: 2%;
}

.see-more {
  margin: 0;
  margin-top: 2.5%;
  border: 0;
  height: 100% !important;

}

.recent-games-card:hover {
  background: #00719c;
  transition: background 0.5s;
}

.see-more:hover {
  background: none;
  transition: none;
}

.recent-games-card:hover h4, .recent-games-card:hover span {
  color: white!important;
}

.all-games-card:hover {
  background: #00719c;
  transition: background 0.5s;
}


.all-games-card {
  border-radius: 2px;
  height: 100% !important;
  /*margin-left: 1%;*/
  /*margin-right: 2%;*/
  margin-bottom: 2%;
}

.all-games-card h4 {
  margin-top: 0;
}

.all-games-card span {
  padding-bottom: 2%;
}

.all-games-card:hover h4, .all-games-card:hover span {
  color: white!important;
}

#games-header {
  background-color: #001f2b;
  width: 100%;
  height: 23%;
  padding-top: 3.2%;
}

.org-search-panel {
  height: 70px;
}


.search-bar-config {
  /*margin-left: -3%;*/
}


#org-game-search input{
    margin: 0;
}

#organization-table td:hover .org-standing {
  text-shadow: 1px 0px black;
}

#org-game-search-bar input {
    outline: none;
}
#org-game-search-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "rockwell";
    font-size: 12px;
}
#org-game-search-bar input::-webkit-search-decoration,
#org-game-search-bar input::-webkit-search-cancel-button {
    display: none;
}

#org-game-search-bar input[type=search] {
    margin-bottom: 30px !important;
    background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: 2px solid #001f2b;
    padding: 9px 10px 9px 32px;
    width: 60% !important;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#org-game-search-bar input[type=search]:focus {
    padding-left: 32px;
}

#org-game-search-bar input[type=search] {
    height: 16px;
}

#org-game-search-bar input[type=search]:hover {
    /*background-color: #fff;*/
}

#org-game-search-bar input:-moz-placeholder {
    color: transparent;
}

#org-game-search-bar input::-webkit-input-placeholder {
    color: transparent;
}

#org-team-search input{
    margin: 0;
}

#org-team-search-bar input {
    outline: none;
}
#org-team-search-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "rockwell";
    font-size: 12px;
}
#org-team-search-bar input::-webkit-search-decoration,
#org-team-search-bar input::-webkit-search-cancel-button {
    display: none;
}

#org-team-search-bar input[type=search] {
    margin-bottom: 30px !important;
    background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: 2px solid #001f2b;
    padding: 9px 10px 9px 32px;
    width: 30%;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#org-team-search-bar input[type=search]:focus {
    /*padding-left: 32px;*/
}

#org-team-search-bar input[type=search] {
    height: 16px;
}

#org-team-search-bar input[type=search]:hover {
    /*background-color: #fff;*/
}

#org-team-search-bar input:-moz-placeholder {
    color: transparent;
}

#org-team-search-bar input::-webkit-input-placeholder {
    color: transparent;
}


#organization-team-tabs {
  /*margin-top: -18px;*/
  margin-top: -1.29%;
}

#organization-team-tabs .indicator {
  background-color: #00a5d3;
  height: 5px;
}

#organization-team-tabs a {
  color: #ffffff;
  font-size: 90%;
}

#organization-team-tabs a:hover {
  color: #00a5d3;
}

#organization-team-tabs .active {
  color: #00a5d3 !important;
}

#emptyTeam {
    font-size: 30px;
}