#organization-logo {
  display:block;
  /*border-radius: 50%;*/
  /*margin-top: 0%;*/
  padding-top: 2%;
  margin-left: auto;
  margin-right: auto;
  height: 16%;
  width: 16%;
}

.organization-team {
  /*border: 1px solid black;*/
  border-radius: 10px;
}

.organization-team:hover {
  background: #00719c;
  transition: background 0.5s;
}

.organization-team:hover h5, .organization-team:hover span {
  color: white!important;
}

.organization-team span {
  font-size: 80%;
}

#organization-name {
  padding-top: 1%;
  font-size: 300%;
  text-align: center;
  margin-top: 0.5%;
  color: #ffffff;
  text-shadow: 2px 2px 3px black;
}

.organization-header {
  height: 99%;
  background-image: url('/assets/basketball.jpg') !important;
  background-size: cover;
  /*background-color: red;*/
}

.organization-team-info {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
}

.organization-team-info:active {
  background: none !important;
  border: none;
  margin: 0 ;
  padding: 0;
}

.organization-team-handler {
  font-size: 150%;
}

.organization-team-name, .organization-team-info, .organization-team-member-name, .organization-team-member-info {
  text-align: center;
  font-size: 110%;
}

.organization-team-name {
  font-size: 130%;
}

.organization-team-info-mem-label {
  text-align: center;
}

.organization-team-list {
  margin-top: 1%;
}

.organization-team-logo, .organization-team-member-avatar {
  border-radius: 50%;
  height: 70%;
  width: 70%;
}

.organization-team-logo {
  margin-top: 5%;
}

.organization-team, .organization-team-member {
  text-align: center;
}

.organization-team-member-info {
  font-size: 95%;
}

.container > .row > div > .organization-team-logo{
  margin-left: auto;
  margin-right: auto;
}

.pic {
  width: 100%;
  height: 100%;
}

.pic-modal {
  width: 100%;
  height: 100%;
}

.slidepic {
  width: 300px;
  height: 200px;
}

.desc {
  position: relative;
  cursor: pointer;
}

.slider4 {
 width: 100%;
}

.slider5 {
  padding-top: 2%;
}

.desc span { 
  display: none;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, .7);
  color: #fff;
}

.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow:none;
  border: 0;
}

.org-handler {
  margin: 0;
  margin-top: 1%;
}

.org-handler h4 {
  margin-top: 0;
  padding-top: 1.3%;
}

.stat-nums {
  font-size: 1000%;
  /*margin-left: 60%;*/
  text-align: center;
}


.right-stat {
  margin-top: 1.7%;
  border-left: 3px solid #001f2b;
}

.join-team-close {
  margin-right: 10px;
}

.recent-games-card {
  border-radius: 2px;
  height: 100% !important;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}

.recent-games-card h4 {
  margin-top: 0;
}

.recent-games-card span {
  padding-bottom: 2%;
}

.see-more {
  margin: 0;
  margin-top: 2.5%;
  border: 0;
  height: 100% !important;

}

.recent-games-card:hover {
  background: #00719c;
  transition: background 0.5s;
}

.see-more:hover {
  background: none;
  transition: none;
}

.recent-games-card:hover h4, .recent-games-card:hover span {
  color: white!important;
}

.all-games-card:hover {
  background: #00719c;
  transition: background 0.5s;
}


.all-games-card {
  border-radius: 2px;
  height: 100% !important;
  /*margin-left: 1%;*/
  /*margin-right: 2%;*/
  margin-bottom: 2%;
}

.all-games-card h4 {
  margin-top: 0;
}

.all-games-card span {
  padding-bottom: 2%;
}

.all-games-card:hover h4, .all-games-card:hover span {
  color: white!important;
}

#games-header {
  background-color: #001f2b;
  width: 100%;
  height: 23%;
  padding-top: 3.2%;
}