#stats {
    margin-top: 0px;
}

#left-panel {
    margin-top: 0px;
    /*position: fixed;
    width: 25%;*/
}

/*#right-panel {
    position: relative;
    margin-left: 25%;
}*/

#slider-img {/*
    width: 20%;
    height: auto;*/
}

.slide-item {
    margin-bottom: 0px !important;
}