#search-img {
	max-width: 100%;
    max-height: 100%;
}

.search {
    padding-left: 0 !important;
    padding-right: 0 !important;
    position: inherit !important;
}

.padding-right {
    padding-right: 0rem !important;
}

.padding-left {
    padding-left: 0rem !important;
}

.small-action {
    height: 10px;
}

.smaller-pic {
    width: 5em;
    height: 5em;
}

.halfway-fab {
    bottom: -40px !important;
}

.extra-padding {
    padding-top: 20% !important;   
}

.padding-down {
    padding-bottom: 5% !important;
}

.deletion {
    width: 30%;
}

.addition {
    width: 40%;
    /*height: 60%;*/
}

.remove-bottom {
  margin-bottom: 0px !important;
}

.btn-height {
    height: 36px !important;
}

.search-adjust {
    margin-top: -13px;
}

.sort-adjust {
    margin-top: 9px !important;
}

#search-img-card {
    padding-left: 0px !important;
    padding-right: 0px !important;
}