.search-sort-adjust {
    margin-top: 5px !important;
}

.search-sort-part {
    width: 100%;
    margin-left: -13%s;
}

.filter-holder {
    margin-left: 1.7%;
}

.search-results {
    margin-top: 2%;
}

.search-result-card {
    border: 2px solid black;
    border-radius: 2px; 
}

.search-result-card:hover {
    background-color: #00a5d3;
    transition: all .5s;
    color: white;
}

.search-header span {
    font-size: 150%
}

.search-result-content {
    height: 30px;
}