/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

#nav-dropdown li a:hover{
	background: #212121;
}

#nav-logo-malicsi{
	height: 30px;
	width: 30px;
}

html, body {
	/*width: 100%;
	height: 100%;*/
	margin: 0;
	padding: 0;
}

body::-webkit-scrollbar-track{
	background: transparent;
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	background-color: #bdbdbd;
}

body::-webkit-scrollbar{
	width: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-thumb{
	background-color: #00719c;
	/*border-radius: 5px;*/
}

#navbar{
	z-index: 9999;
	width: 100%;
	height: 60px;
	background: black;
	position: fixed;
	color: white;
	margin: 0!important;
	padding-left: 5%;
	padding-right: 5%;
}

#nav-profile{
	color: white!important;
	/*text-overflow: ellipsis*/
}

#navname {
	padding-left: 5px;
	width: 60px;
	text-overflow: ellipsis;
}

#nav-profile:hover{
	border-color: white!important;
}

#nav-logo{
	/*width: 25%;*/
	height: 100%;
	font-family: "leixo";
	font-size: 24px;
}

.mobile-logo-malicsi{
	left: 50%;
}

.navbar-rightside{
	height: 60px !important;
}

.logo-details{
	font-family: "leixo";
	font-size: 24px;
}

#logo img{
	width: 40px;
	height: 40px;
}

#nav-search-bar{
	height: 100%;
	/*background: blue;*/
}

#navbar .col{
	margin: 0!important;
	padding: 0;
}

#navbar img{
	margin-right: 15px;
}

#navigation{
	height: 100%;
}

.navbtns {
	padding-left: 10px;
	padding-right: 10px;
	height: 100%;
	font-size: 16px;
	font-family: "telegrafico";
	cursor: pointer!important;
}

.navbtns:hover{
	padding-top: 5px;
	border-bottom: solid 5px;
	border-color: #00b8ff;
	/*transition: border-bottom 0.5s;*/
}

#navbar a {
	color: #757575;
	height: 100%;
	border-radius: 0!important;
}

#mainHolder{
	width: 100%;
	height: 100%;
	padding-top: 60px;
}


#main{
	height: 100%;
	overflow-y: auto!important;
}

.dark-primary {
	background-color: #303f9f;
}

.primary {
	background-color: #3f51b5;
}

.light-primary {
	background-color: #c5cae9;
}

.accent-color {
	background-color: #03a9f4;
}

.primary-text {
	color: #212121;
}

.secondary-text {
	color: #757575;
}

.divider-color {
	background-color: #bdbdbd;
}

#nav-search{
	height: 50% !important;
}

#nav-search input{
	margin: 0;
}

#nav-search-bar input {
	outline: none;
}
#nav-search-bar input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: "telegrafico";
    font-size: 16px;
}
#nav-search-bar input::-webkit-search-decoration,
#nav-search-bar input::-webkit-search-cancel-button {
	display: none; 
}


#nav-search-bar input[type=search] {
    background: #00a6d7 url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: none;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

#nav-search-bar input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	padding-left: 32px;
	color: #000;
	border-color: white;
	cursor: auto;
	
	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}

#nav-search-bar input[type=search] {
    margin-top: 13px;
    height: 16px;
	width: 15px;
	padding-left: 12px;
	color: transparent;
	cursor: pointer;
}
#nav-search-bar input[type=search]:hover {
	background-color: #fff;
}

#nav-search-bar input:-moz-placeholder {
	color: transparent;
}
#nav-search-bar input::-webkit-input-placeholder {
	color: transparent;
}

.sidenav-photo-header {
    height: 150px;
}

#sidenav-name{
    margin-top: 30% !important;
}

.sidenav-header{
    font-size: 20px;
    font-weight: 900;
    margin-left: 5%;
}

.sidenav-search {
    margin-left: 10% !important;
}