/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

body {
	width: 100%;
	height: 100%;
}

nav {
	padding-left: 50px;
	padding-right: 50px;
	background: #212121;
}

nav a {
	font-size: 12px!important;
	letter-spacing: 2px!important;
}

#navbar{
	width: 100%;
	height: 45px;
	background: #212121;
	position: fixed;
	color: white;
	margin: 0!important;
}

#logo {
}

#logo img{
	width: 40px;
	height: 40px;
}

#navbar .col{
	margin: 0!important;
}

.navbtns {
	width: 80px;
}

#navbar a {
	color: #757575;
	height: 100%;
	border-radius: 0!important;
}

#mainHolder{
	width: 100%;
	height: 100%;
}


#main{
	height: 100%;
}