/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2') format('woff2');
}

body {
	width: 100%;
	height: 100%;
	/*position: fixed;*/
}

#navbar{
	height: 45px;
	background: black;
}

#mainHolder{
	padding-top: 45px;
}

#main{
}

/*Darkens the images in the slider*/
.slider .slides img {
  filter: brightness(40%); 
  max-width: 100%;
  max-height: 100%;
}

.slider {
  position:relative;
}

/*Information under the slider*/
.under-slider {
  position: relative;
  width: 100%;
}

/*View all games button*/
.view-games {
  position: absolute;
  z-index: 5;
  margin-top: 1%;
  margin-left: 88.5%;
}

/*Sets the style of the individual info boxes*/
.info {
  float: left;
  height: 150px;
  width: 20%;
  /*background-color: #BDBDBD;*/
/*  margin-top: 1%;*/
  margin-left: 10%
}

.info p {
  /*font-family: Roboto;*/
  font-size: 100%;
  text-align: center;
  /*margin-top: 0 px;*/
}

.info:hover {
  /*background-color: grey;*/
}
