.dark-primary {
	background-color: #303E9F;
}

.primary {
	background-color: #4050B6;	
}

.light-primary {
	background-color: #C6C9E8;	
}

.text-icons{
	background-color: #FFFFFF;	
}

.accent{
	background-color: #03A9F5;	
}

.primary-text{
	background-color: #212121;	
}

.secondary-text{
	background-color: #757575;	
}

.divider{
	background-color: #BDBDBD;	
}
